{% extends 'base.html' %}
{% load helper_tags interface_tags %}

{% block html_head %}

{% endblock %}

{% block body_title %}
<div class="ss_header">
<div class="container">
	{% print_master_plan_header master_plan %}
</div>
</div>
<div class="ss_tab_navi">
	<div class="tabs">
		<ul>
			<li class="selected">ภาพรวม</li>
			<li><a href="{% url view_master_plan_report master_plan.id %}">รายงานความก้าวหน้า</a></li>
			<li><a href="{% url view_master_plan_plans master_plan.id %}">แผนงาน/โครงการ</a></li>
			<li><a href="{% url view_master_plan_kpi master_plan.id %}">ตัวชี้วัด</a></li>
		</ul>
		<div class="clear"></div>
	</div>
</div>
{% endblock %}

{% block body_content %}
<div class="overview_page">	
	<h2>แผนงาน/โครงการที่ดำเนินอยู่</h2>
	<div class="hierarchy_section master_plan_hierarchy_section">
		{% if master_plan.plans %}
		{% for plan in master_plan.plans %}
			<h3>{{plan.ref_no}} {{plan.name}}</h3>
			{% if not plan.current_projects %}
				<div class="ss_no_information">ไม่มีแผนงาน/โครงการ</div>
			{% else %}
				<ul>
					{% for project in plan.current_projects %}
					<li>
						<a href="{% url view_project_overview project.id %}">{{project.ref_no}} {{project.name}}</a>
						<div class="item_overview"><span>ระยะเวลา <em>{{project.start_date|abbr_date}} - {{project.end_date|abbr_date}}</em></span> <span>ผู้รับผิดชอบ <em>{% who_responsible project %}</em></span></div>
					</li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endfor %}
		{% else %}
		<div class="ss_no_information">ไม่มีข้อมูลแผนงาน/โครงการ</div>
		{% endif %}
	</div>
	
	<h2>ภาพรวมการเบิกจ่าย</h2>
	<div class="finance_overview">
		{% ifequal master_plan.all_target -1 %}
			<div class="ss_no_information">ไม่มีข้อมูลการเบิกจ่ายภายใต้แผนหลักนี้</div>
		{% else %}
			<div class="graph_label">การเบิกจ่ายตามการคาดการณ์</div>
			<div class="ss_bar_graph">
				<div style="width:{{master_plan.percent_target}}%;"></div>
			</div>
			<div class="graph_value">{{master_plan.sum_target}} / {{master_plan.all_target}} บาท</div>
			
			<div class="graph_label">การเบิกจ่ายจริง</div>
			<div class="ss_bar_graph">
				<div class="{% display_finance_graph_class master_plan.sum_target master_plan.sum_result %}" style="width:{{master_plan.percent_result}}%;"></div>
			</div>
			<div class="graph_value">{{master_plan.sum_result}} / {{master_plan.all_target}} บาท</div>
			
			<ul class="recent">
			{% for event in master_plan.events %}
				<li>
					<span>{{event.date|abbr_date}}</span>
					
					{% ifequal event.type 'late' %}
					<a href="{% url view_project_overview event.data.project.id %}">แผนงาน {{event.data.project.ref_no}}</a>
					เลยงวดการเบิกจ่ายมาแล้ว {{event.data.target_on|elapse}}
					{% endifequal %}
					
					{% ifequal event.type 'postpone' %}
					<a href="{% url view_project_overview event.data.schedule.project.id %}">แผนงาน {{event.data.schedule.project.ref_no}}</a>
					เลื่อนงวดการเบิกเงินจากวันที่ {{event.data.org_target_on|abbr_date}} เป็นวันที่ {{event.data.new_target_on|abbr_date}}
					{% endifequal %}
				</li>
			{% endfor %}
			</ul>
		{% endifequal %}
	</div>
</div>
{% endblock %}
