{% extends 'base.html' %}
{% load helper_tags interface_tags i18n humanize %}

{% block html_head %}

{% endblock %}

{% block body_title %}
<div class="ss_header">
<div class="container">
	{% print_master_plan_header master_plan %}
</div>
</div>
<div class="ss_tab_navi">
	<div class="tabs">
		<ul>
			<li><a href="{% url view_master_plan_overview master_plan.id %}">ภาพรวม</a></li>
			<li class="selected">รายงานความก้าวหน้า</li>
			<li><a href="{% url view_master_plan_plans master_plan.id %}">แผนงาน/โครงการ</a></li>
			<li><a href="{% url view_master_plan_kpi master_plan.id %}">ตัวชี้วัด</a></li>
		</ul>
		<div class="clear"></div>
	</div>
</div>
{% endblock %}

{% block body_content %}
<div class="overview_page">	
	<h2>แผนผลลัพธ์</h2>
	<div class="hierarchy_section master_plan_hierarchy_section">
		{% if master_plan.plans %}
		<table class="border">
			<tr>
				<th rowspan="2">{% trans 'Master Plan Activities' %}</th>
				<th colspan="2">Q1</th>
				<th colspan="2">Q2</th>
				<th colspan="2">Q3</th>
				<th colspan="2">Q4</th>
			</tr>
			<tr>
				<td>คาดการณ์</td>
				<td>ผลที่เกิด</td>
				<td>คาดการณ์</td>
				<td>ผลที่เกิด</td>
				<td>คาดการณ์</td>
				<td>ผลที่เกิด</td>
				<td>คาดการณ์</td>
				<td>ผลที่เกิด</td>
			</tr>
			{% for plan in master_plan.plans %}
				<tr>
					<td><strong>{{ plan.name }} ({{ plan.ref_no }})</strong></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				{% for project in plan.current_projects %}
					{% if not project.parent_project %}
					<tr>
						<td>{{ project.name }}</td>
						{% for quarter in project.quarters %}
							<td>
								<ul>
								{% for kpi in quarter.kpi_list %}
									<li>{{ kpi.kpi.ref_no }} ({{ kpi.sum_target }} {{ kpi.kpi.unit_name }})</li>
								{% endfor %}
								</ul>
							</td>
							<td>
								<ul>
								{% for kpi in quarter.kpi_list %}
									<li>{{ kpi.kpi.ref_no }} ({{ kpi.sum_result }} {{ kpi.kpi.unit_name }})</li>
								{% endfor %}
								</ul>
							</td>
						{% endfor %}
					</tr>
					{% endif %}
				{% endfor %}
			{% endfor %}
		</table>
		{% else %}
		<div class="ss_no_information">ไม่มีข้อมูลแผนงาน/โครงการ</div>
		{% endif %}
	</div>
	
	<h2>การเบิกจ่าย</h2>
	<div class="finance_overview">
		{% ifequal master_plan.all_target -1 %}
			<div class="ss_no_information">{% trans 'There is no activity of disbursement.' %}</div>
		{% else %}
			<table class="border">
				<tr>
					<th rowspan="2">{% trans 'Master Plan Activities' %}</th>
					<th rowspan="2">{% trans 'Budget (Baht)' %}</th>
					<th colspan="12">{% trans 'Target Month' %}</th>
				</tr>
				<tr>
				{% generate_month_span_td master_plan.month_span.start_month %}
				</tr>
				{% for plan in master_plan.plans %}
					<tr>
						<td><strong>{{ plan.name }}</strong></td>
						<td>{% trans 'Plan Code' %} {{ plan.ref_no }}</td>
						{% generate_month_span_td %}
					</tr>
					{% for project in plan.current_projects %}
						{% if not project.parent_project %}
						<tr>
							<td>{{ project.name }}</td>
							<td style="text-align:right;">{{ project.budget|intcomma }}</td>
							{% generate_project_budget_schedule project %}
						</tr>
						{% endif %}
					{% endfor %}
				{% endfor %}
			</table>
		{% endifequal %}
	</div>
</div>
{% endblock %}
