{% extends 'base.html' %}
{% load helper_tags interface_tags %}

{% block html_head %}

{% endblock %}

{% block body_title %}
<div class="ss_header">
<div class="container">
	{% print_master_plan_header master_plan %}
</div>
</div>
<div class="ss_tab_navi">
	<div class="tabs">
		<ul>
			<li><a href="{% url view_master_plan_overview master_plan.id %}">ภาพรวม</a></li>
			<li><a href="{% url view_master_plan_plans master_plan.id %}">แผนงาน/โครงการ</a></li>
			<li class="selected">ตัวชี้วัด</li>
		</ul>
		<div class="clear"></div>
	</div>
</div>
{% endblock %}

{% block body_content %}
<div class="masterplan_kpi_page">
	{% if master_plan.categories %}
	{% for category in master_plan.categories %}
		<h2><span>กลุ่มตัวชี้วัด</span> {{category.name}}{% if category.is_organization_kpi %} <span class="organization_kpi">(ตัวชี้วัดระดับองค์กร)</span>{% endif %}</h2>	
		<table>
			<tr>
				<th></th>
				{% for year in years %}
				<th class="year">ปี {{year}}</th>
				{% endfor %}
			</tr>
			{% for kpi in category.kpis %}
				<tr class="kpi_name">
					<td colspan="3">{{kpi.ref_no}} {{kpi.name}}</td>
				</tr>
				<tr class="kpi_row">
					<td></td>
					{% for year in kpi.years %}
					<td>
						{% ifequal year -1 %}
						<div class="ss_bar_graph ss_bar_graph_disabled"></div>
						<div class="graph_value graph_value_disabled">ไม่มีข้อมูล</div>
						{% else %}
						<div class="ss_bar_graph">
							<div class="{% display_kpi_graph_class year %}" style="width:{{year}}%;"></div>
						</div>
						<div class="graph_value">{{year}}%</div>
						{% endifequal %}
					</td>
					{% endfor %}
				</tr>
				
				{% for project in kpi.projects %}
				<tr class="project_kpi">
					<td class="project"><a href="{% url view_project_overview project.id %}">แผนงาน {{project.ref_no}}</a></td>
					{% for year in project.years %}
					<td>
						{% ifequal year -1 %}
						<div class="ss_bar_graph ss_bar_graph_disabled"></div>
						<div class="graph_value graph_value_disabled">ไม่มีข้อมูล</div>
						{% else %}
						<div class="ss_bar_graph">
							<div class="{% display_kpi_graph_class year %}" style="width:{{year}}%;"></div>
						</div>
						<div class="graph_value">{{year}}%</div>
						{% endifequal %}
					</td>
					{% endfor %}
				</tr>
				{% endfor %}
			{% endfor %}
		</table>
	{% endfor %}
	{% else %}
	<div class="ss_no_information">ไม่มีข้อมูลตัวชี้วัด</div>
	{% endif %}
</div>
{% endblock %}