.clear {clear:both;margin:0;padding:0;height:0;width:0;}

a:link, a:visited, a:active {color:#369;}
a:hover {background-color:#369;color:#FFF;}
.icon {vertical-align:middle;}

html, body {background-color:#F3F3F3;}

.calendarbox {border:1px solid #999;}

/*
ENTRANCE PAGE
*/
.entrance_page .logo {margin:20px auto;text-align:center;}
.entrance_page h1 {text-align:center;font-size:182%;margin:20px 0px;color:#017c54;font-weight:bold;}
.entrance_page h2 {font-size:123.1%;margin:10px 30px 20px;color:#2D8659;padding:5px 0px;border-bottom:1px solid #999;}
.entrance_page p {margin:0px 10px 10px 30px;}
.entrance_page .instruction {background-color:#FFC;padding:5px 10px;margin:10px 30px;border:1px solid #CCC;}

.entrance_page #entrance_content {margin:0px auto;width:450px;border:1px solid #CCC;padding:10px 15px;background-color:#FFF;}
.entrance_page form ul {margin:0px;padding:0px 20px;}
.entrance_page form li {margin:15px;list-style:none;font-size:100%;}
.entrance_page form li label {display:block;margin:0px 0px 4px;font-size:93%;}
.entrance_page form li input {width:350px;}
.entrance_page form .button_panel {margin:20px 0px 20px 35px;}
.entrance_page form .button_panel button {padding:5px 15px;font-size:90%;border:1px solid #999;background-color:#666;color:#FFF;}
.entrance_page form .button_panel span {margin-left:25px;}
.entrance_page form .button_panel a:link, .entrance_page form .button_panel a:visited, .entrance_page form .button_panel a:active {font-size:85%;margin:0px 5px;}
.entrance_page form .errors {margin:15px 0px;color:#C30;}
.entrance_page form .errorlist {margin:0px;padding:0px;color:#C30;}
.entrance_page form .errorlist li {margin:3px 0px 0px 0px;padding:0px;font-size:85%;}

/* Base Template */
.body_header {background:#366 repeat-x;border-bottom:1px solid #CCC;height:40px;}
.body_header .logo_panel {padding-top:7px;padding-left:10px;}
.body_header .logo_panel a:link, .body_header .logo_panel a:visited, .body_header .logo_panel a:active {font-size:197%;font-family:serif;font-weight:bold;margin:0px 8px;color:#F3F3F3;text-decoration:none;}
.body_header .logo_panel a:hover {background:none;}
.body_header .account_panel {float:right;color:white;font-size:116%;padding:10px 15px 5px;}
.body_header .account_panel a:link, .body_header .account_panel a:visited, .body_header .account_panel a:active {margin:0px 8px;color:#FFC;}
.body_header .account_panel .username {}
.body_header .account_panel a.logout-link:link, .body_header .account_panel a.logout-link:visited, .body_header .account_panel a.logout-link:active {color:#90DAB5;}
.body_header .account_panel .unread_comments {margin:0px 7px 0px 10px;}
.body_header .account_panel .unread_comments img {vertical-align:top;}
.body_header .account_panel .unread_comments a:link, .body_header .account_panel .unread_comments a:visited, .body_header .account_panel .unread_comments a:active {margin:0px;text-decoration:none;}
.body_header .account_panel .unread_comments a:hover {}

.body_body {background-color:#F3F3F3;border-bottom:1px solid #CCC;}
.body_content {padding:15px 15px;background-color:#FFF;}
.body_footer {text-align:center;font-size:108%;margin-top:15px;color:#666;margin-bottom:30px;}

.body_content_message {font-size:108%;background-color:#FFC;border:1px solid #CCC;padding:5px 10px;margin-bottom:15px;color:#333;}

.ss_no_information {font-size:116%;color:#666;margin:10px 0px 20px;}

.ss_page_error_message {font-size:131%;color:#333;text-align:center;margin:30px 0px;}
.ss_page_error_message img {margin-bottom:10px;}

/* Content Header + Title */
.ss_header .container {margin:10px 15px 0px;background:url('../images/thaihealth.png') #F3F3F3 right top no-repeat;min-height:60px;}
.ss_header_border {border-bottom:1px solid #CCC;}
.ss_header a:hover {background-color:#CCC;}
.ss_header .sector {color:#666;font-size:108%;padding-top:7px;}
.ss_header .sector a:link, .ss_header .sector a:visited, .ss_header .sector a:active {color:#666;}
.ss_header .parent {font-size:108%;padding-top:8px;}
.ss_header .parent a:link, .ss_header .parent a:visited, .ss_header .parent a:active {color:#069;}
.ss_header .title {padding-top:8px;padding-bottom:10px;font-weight:bold;color:#ED6912;font-size:153.9%;}
.ss_header .title span {color:#666;}
.ss_header .title span.following {margin-left:20px;}
.ss_header .info {font-size:116%;color:#666;padding-bottom:10px;}
.ss_header .info span {margin-right:10px;}

/* Content Main Tab-Navigation */
.ss_tab_navi {background-color:#666;border-top:1px solid #CCC;}
.ss_tab_navi .tabs {border-top:1px solid #999;padding:10px 15px 0px;}
.ss_tab_navi .tabs li {color:#ED6912;background-color:#777;font-size:108%;font-weight:bold;height:20px;padding:6px 15px 4px;display:block;float:left;margin-right:10px;}
.ss_tab_navi .tabs li.right_item {float:right;margin-right:0px;margin-left:10px;}
.ss_tab_navi .tabs li.selected {background-color:#FFF;}
.ss_tab_navi .tabs li a:link, .ss_tab_navi .tabs li a:visited, .ss_tab_navi .tabs li a:active {color:#FFF;text-decoration:none;}
.ss_tab_navi .tabs li a:hover {color:#F39659;text-decoration:underline;background:none;}
.ss_tab_navi .tabs li img {vertical-align:middle;margin-right:8px;}

.ss_tab_navi .comment {float:right;}
.ss_tab_navi .comment a:link, .ss_tab_navi .comment a:visited, .ss_tab_navi .comment a:active {margin:7px 15px;display:block;float:right;background-color:#FFF;text-align:center;padding:4px 0px 2px;width:140px;height:19px;text-decoration:none;border-left:1px solid #DDD;border-top:1px solid #DDD;border-right:1px solid #AAA;border-bottom:1px solid #AAA;}
.ss_tab_navi .comment a:hover {background:#369;color:#FFF;}

/* Content Sub Tab-Navigation */
.ss_sub_tab_navi {padding:7px 15px 10px;background-color:#FFF;border-bottom:1px dotted #999;}
.ss_sub_tab_navi ul li {display:block;float:left;margin:3px 10px 5px 0px;font-size:108%;}
.ss_sub_tab_navi ul li.selected {font-weight:bold;color:#FFF;background-color:#C60;border:1px solid #C60;padding:3px 15px 3px;cursor:default;}
.ss_sub_tab_navi li a:link, .ss_sub_tab_navi li a:visited, .ss_sub_tab_navi li a:active {text-decoration:none;display:block;padding:3px 15px 3px;border:1px solid #CCC;}
.ss_sub_tab_navi li a:hover {border:1px solid #369;}
h1.ss_sub_tab_header  {font-size:138.5%;margin-bottom:15px;}

/* Control Panel */
.ss_control_panel {margin:5px 0px 15px;}
.ss_control_panel ul {border-bottom:1px solid #CCC;background-color:#E5FFE6;}
.ss_control_panel ul li {font-size:108%;color:#FFF;padding:8px 15px;display:inline-block;display:-moz-inline-stack;*display:inline;list-style:none;zoom:1;}
.ss_control_panel ul li img {margin-right:5px;vertical-align:middle;}

/* Child Page */
.ss_child_page_header {font-size:146.5%;margin-bottom:20px;padding-bottom:5px;border-bottom:5px solid #CCC;}
.ss_child_page_header a:link, .ss_child_page_header a:visited, .ss_child_page_header a:active {font-size:0.7em;margin-left:15px;}

/* Form Styles */
.ss_form .prerequisute {font-size:116%;color:#966;}
.ss_form ul {margin-left:30px;}
.ss_form li {margin-bottom:15px;}
.ss_form li label {display:block;margin-bottom:5px;font-size:116%;color:#333;}
.ss_form li .required {font-size:13px;color:#886;margin-left:7px;}
.ss_form li .input {}
.ss_form li .comment {margin-top:4px;color:#555;}
.ss_form li .errorlist {margin:5px 0px 0px 0px;color:#C30;}
.ss_form .button_panel {margin:20px 0px 20px 30px;}
.ss_form .button_panel button {padding:3px 25px;font-size:116%;border-top:1px solid #CCC;border-left:1px solid #CCC;border-bottom:1px solid #999;border-right:1px solid #999;background-color:#369;color:#FFF;}

.ss_form li.sub_input {padding-left:20px;margin:-5px 0px 15px 0px;}
.ss_form li.sub_input label {font-size:100%;}

.ss_form .single_line {margin:25px 0px;}
.ss_form .single_line label {display:inline;}
.ss_form .single_line select {margin:0px 10px;}
.ss_form .single_line input {margin:0px 5px;}

.ss_form .checkbox input {margin:0px 10px 0px 0px;}

.ss_form .radio_choices {}

.ss_form .instruction {border:1px solid #CCC;background-color:#FFC;padding:10px;margin:15px 0px;}

.ss_form .SHORT input {width:100px;}
.ss_form .MEDIUM input {width:250px;}
.ss_form .LONG input {width:500px;}
.ss_form .MAX input {width:95%;}

.ss_form .MAX_MEDIUM textarea {width:95%;height:100px;}

.ss_form .date_period .to {margin:0px 15px;color:#555;}

.yui_date_picker_panel input {color:#333;width:160px;}
.yui_date_picker_panel img {vertical-align:middle;cursor:pointer;margin-left:5px;}

/*
POST COMMENT DIALOG
*/
.comment_dialog {padding:0px 10px;display:none;}
.comment_dialog label {font-size:108%;margin:10px 0px 5px;color:#555;display:block;margin-bottom:5px;}
.comment_dialog textarea {height:80px;width:98%;}
.comment_dialog .button-panel {margin:10px 0px 10px;}
.comment_dialog .button-panel button {padding:4px 15px;border:1px solid #999;background-color:#666;color:#FFF;}
.comment_dialog .button-panel .loading {margin-left:10px;display:none;}
.comment_dialog .button-panel .loading img {vertical-align:text-bottom;}

/* Activity Calendar */
.yui-calendar .has-event {background-color:#FFA !important;}

#activity-calendar {margin-bottom:20px;}
#activity-calendar .calheader {color:#096;}
#activity-calendar .calweekdaycell {background:none;color:#666;font-weight:normal;}
.yui-calendar td.calcellhover {background-color:#FFF !important;color:#06C !important;}
.yui-calendar td.calcellhover a {background-color:#FFF !important;color:#06C !important;}
#activity-calendar .calbody td.selected a:link,#activity-calendar .calbody td.selected a:visited ,#activity-calendar .calbody td.selected a:active {background-color:transparent;color:#06C;}

.qtip-content ul li a:link, .qtip-content ul li a:visited, .qtip-content ul li a:active {color:#FFC;}
.qtip-content ul li a:hover {background:none;color:#9CF;}

/*
 * GRAPH
 */

.ss_bar_graph {height:20px;background-color:#999;}
.ss_bar_graph div {height:20px;border-right:2px solid #FFF;background-color:#099;}
.ss_bar_graph_disabled {background-color:#CCC !important;}

.ss_bar_graph .low {background-color:#C33;}
.ss_bar_graph .medium {background-color:#C90;}
.ss_bar_graph .high {background-color:#099;}

.ss_percentage_graph span {float:right;font-size:138.5%;}
.ss_percentage_graph .graph {margin:2px 50px 0px 0px;height:20px;background-color:#999;}
.ss_percentage_graph .graph div {height:20px;border-right:2px solid #FFF;}

.ss_percentage_graph .low {background-color:#C33;color:#C33;}
.ss_percentage_graph .medium {background-color:#C90;color:#C90;}
.ss_percentage_graph .high {background-color:#090;color:#099;}

/*
 * COMMENT THREAD
 */
.ss_comments li {margin-bottom:25px;}
.ss_comments li .comment {border:1px solid #999;border-top:10px solid #999;margin-bottom:10px;padding:10px;}
.ss_comments li .comment p {font-size:116%;}
.ss_comments li .comment .metadata {color:#333;margin-top:10px;font-size:108%;text-align:right;}
.ss_comments li .comment .metadata span.sender {color:#2D8659;margin-right:10px;}
.ss_comments li .comment .metadata span.reply {margin-right:20px;}
.ss_comments li.unread .comment {border:1px solid #369;border-top:10px solid #369;background-color:#EEE;} 

.ss_comments .replies {margin:0px 0px 15px 40px;}
.ss_comments .replies p {font-size:108%;}
.ss_comments .replies li {border:1px solid #CCC;margin-bottom:10px;padding:10px;}
.ss_comments .replies .metadata {color:#333;margin-top:10px;font-size:108%;text-align:right;}
.ss_comments .replies .metadata span.sender {color:#2D8659;margin-right:10px;}
.ss_comments .replies li.unread {background-color:#EEE;}

