/*
DASHBOARD PAGE
*/
.dashboard_page {}
.dashboard_page .right_panel {width:270px;float:right;border-left:1px dotted #CCC;padding-left:10px;}
.dashboard_page .right_panel h2 {font-size:116%;font-weight:bold;margin-bottom:10px;}
.dashboard_page .right_panel li {margin-bottom:10px;font-size:108%;}
.dashboard_page .right_panel .sector_link {font-size:138.5%;margin-bottom:10px;}

.dashboard_page .left_panel {margin-right:290px;}
.dashboard_page .left_panel h2 {font-size:138.5%;color:#FFF;padding:8px 10px 4px;margin:5px 0px 10px;background-color:#399;border-bottom:3px solid #9CC;}

.dashboard_page .report_checkup h3 {font-size:123.1%;color:#333;padding:0px 0px 5px;margin:5px 0px 10px;border-bottom:2px solid #666;}
.dashboard_page .report_checkup h4 {font-size:123.1%;margin:5px 0px 10px 10px;color:#2D8659;}
.dashboard_page .report_checkup ul.reports {margin-left:10px;margin-bottom:20px;}
.dashboard_page .report_checkup ul.reports li {padding:10px 10px;margin-bottom:15px;border:1px solid #CCC;}
.dashboard_page .report_checkup ul.reports li .schedule {font-size:123.1%;font-weight:bold;}
.dashboard_page .report_checkup ul.reports li .schedule .permalink {font-weight:normal;font-size:0.8em;margin-left:15px;}
.dashboard_page .report_checkup ul.reports li .report_approval {margin-top:10px;}
.dashboard_page .report_checkup ul.reports li .report_approval button {margin-right:10px;}
.dashboard_page .report_checkup ul.reports li.no_information {color:#666;}
.dashboard_page .report_checkup ul.reports li .rejected_on {background-color:#CCC;}
.dashboard_page .report_checkup ul.reports li .report_details {margin-top:10px;font-size:108%;}
.dashboard_page .report_checkup ul.reports li .due_date {}
.dashboard_page .report_checkup ul.reports li .overdue_date {background-color:#C33;color:white;padding:0px 5px;}
.dashboard_page .report_checkup ul.reports li .report_details .due_date {margin-right:10px;}
.dashboard_page .report_checkup ul.reports li .comment a:link, .dashboard_page .report_checkup ul.reports li .comment a:visited, .dashboard_page .report_checkup ul.reports li .comment a:active {margin-left:6px;}
.dashboard_page .report_checkup .ss_no_information {margin-left:15px;}

/*
 * SECTORS PAGE
 */
.sectors_page h2 {font-size:138.5%;margin:5px 0px 10px;color:#FFF;padding:8px 10px 4px;background-color:#399;border-bottom:3px solid #9CC;}
.sectors_page h2 a:link, .sectors_page h2 a:visited, .sectors_page h2 a:active {color:#FFF;text-decoration:none;}
.sectors_page h2 a:hover {color:#FFC;}
.sectors_page ul {margin-bottom:25px;}
.sectors_page h3 {margin:5px 0px 10px;}
.sectors_page h3 a:link, .sectors_page h3 a:visited, .sectors_page h3 a:active {font-size:123.1%;}

/*
 * OVERVIEW PAGE
 */
.overview_page .left_panel {margin-right:280px;}
.overview_page .side_bar {width:270px;float:right;}
.overview_page h2 {font-size:138.5%;margin:5px 0px 10px;color:#FFF;padding:8px 10px 4px;background-color:#399;border-bottom:3px solid #9CC;}

/* Master Plan */
.overview_page ul.master_plans {margin-bottom:15px;}
.overview_page ul.master_plans li {padding:3px 0px 10px;}
.overview_page ul.master_plans a:link, .overview_page ul.master_plans a:visited, .overview_page ul.master_plans a:active {font-size:131%;}

/* Hierarchy Section */
.overview_page .hierarchy_section .item_overview {font-size:108%;margin:4px 0px 10px;}
.overview_page .hierarchy_section .item_overview span {color:#666;margin-right:20px;}
.overview_page .hierarchy_section .item_overview span em {color:#096;padding:0px 5px;}
.overview_page .hierarchy_section .ss_no_information {margin-left:10px;}

.overview_page .sector_hierarchy_section h3 {font-size:131%;color:#2D8659;margin:15px 0px 10px;}
.overview_page .sector_hierarchy_section h4 {font-size:116%;color:#333;margin:10px 0px 10px 10px;}
.overview_page .sector_hierarchy_section ul {margin-left:20px;}
.overview_page .sector_hierarchy_section li a:link, .overview_page .sector_hierarchy_section li a:visited, .overview_page .sector_hierarchy_section li a:active {font-size:116%;}

.overview_page .master_plan_hierarchy_section {}
.overview_page .master_plan_hierarchy_section h3 {font-size:116%;color:#333;margin:10px 0px 10px;}
.overview_page .master_plan_hierarchy_section ul {margin-left:15px;}
.overview_page .master_plan_hierarchy_section li a:link, .overview_page .master_plan_hierarchy_section li a:visited, .overview_page .master_plan_hierarchy_section li a:active {font-size:116%;}

.overview_page .project_hierarchy_section li {margin:0px 0px 10px 15px;}
.overview_page .project_hierarchy_section h3 {font-size:116%;}

/* Report Section */
.overview_page .reports_section ul {margin:0px 0px 20px 20px}
.overview_page .reports_section ul li {margin:10px 5px;list-style:disc;}

/*
COMMENTS PAGE
*/
.comments_page .comments li {margin-bottom:15px;border:1px solid #A9C5DB;}
.comments_page .comments li .sender {color:#333;font-size:108%;font-weight:bold;background-color:#A9C5DB;padding:5px 10px;}
.comments_page .comments li p {font-size:116%;padding:10px;}
.comments_page .comments li .metadata {float:right;color:#333;font-weight:normal;}

.comments_page .comments li.read {border:1px solid #CCC;}
.comments_page .comments li.read .sender {color:#333;font-size:108%;font-weight:bold;background-color:#DDD;padding:5px 10px;}

.comments_page .comments .receivers {font-size:108%;padding-top:10px;margin:0px 10px;border-top:1px dashed #CCC;}
.comments_page .comments .receivers h4 {display:inline;color:#666;margin-right:5px;}
.comments_page .comments .receivers ul {display:inline;}
.comments_page .comments .receivers ul li {border:1px solid #DDD;color:#666;margin-right:10px;padding:2px 5px;display:inline-block;display:-moz-inline-stack;*display:inline;list-style:none;zoom:1;}

/*
COMMENT INBOX PAGE
*/
.comment_inbox_page .objects h3 {font-size:123.1%;margin-bottom:5px;font-weight:bold;}
.comment_inbox_page .objects .links {font-size:108%;margin:0px 0px 10px 20px;}
.comment_inbox_page .comments li {margin:0px 0px 15px 20px;border:1px solid #A9C5DB;}
.comment_inbox_page .comments li .sender {color:#333;font-size:108%;font-weight:bold;background-color:#A9C5DB;padding:5px 10px;}
.comment_inbox_page .comments li p {font-size:116%;padding:10px;}
.comment_inbox_page .comments li .metadata {float:right;color:#333;font-weight:normal;}

/*
PROJECTS TABLE PAGE
*/
.projects_table_page {}
.projects_table_page table {width:100%;}
.projects_table_page table th {border:1px solid #999;padding:10px 10px;background-color:#666;color:white;}
.projects_table_page table td {border:1px solid #999;padding:8px 10px;}

.projects_table_page table .ref_no {width:120px;text-align:center;}
.projects_table_page table .name {}
.projects_table_page table .start_date {width:100px;text-align:center;}
.projects_table_page table .end_date {width:100px;text-align:center;}

/*
HIERARCHY PAGE
*/
.hierarchy_page h2 {font-size:138.5%;margin:5px 0px 10px;color:#333;padding:0px 10px 5px 0px;border-bottom:3px solid #9CC;}
.hierarchy_page .item_overview {font-size:108%;margin-top:6px;}
.hierarchy_page .item_overview span {color:#666;margin-right:20px;}
.hierarchy_page .item_overview span em {color:#096;padding:0px 5px;}
.hierarchy_page .ss_no_information {margin-left:10px;}

.hierarchy_dashboard_page h3 a:link, .hierarchy_dashboard_page h3 a:visited, .hierarchy_dashboard_page h3 a:active {font-size:116%;margin-top:10px;}
.hierarchy_dashboard_page ul {margin:10px 0px 10px 10px;}
.hierarchy_dashboard_page li {margin:10px 0px 15px;}

.hierarchy_master_plan_page h3 {font-size:108%;color:#333;margin-top:10px;padding:3px 8px;background-color:#DDD;}
.hierarchy_master_plan_page h3.em {font-size:116%;font-weight:bold;padding:8px 8px;}
.hierarchy_master_plan_page ul {margin:10px 0px 10px 10px;}
.hierarchy_master_plan_page li {margin:10px 0px 15px;}
.hierarchy_master_plan_page li a:link, .hierarchy_master_plan_page li a:visited, .hierarchy_master_plan_page li a:active {font-size:116%;margin-top:10px;}

.hierarchy_project_page ul {margin:10px 0px 10px 10px;}
.hierarchy_project_page li {margin:10px 0px 15px;}
.hierarchy_project_page h3 a:link, .hierarchy_project_page h3 a:visited, .hierarchy_project_page h3 a:active {font-size:116%;margin-top:10px;}

.hierarchy_activity_page ul {margin:10px 0px 10px 10px;}
.hierarchy_activity_page li {margin:10px 0px 15px;}
.hierarchy_activity_page li a:link, .hierarchy_activity_page li a:visited, .hierarchy_activity_page li a:active {font-size:116%;margin-top:10px;}

/*
REPORT LIST PAGE
*/
.report_list_page {}

.report_project_list_page h2 {font-size:138.5%;margin:5px 0px 10px;color:#FFF;padding:8px 10px 4px;background-color:#399;border-bottom:3px solid #9CC;}
.report_project_list_page h3 {font-size:123.1%;color:#2D8659;margin:10px 0px 10px 10px;}
.report_project_list_page ul {margin:0px 0px 20px 30px;}
.report_project_list_page ul li {margin-bottom:10px;list-style:disc;font-size:116%;}
.report_project_list_page .ss_no_information {margin-left:15px;}

/*
SEND REPORT PAGE
*/
.send_reports_page .breadcrumbs {font-size:131%;margin-bottom:20px;}
.send_reports_page h2 {font-size:138.5%;margin:5px 0px 10px;color:#FFF;padding:8px 10px 4px;background-color:#399;border-bottom:3px solid #9CC;}
.send_reports_page .reports li {margin-bottom:15px;}
.send_reports_page .schedules li {border:1px solid #CCC;padding:10px 15px;}
.send_reports_page .schedules li .schedule {font-size:123.1%;font-weight:bold;}
.send_reports_page .schedules li .schedule span.overdue {font-size:0.9em;color:#C30;margin-left:15px;}
.send_reports_page .schedules li .schedule span.waiting {font-size:0.9em;color:#666;margin-left:15px;}
.send_reports_page .schedules li .schedule span.rejected {font-size:0.9em;color:#C30;margin-left:15px;}
.send_reports_page .schedules li .links {margin-top:10px;}
.send_reports_page .schedules li .links a:link, .send_reports_page .schedules li .links a:visited, .send_reports_page .schedules li .links a:active{margin-right:20px;}

/*
REPORT PAGE
*/
.report_page {}
.report_page {padding:0px 0px 25px;}

.report_page .report_status {border:1px solid #CCC;margin-bottom:15px;padding:10px;font-size:131%;}
.report_page .report_status .overdue {color:#C30;}
.report_page .report_status .not_submitted {color:#666;}
.report_page .report_status .submitted {color:#2D8659;}
.report_page .report_status .waiting {color:#666;}
.report_page .report_status .approved {color:#2D8659;}
.report_page .report_status .rejected {color:#C30;}

.report_page .report_status .buttons {margin-top:10px;font-size:0.75em;}
.report_page .report_status .buttons span {margin-left:15px;color:#333;background-color:#FFC;padding:0px 5px;}

.report_page .content {margin-top:15px;}
.report_page .content h3 {font-size:138.5%;margin:5px 0px 10px;color:#2D8659;}

.report_page .edit_content {display:none;}
.report_page .edit_content .button_panel {margin:15px 0px;}
.report_page .edit_content .button_panel button {margin-right:15px;}

.report_page .files {margin-left:15px;}
.report_page .files li {background-color:#DBE7F0;padding:6px 10px;border:1px solid #C6D4E0;margin-bottom:10px;}
.report_page .files li .filename {font-size:116%;padding-bottom:8px;}
.report_page .files li .metadata {color:#555;font-style:italic;}
.report_page .files li .actions {margin-left:10px;}
.report_page .files li .actions a:link, .report_page .files li .actions a:visited, .report_page .files li .actions a:active {color:#C30;}
.report_page .files li .actions a:hover {background:none !important;}

.report_page .text_content {margin:10px 0px 25px;font-size:116%;}

#upload-file-dialog {display:none;}
#upload-file-dialog form {margin:10px 20px;}
#upload-file-dialog label {margin-bottom:10px;font-size:116%;display:block;}
#upload-file-dialog button {margin-top:10px;}

/*
ACTIVITY PAGE
*/
.activity_page .headline {border-bottom:1px solid #CCC;padding-bottom:5px;}
.activity_page .headline div {margin-right:15px;display:inline;font-size:116%;display:inline;}
.activity_page .headline em {color:#2D8659;margin-bottom:5px;}
.activity_page .headline .no_information {color:#666;}

.activity_page .content h3 {font-size:138.5%;margin:20px 0px 10px;color:#333;padding:0px 10px 5px 0px;border-bottom:3px solid #9CC;}
.activity_page .content .description {font-size:108%;}
.activity_page .content .description span.no_information {color:#666;font-style:italic;}


