{% extends 'base.html' %}
{% load helper_tags interface_tags %}

{% block html_head %}
{% endblock %}

{% block body_title %}
<div class="ss_header">
<div class="container">
	<div class="title"><span>หน้าผู้ใช้</span> {{user.get_profile.first_name}} {{user.get_profile.last_name}}</div>
</div>
</div>
<div class="ss_tab_navi">
	<div class="tabs">
		<ul>
			<li class="selected">หน้าแรก</li>
			<li><a href="{% url view_dashboard_comments %}">กล่องความคิดเห็น</a></li>
		</ul>
		<div class="clear"></div>
	</div>
</div>
{% endblock %}

{% block body_content %}
<div class="ss_child_page_header">แก้ไขแผนงาน/โครงการที่รับผิดชอบ <a href="{% url view_frontpage %}">กลับไปยังหน้าแรก &#187;</a></div>

<div class="dashboard_my_projects_page">
	<form method="post" action="." class="ss_form">
		{% for master_plan in master_plans %}
			<h2>{{master_plan.ref_no}} {{master_plan.name}}</h2>
			{% if master_plan.projects %}
			<ul>
				{% for project in master_plan.projects %}
				<li><label><input type="checkbox" name="project" value="{{project.id}}" {% if project.responsible %}checked="checked"{% endif %}/> {{project.ref_no}} {{project.name}}</label></li>
				{% endfor %}
			</ul>
			{% else %}
			<div class="ss_no_information">ไม่มีแผนงาน/โครงการ</div>
			{% endif %}
		{% endfor %}
		
		<div class="button_panel"><button>แก้ไขข้อมูล</button></div>
	</form>
</div>
{% endblock %}