{% extends 'page_base.html' %}
{% load helper_tags page_tags humanize core_tags %}

{% block html_head %}

{% endblock %}

{% block body_title %}{% display_master_plan_header user master_plan %}{% endblock %}
{% block body_tabs %}{% tabs_for_master_plan page user master_plan %}{% endblock %}

{% block body_content %}
<div class="master_plan_budget_page">
    {% if has_programs %}
    <table class="ss_table">
        <tr>
            <th rowspan="2">แผนงาน</th>
            {% generate_quarter_table_header current_year %}
        </tr>
        <tr>
			{% for i in 4|get_range %}
				<th>คาดการณ์</th>
				<th>เบิกจ่ายจริง</th>
			{% endfor %}
        </tr>
        {% for plan in plans %}
            <tr>
                <td colspan="9" class="plan">กลุ่มแผนงาน: ({{plan.ref_no}}) {{plan.name}}</td>
            </tr>
            {% for program in plan.programs %}
            <tr>
                <td class="program">
					<div><a href="{% url view_program_budget program.id %}" title="{{program.name}}">แผนงานเลขที่ {{program.ref_no}}</a></div>
					<div class="abbr_name">{% if program.abbr_name %}({{program.abbr_name}}){% endif %}</div>
				</td>
                
                {% if not program.quarters.1.grant and not program.quarters.1.claim %}
                    <td class="grant_budget na"><div class="number">-</div><div class="unit">บาท</div></td><td class="claim_budget na"><div class="number">-</div><div class="unit">บาท</div></td>
                {% else %}
                    <td class="grant_budget"><div class="number">{{program.quarters.1.grant|intcomma}}</div><div class="unit">บาท</div></td>
                    {% if program.quarters.1.claim %}<td class="claim_budget"><div class="number">{{program.quarters.1.claim|intcomma}}</div><div class="unit">บาท</div></td>{% else %}<td class="claim_budget na"><div class="number">-</div><div class="unit">บาท</div></td>{% endif %}
                {% endif %}
                
				{% if not program.quarters.2.grant and not program.quarters.2.claim %}
                    <td class="grant_budget na"><div class="number">-</div><div class="unit">บาท</div></td><td class="claim_budget na"><div class="number">-</div><div class="unit">บาท</div></td>
                {% else %}
				<td class="grant_budget"><div class="number">{{program.quarters.2.grant|intcomma}}</div><div class="unit">บาท</div></td>
                    {% if program.quarters.2.claim %}<td class="claim_budget"><div class="number">{{program.quarters.2.claim|intcomma}}</div><div class="unit">บาท</div></td>{% else %}<td class="claim_budget na"><div class="number">-</div><div class="unit">บาท</div></td>{% endif %}
                {% endif %}
                
				{% if not program.quarters.3.grant and not program.quarters.3.claim %}
                    <td class="grant_budget na"><div class="number">-</div><div class="unit">บาท</div></td><td class="claim_budget na"><div class="number">-</div><div class="unit">บาท</div></td>
                {% else %}
				<td class="grant_budget"><div class="number">{{program.quarters.3.grant|intcomma}}</div><div class="unit">บาท</div></td>
                    {% if program.quarters.3.claim %}<td class="claim_budget"><div class="number">{{program.quarters.3.claim|intcomma}}</div><div class="unit">บาท</div></td>{% else %}<td class="claim_budget na"><div class="number">-</div><div class="unit">บาท</div></td>{% endif %}
                {% endif %}
                
				{% if not program.quarters.4.grant and not program.quarters.4.claim %}
                    <td class="grant_budget na"><div class="number">-</div><div class="unit">บาท</div></td><td class="claim_budget na"><div class="number">-</div><div class="unit">บาท</div></td>
                {% else %}
				<td class="grant_budget"><div class="number">{{program.quarters.4.grant|intcomma}}</div><div class="unit">บาท</div></td>
                    {% if program.quarters.4.claim %}<td class="claim_budget"><div class="number">{{program.quarters.4.claim|intcomma}}</div><div class="unit">บาท</div></td>{% else %}<td class="claim_budget na"><div class="number">-</div><div class="unit">บาท</div></td>{% endif %}
                {% endif %}
            </tr>
            {% endfor %}
        {% endfor %}
    </table>
    {% else %}
    <div class="ss_no_information">ไม่มีข้อมูลแผนการเงิน</div>
    {% endif %}
</div>
{% endblock %}
