{% extends 'page_base.html' %}
{% load helper_tags page_tags core_tags %}

{% block html_head %}
{% endblock %}

{% block body_title %}{% display_sector_header user sector %}{% endblock %}
{% block body_tabs %}{% tabs_for_sector page user sector %}{% endblock %}

{% block body_content %}
<div class="sector_overview_page">
	
	<h2>แผนที่รับผิดชอบ</h2>
    <ul class="master_plans">
        {% for master_plan in master_plans %}
        <li><a href="{% url view_master_plan_overview master_plan.ref_no %}">แผน {{master_plan.ref_no}} {{master_plan.name}}</a></li>
        {% endfor %}
    </ul>
	
</div>
{% endblock %}