{% extends 'base.html' %}
{% load interface_tags %}
{% load helper_tags %}

{% block html_head %}
<link href="{{MEDIA_URL}}/yui/container/assets/skins/sam/container.css" type="text/css" media="all" rel="stylesheet" />
<link href="{{MEDIA_URL}}/yui/calendar/assets/skins/sam/calendar.css" type="text/css" media="all" rel="stylesheet" />

<link href="{{MEDIA_URL}}/css/yui.calendar.widget.css" type="text/css" media="all" rel="stylesheet" />
<script type="text/javascript" src="{{MEDIA_URL}}/yui/yahoo-dom-event/yahoo-dom-event.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}/yui/element/element-min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}/yui/container/container-min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}/yui/calendar/calendar-min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}/scripts/yui.calendar.widget.js"></script>

<script type="text/javascript">
$(document).ready(function() {
	$("#kpi_selector").change(function(e) {
		var optionElement = $(this).find("option:selected");
		
		var kpi_id = optionElement.val();
		var kpi_name = optionElement.text();
		var unit_name = optionElement.attr("rel");
		
		var new_kpi = $('<li id="kpi-' + kpi_id + '"><div id="kpi-' + kpi_id + '-unit_name" class="' + unit_name + '"></div><div class="kpi_name"><h2>' + kpi_name + '</h2><span>[ <a href="#" class="remove-kpi">ยกเลิกการวัดด้วยตัวนี้วัดนี้</a> ]</span></div><table><tr><th>คาดการณ์</th><th>วันที่ประเมินผล</th><th></th></tr>' + 
			create_schedule_template(unit_name) + 
			'<tr><td colspan="3"><img src="{{MEDIA_URL}}/images/icon_create.png" class="icon"/> <a href="#" class="new-schedule">เพิ่มรายการ</a></td></tr></table></li>');
		
		new_kpi.find(".remove-kpi").click(function(e) {
			e.preventDefault();
			remove_kpi($(this));
		});
		
		new_kpi.find(".remove-schedule").click(function(e) {
			e.preventDefault();
			if(window.confirm("ยืนยันการลบ?")) {
				$(this).closest("tr").remove();
			}
		});
		
		new_kpi.find(".yui_date_picker").click(function(e) {
			activeCalendarInputID = e.target.id;
			triggerYUICalendar();
		});
		
		// Open Date Picker calendar when click at textbox
		new_kpi.find(".yui_date_picker_textbox").click(function(e) {
			activeCalendarInputID = $(this).parent().find(".yui_date_picker").attr('id');
			triggerYUICalendar();
		});
		
		new_kpi.find(".new-schedule").click(function(e) {
			e.preventDefault();
			new_schedule($(this));
		});
		
		new_kpi.insertBefore($(this).closest('li'));
		
		$(this).find("option[value='" + kpi_id + "']").remove();
		
		if($(this).find("option").size() == 1) {
			$(this).parent().hide();
		}
	});
	
	$(".remove-kpi").click(function(e) {
		e.preventDefault();
		remove_kpi($(this));
	});
	
	$(".remove-schedule").click(function(e) {
		e.preventDefault();
		$(this).closest("tr").remove();
	});
	
	$(".new-schedule").click(function(e) {
		e.preventDefault();
		new_schedule($(this));
	});
	
	$("form button[type='submit']").click(function() {
		var validated = true;
		
		$(".schedule-record").each(function() {
			var kpi_id = $(this).closest("li").attr("id").split("-")[1];
			
			var schedule_id = $(this).attr("id");
			if(schedule_i) {
				schedule_id = $(this).attr("id").split("-")[1];
			} else {
				schedule_id = 'None';
			}
			
			var target = $(this).find("input[name='schedule_target']").val();
			if(target == "") {
				validated = false;
				$(this).find("input[name='schedule_target']").addClass("invalid");
			} else {
				$(this).find("input[name='schedule_target']").removeClass("invalid");
			}
			
			var target_on = $(this).find("input[name='target_on']").val();
			if(target_on == "") {
				validated = false;
				$(this).find("input[name='target_on']").addClass("invalid");
			} else {
				$(this).find("input[name='target_on']").removeClass("invalid");
			}
			
			if(validated) {
				var schedule_value = kpi_id + "," + schedule_id + "," + target + "," + target_on;
				$("form").append('<input type="hidden" name="schedule" value="' + schedule_value + '" />');
			}
		});
		
		if(!validated) {
			alert("กรุณากรอกข้อมูลให้ครบถ้วน");
		}
		
		return validated;
	});
});

function new_schedule(click_element) {
	var li_id = click_element.closest("li").attr("id");
	var unit_name = $("#" + li_id + "-unit_name").attr("class");
	
	var new_row = $(create_schedule_template(unit_name));
	
	new_row.find(".yui_date_picker").click(function(e) {
		activeCalendarInputID = e.target.id;
		triggerYUICalendar();
	});
	
	// Open Date Picker calendar when click at textbox
	new_row.find(".yui_date_picker_textbox").click(function(e) {
		activeCalendarInputID = $(this).parent().find(".yui_date_picker").attr('id');
		triggerYUICalendar();
	});
	
	new_row.find(".remove-schedule").click(function(e) {
		e.preventDefault();
		if(window.confirm("ยืนยันการลบ?")) {
			$(this).closest("tr").remove();
		}
	});
	
	new_row.insertBefore(click_element.closest('tr'));
}

function remove_kpi(click_element) {
	if(window.confirm("ยืนยันการลบ?")) {
		var li_element = click_element.closest("li");
		
		var kpi_id = li_element.attr("id").split("-")[1];
		var kpi_name = li_element.find("h2").text();
		var kpi_unit_name = li_element.find("#" + li_element.attr("id") + "-unit_name").attr("class");
		
		li_element.remove();
		
		$("#kpi_selector").append('<option value="' + kpi_id + '" rel="' + kpi_unit_name + '">' + kpi_name + '</option>');
		
		console.log("here");
		$("li.add_kpi").show();
	}
}

function create_schedule_template(unit_name) {
	var uid = new Date().getTime();
	return '<tr class="schedule-record"><td class="target"><input type="text" value="" name="schedule_target"/> ' + unit_name + '</td><td class="target_on"><span class="yui_date_picker_panel"><input type="hidden" name="target_on" value="" id="id_target_on_' + uid + '_value"/><input type="text" value="" id="id_target_on_' + uid + '_display" readonly="readonly" class="yui_date_picker_textbox"/><img src="/m/images/icon_date_picker.png" id="id_target_on_' + uid + '" class="yui_date_picker"/></span></td><td class="delete"><a href="#" class="remove-schedule">ลบ</a></td></tr>';
}
</script>
{% endblock %}

{% block body_title %}
<div class="ss_header">
<div class="container">
	{% print_sector_header sector %}
</div>
</div>
<div class="ss_tab_navi">
	<div class="tabs">
		<ul>
			<li><a href="{% url view_sector_overview sector.id %}">ภาพรวม</a></li>
			<li class="selected"><img src="{{MEDIA_URL}}/images/pencil.png" />จัดการสำนัก</li>
			<li class="right_item"><a href="{% url view_sectors %}">สำนักอื่นๆ</a></li>
		</ul>
		<div class="clear"></div>
	</div>
</div>
{% endblock %}

{% block body_content %}
<div class="ss_child_page_header">แก้ไขแผนงาน<a href="{% url view_sector_manage_organization sector.id %}">กลับไปหน้าโครงสร้างแผนงาน &#187;</a></div>
<div class="sector_edit_project_page">
	<div class="header_links">
		<ul>
			<li><a href="{% url view_sector_edit_project project.id %}">1. แก้ไขข้อมูลเบื้องต้น</a></li>
			<li><a href="{% url view_sector_edit_project_reports project.id %}">2. เลือกรายงาน</a></li>
			<li class="selected">3. ตัวชี้วัด</li>
			<li><a href="{% url view_sector_edit_project_finance project.id %}">4. แผนการเงิน</a></li>
		</ul>
		<div class="clear"></div>
	</div>
	
	<div class="edit_kpi">
		<ul>
			{% for kpi in project_kpis %}
			<li id="kpi-{{kpi.id}}">
				<div id="kpi-{{kpi.id}}-unit_name" class="{{kpi.unit_name}}"></div>
				<div class="kpi_name"><h2>{{kpi.category.name}} - {{kpi.ref_no}} {{kpi.name}}</h2><span>[ <a href="#" class="remove-kpi">ยกเลิกการวัดด้วยตัวนี้วัดนี้</a> ]</span></div>
				<table>
					<tr>
						<th>ตัวเลขคาดการณ์</th>
						<th>วันที่ประเมินผล</th>
						<th></th>
					</tr>
					{% for schedule in kpi.schedules %}
					<tr class="schedule-record" id="schedule-{{schedule.id}}">
						<td class="target"><input type="text" value="{{schedule.target}}" name="schedule_target"/> {{kpi.unit_name}}</td>
						<td class="target_on">
							<span class="yui_date_picker_panel">
								<input type="hidden" name="target_on" value="{{schedule.target_on|date:"Y-n-j"}}" id="id_target_on_{{schedule.id}}_value"/>
								<input type="text" value="{{schedule.target_on|date:"j F"}} {{schedule.target_on.year|add:543}}" id="id_target_on_{{schedule.id}}_display" readonly="readonly" class="yui_date_picker_textbox"/>
								<img src="/m/images/icon_date_picker.png" id="id_target_on_{{schedule.id}}" class="yui_date_picker"/>
							</span>
						</td>
						<td class="delete"><a href="#" class="remove-schedule">ลบ</a>{% if schedule.revisions %} <img src="{{MEDIA_URL}}/images/error.png" title="มีข้อมูลการแก้ไข"/> มีข้อมูลการแก้ไข{% endif %}</td>
					</tr>
					{% endfor %}
					<tr>
						<td colspan="3">
							<img src="{{MEDIA_URL}}/images/icon_create.png" class="icon"/> <a href="#" class="new-schedule">เพิ่มรายการ</a>
						</td>
					</tr>
				</table>
			</li>
			{% endfor %}
			<li class="add_kpi" {% if not kpi_choices %}style="display:none;"{%endif %}>
				<label for="kpi_selector">เลือกตัวชี้วัด</label>
				<select class="kpi" id="kpi_selector">
					<option></option>
					{% for kpi in kpi_choices %}
					<option value="{{kpi.id}}" rel="{{kpi.unit_name}}">{{kpi.category.name}} - {{kpi.ref_no}} {{kpi.name}}</option>
					{% endfor %}
				</select>
			</li>
		</ul>
		<form action="." method="POST">
			<div class="button_panel">
				<button type="submit">บันทึกการแก้ไข</button>
			</div>
		</form>	
	</div>
</div>
{% endblock %}