{% extends 'base.html' %}
{% load interface_tags %}
{% load helper_tags %}

{% block html_head %}

{% endblock %}

{% block body_title %}
<div class="ss_header">
<div class="container">
	{% print_sector_header sector %}
</div>
</div>
<div class="ss_tab_navi">
	<div class="tabs">
		<ul>
			<li><a href="{% url view_sector_overview sector.id %}">ภาพรวม</a></li>
			<li class="selected"><img src="{{MEDIA_URL}}/images/pencil.png" />จัดการสำนัก</li>
			<li class="right_item"><a href="{% url view_sectors %}">สำนักอื่นๆ</a></li>
		</ul>
		<div class="clear"></div>
	</div>
</div>
{% endblock %}

{% block body_content %}
<div class="ss_child_page_header">{% if plan %}แก้ไขกลุ่มแผนงาน{% else %}เพิ่มกลุ่มแผนงาน{% endif %} <a href="{% url view_sector_manage_organization sector.id %}">กลับไปหน้าโครงสร้างแผนงาน &#187;</a></div>

<form action="" method="POST" class="ss_form">
	<ul>
		<li>
			<label for="id_master_plan">{{form.master_plan.label}}{% display_required %}</label>
			<div class="input">{{form.master_plan}}</div>
			{{form.master_plan.errors}}
		</li>
		<li>
			<label for="id_ref_no">{{form.ref_no.label}}{% display_required %}</label>
			<div class="input SHORT">{{form.ref_no}}</div>
			<div class="comment">ประกอบด้วยตัวเลขหรือตัวหนังสือ ความยาวไม่เกิน 64 ตัวอักษร</div>
			{{form.ref_no.errors}}
		</li>
		<li>
			<label for="id_name">{{form.name.label}}{% display_required %}</label>
			<div class="input LONG">{{form.name}}</div>
			{{form.name.errors}}
		</li>
	</ul>
	{{form.plan_id}}
	<div class="button_panel"><button type="submit">ตกลง</button></div>
</form>
{% endblock %}
