{% extends 'base.html' %}
{% load interface_tags %}
{% load helper_tags %}

{% block html_head %}
{{form.media}}
{% endblock %}

{% block body_title %}
<div class="ss_header">
<div class="container">
	{% print_sector_header sector %}
</div>
</div>
<div class="ss_tab_navi">
	<div class="tabs">
		<ul>
			<li><a href="{% url view_sector_overview sector.id %}">ภาพรวม</a></li>
			<li class="selected"><img src="{{MEDIA_URL}}/images/pencil.png" />จัดการสำนัก</li>
			<li class="right_item"><a href="{% url view_sectors %}">สำนักอื่นๆ</a></li>
		</ul>
		<div class="clear"></div>
	</div>
</div>
{% endblock %}

{% block body_content %}
<div class="ss_child_page_header">แก้ไขแผนงาน<a href="{% url view_sector_manage_organization sector.id %}">กลับไปหน้าโครงสร้างแผนงาน &#187;</a></div>
<div class="sector_edit_project_page">
	<div class="header_links">
		<ul>
			<li class="selected">1. แก้ไขข้อมูลเบื้องต้น</li>
			<li><a href="{% url view_sector_edit_project_reports project.id %}">2. เลือกรายงาน</a></li>
			<li><a href="{% url view_sector_edit_project_kpi project.id %}">3. ตัวชี้วัด</a></li>
			<li><a href="{% url view_sector_edit_project_finance project.id %}">4. แผนการเงิน</a></li>
		</ul>
		<div class="clear"></div>
	</div>
	
	<form action="" method="POST" class="ss_form">
		<ul>
			<li>
				<label for="id_plan">{{form.plan.label}}{% display_required %}</label>
				<div class="input">{{form.plan}}</div>
				{{form.plan.errors}}
			</li>
			<li>
				<label for="id_ref_no">{{form.ref_no.label}}{% display_required %}</label>
				<div class="input SHORT">{{form.ref_no}}</div>
				<div class="comment">ประกอบด้วยตัวเลขหรือตัวหนังสือ ความยาวไม่เกิน 64 ตัวอักษร</div>
				{{form.ref_no.errors}}
			</li>
			<li>
				<label for="id_name">{{form.name.label}}{% display_required %}</label>
				<div class="input LONG">{{form.name}}</div>
				{{form.name.errors}}
			</li>
			<li class="date_period">
				<label>{{form.start_date.label}}</label>
				<div class="input">{{form.start_date}} <span class="to">{{form.end_date.label}}</span> {{form.end_date}}</div>
				{{form.start_date.errors}}
				{{form.end_date.errors}}
			</li>
			{{form.project_id}}
		</ul>
		<div class="button_panel"><button type="submit">แก้ไขแผนงาน</button></div>
	</form>
</div>
{% endblock %}