{% extends 'base.html' %}
{% load helper_tags interface_tags %}

{% block html_head %}
<script type="text/javascript">
$(document).ready(function() {
	$(".delete-plan").click(function(e) {
		if(!window.confirm("ยืนยันการลบกลุ่มแผนงาน?")) {
			e.preventDefault();
		}
	});
	
	$(".delete-program").click(function(e) {
		if(!window.confirm("ยืนยันการลบแผนงาน?")) {
			e.preventDefault();
		}
	});
});
</script>
{% endblock %}

{% block body_title %}
<div class="ss_header">
<div class="container">
	{% print_sector_header sector %}
</div>
</div>
<div class="ss_tab_navi">
	<div class="tabs">
		<ul>
			<li><a href="{% url view_sector_overview sector.id %}">ภาพรวม</a></li>
			<li class="right_item"><a href="{% url view_sectors %}">สำนักอื่นๆ</a></li>
			<li class="selected right_item">จัดการสำนัก</li>
		</ul>
		<div class="clear"></div>
	</div>
</div>
<div class="ss_sub_tab_navi">
	<ul>
		<li class="selected">โครงสร้างแผนงาน</li>
		<li><a href="{% url view_sector_manage_reports sector.id %}">รูปแบบรายงาน</a></li>
		<li><a href="{% url view_sector_manage_kpi sector.id %}">ตัวชี้วัด</a></li>
	</ul>
	<div class="clear"></div>
</div>
{% endblock %}

{% block body_content %}
<div class="ss_control_panel">
	<ul>
		<li><img src="{{MEDIA_URL}}/images/icon_create.png" class="icon"/><a href="{% url view_sector_add_plan sector.id %}">เพิ่มกลุ่มแผนงาน</a></li>
		<li><img src="{{MEDIA_URL}}/images/icon_create.png" class="icon"/><a href="{% url view_sector_add_project sector.id %}">เพิ่มแผนงาน</a></li>
	</ul>
</div>

<div class="org_table sector_org_page">
	{% for master_plan in master_plans %}
		<h2>{{master_plan.ref_no}} {{master_plan.name}}</h2>
		{% if master_plan.plans %}
		<table>
			<tr>
				<th class="controls"></th>
				<th class="ref_no">รหัส</th>
				<th class="name">ชื่อ</th>
				<th class="start_date">วันที่เริ่มต้น</th>
				<th class="end_date">วันที่สิ้นสุด</th>
			</tr>
			{% for plan in master_plan.plans %}
				<tr class="plan">
					<td class="controls">
						<a href="{% url view_sector_edit_plan plan.id %}" title="แก้ไขกลุ่มแผนงาน"><img src="{{MEDIA_URL}}/images/icon_edit.png" class="icon" /></a>
						{% if plan.projects.count %}
						<img src="{{MEDIA_URL}}/images/icon_delete_disabled.gif" class="icon" title="ไม่สามารถลบกลุ่มแผนงานที่มีแผนงานได้"/>
						{% else %}
						<a href="{% url view_sector_delete_plan plan.id %}" title="ลบกลุ่มแผนงาน" class="delete-plan"><img src="{{MEDIA_URL}}/images/icon_delete.png" class="icon" /></a>
						{% endif %}
					</td>
					<td class="ref_no">{{plan.ref_no}}</td>
					<td colspan="3" class="name">{{plan.name}}</td>
				</tr>
				{% if plan.projects %}
				{% for project in plan.projects %}
					<tr>
						<td class="controls">
						<a href="{% url view_sector_edit_project project.id %}" title="แก้ไขแผนงาน"><img src="{{MEDIA_URL}}/images/icon_edit.png" class="icon" /></a>
						{% if project.has_child %}
						<img src="{{MEDIA_URL}}/images/icon_delete_disabled.gif" class="icon" title="ไม่สามารถลบแผนงานที่มีโครงการย่อยหรือมีรายงานได้"/>
						{% else %}
						<a href="{% url view_sector_delete_project project.id %}" title="ลบแผนงาน" class="delete-program"><img src="{{MEDIA_URL}}/images/icon_delete.png" class="icon" /></a>
						{% endif %}
						</td>
						<td class="ref_no">{{project.ref_no}}</td>
						<td class="name">{{project.name}}</td>
						<td class="start_date">{% if project.start_date %}{{project.start_date|abbr_date}}{% else %}ยังไม่กำหนด{% endif %}</td>
						<td class="end_date">{% if project.end_date %}{{project.end_date|abbr_date}}{% else %}ยังไม่กำหนด{% endif %}</td>
					</tr>
				{% endfor %}
				{% else %}
				<tr>
					<td></td>
					<td></td>
					<td colspan="3" class="ss_no_information">ไม่มีแผนงานภายใต้กลุ่มแผนงานนี้</td>
				</tr>
				{% endif %}
			{% endfor %}
		</table>
		{% else %}
		<div class="ss_no_information">ไม่มีข้อมูลแผนงาน</div>
		{% endif %}
	{% endfor %}
</div>
{% endblock %}