{% extends 'entrance_base.html' %}

{% block entrance_title %}{{block.super}} - เปลี่ยนรหัสผ่าน{% endblock %}

{% block entrance_content %}
<h2>เปลี่ยนรหัสผ่าน</h2>
<form action="." method="post">
	<ul>
		<li><label for="id_username">{{form.username.label}}:</label> {{form.username}}{{form.username.errors}}</li>
		<li><label for="id_old_password">{{form.old_password.label}}:</label> {{form.old_password}}{{form.old_password.errors}}</li>
		<li><label for="id_new_password1">{{form.new_password1.label}}:</label> {{form.new_password1}}{{form.new_password1.errors}}</li>
		<li><label for="id_new_password2">{{form.new_password2.label}}:</label> {{form.new_password2}}{{form.new_password2.errors}}</li>
	</ul>
	<div class="button_panel"><button type="submit">ตกลง</button><span>[<a href="/accounts/forget_password/">ลืมรหัสผ่าน?</a>]</span></div>
</form>
{% endblock %}
