{% extends 'entrance_base.html' %}

{% block entrance_title %}{{block.super}} - ตั้งรหัสผ่านใหม่{% endblock %}

{% block entrance_content %}
<h2>ตั้งรหัสผ่านใหม่</h2>
{% if validlink %}
	<form action="." method="POST">
		<ul>
			<li><label for="id_new_password1">รหัสผ่าน:</label> {{form.new_password1}}{{form.new_password1.errors}}</li>
			<li><label for="id_new_password2">ยืนยันรหัสผ่าน:</label> {{form.new_password2}}{{form.new_password2.errors}}</li>
		</ul>
		<div class="button_panel"><button type="submit">ตกลง</button></div>
	</form>
{% else %}
	ไม่สามารถตั้งรหัสผ่านใหม่ได้ เนื่องจากไม่มีข้อมูลการขอตั้งรหัสผ่านนี้ในระบบ
{% endif %}
{% endblock %}