<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title>Strategy Management System</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
	<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}/yui/reset-fonts.css">
	<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}/css/styles.css">
	
	<script type="text/javascript" src="{{MEDIA_URL}}/scripts/jquery.min.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}/scripts/scripts.js"></script>
</head>
<body>
<div class="login_page change_password_page">
	<div class="logo"><img src="{{MEDIA_URL}}/images/thaihealth_color.png"/></div>
	<h1>Strategy Management Systems</h1>
	
	<form action="." method="post">
		<h2>เปลี่ยนรหัสผ่าน</h2>
		<ul>
			<li><label for="id_username">{{form.username.label}}:</label> {{form.username}}{{form.username.errors}}</li>
			<li><label for="id_old_password">{{form.old_password.label}}:</label> {{form.old_password}}{{form.old_password.errors}}</li>
			<li><label for="id_new_password1">{{form.new_password1.label}}:</label> {{form.new_password1}}{{form.new_password1.errors}}</li>
			<li><label for="id_new_password2">{{form.new_password2.label}}:</label> {{form.new_password2}}{{form.new_password2.errors}}</li>
			<li class="button_panel"><button type="submit">ตกลง</button></li>
		</ul>
	</form>
</div>
</body>
</html>