{% extends 'page_base.html' %}
{% load helper_tags page_tags %}

{% block html_head %}
<script type="text/javascript">
$(document).ready(function() {
    $(".approve-report").click(function(e) {
		var liObject = $(this).closest("li");
        var submission_id = liObject.attr("id").split("_")[1];
        $.post("{% url ajax_approve_report_submission %}", {id:submission_id}, function(data) {
			liObject.html('<div class="action-confirmation">รับรองรายงานเรียบร้อย</div>');
        }, "json");
    });
    
    $(".reject-report").click(function(e) {
		var liObject = $(this).closest("li");
        var submission_id = liObject.attr("id").split("_")[1];
        $.post("{% url ajax_reject_report_submission %}", {id:submission_id}, function(data) {
            liObject.html('<div class="action-confirmation">ตีกลับรายงานเรียบร้อย</div>');
        }, "json");
    });
});
</script>
{% endblock %}

{% block body_title %}<h1>หน้า{{primary_role.roledetails.name}}</h1>{% endblock %}

{% block body_content %}
<div class="assistant_dashboard_page">
	<div class="right_panel">
        <h2 class="title">หน่วยงาน</h2>
		<div class="subtitle">หน่วยงานที่สังกัด</div>
		<div class="sector">
			<div><a href="{% url view_sector_overview primary_sector.ref_no %}">สำนัก {{primary_sector.ref_no}}</a></div>
			<div>
				<ul>
	                {% for master_plan in primary_master_plans %}<li><a href="{% url view_master_plan_overview master_plan.ref_no %}">แผน {{master_plan.ref_no}}</a></li>{% endfor %}
	            </ul>
			</div>
		</div>
		
		<div class="subtitle">แผนงานที่รับผิดชอบ</div>
		<ul class="responsibilities">
	        {% for program in responsible_programs %}
	        <li>
	          <h3><a href="{% url view_program_overview program.id %}">แผนงาน {{program.ref_no}}</a></h3>
	          {% if program.abbr_name %}<div class="name">{{program.abbr_name}}</div>{% endif %}
	        </li>
	        {% endfor %}
	    </ul>
		<div class="actions"><img src="{{MEDIA_URL}}/images/icons/settings.png" class="icon"/> <a href="{% url view_user_responsibility %}">เพิ่ม/ลบแผนงานที่รับผิดชอบ</a></div>
    </div>
	
	<div class="left_panel">
		<h2 class="h2">ตรวจสอบรายงาน</h2>
		
		{% for program in responsible_programs %}
			<h3><a href="{% url view_program_overview program.id %}">{{program.name}}</a></h3>
			
			{% if program.late_report_count or program.rejected_report_count %}
			<div class="notice">
				<ul>
					{% if program.late_report_count %}<li>รายงานเลยกำหนดส่ง {{program.late_report_count}} รายงาน</li>{% endif %}
					{% if program.rejected_report_count %}<li>รายงานถูกตีกลับ {{program.rejected_report_count}} รายงาน</li>{% endif %}
				</ul>
				<div><a href="{% url view_program_reports program.id %}">ดูรายละเอียดที่หน้ารายงานของแผนงาน</a></div>
			</div>
			{% endif %}
			
			{% if program.approving_submissions %}
			<ul class="approving">
				{% for submission in program.approving_submissions %}
				<li id="submission_{{submission.id}}">
					<div class="name"><a href="{% url view_report_overview submission.program.id submission.report.id submission.schedule_date|dateid %}">{{submission.report.name}}</a></div>
					<div class="details">ฉบับวันที่ {{submission.schedule_date|abbr_date}}</div>
					<div class="submitted">ส่งเมื่อวันที่ {{submission.submitted_on|abbr_datetime}}</div>
					<div class="actions"><button type="button" class="approve-report">รับรองรายงาน</button> <button type="button" class="reject-report">ตีกลับรายงาน</button></div>
				</li>
				{% endfor %}
			</ul>
			{% endif %}
			
			{% if not program.late_report_count and not program.rejected_report_count and not program.approving_submissions %}
	        <div class="ss_no_information">รายงานปกติ</div>
	        {% endif %}
		
		{% endfor %}
	</div>
</div>
{% endblock %}