{% extends 'base.html' %}
{% load helper_tags %}

{% block html_head %}
<script type="text/javascript">
	$(document).ready(function() {
		$("#id_role").change(function() {
			var role_name = $(this).find("option:selected").val();
			if(role_name == "project_manager" || role_name == "project_manager_assistant") {
				$.getJSON("{% url ajax_list_master_plans %}", {}, function(data) {
					var options = "";
					
					for(var i=0; i<data.length; i++) {
						options = options + '<option value="' + data[i].id + '">' + data[i].ref_no + ' ' + data[i].name + '</option>';
					}
					
					$(".responsible .input .master_plan select").html('<option></option>' + options);
					$(".responsible").show();
					$(".responsible .input .project").hide();
				});
			} else {
				$(".responsible").hide();
				$("#id_responsible").val('');
			}
		});
		
		$("#responsible_master_plan").change(function() {
			var master_plan_id = $(this).find("option:selected").val();
			
			if(master_plan_id != "") {
				$.getJSON("{% url ajax_list_projects %}", {master_plan_id:master_plan_id}, function(data) {
					var options = "";
					
					for(var i=0; i<data.length; i++) {
						options = options + '<option value="' + data[i].id + '">' + data[i].ref_no + ' ' + data[i].name + '</option>';
					}
					
					$(".responsible .input .project select").html('<option></option>' + options);
					$(".responsible .input .project").show();
				});
			}
		});
		
		$("#responsible_project").change(function() {
			$("#id_responsible").val($(this).find("option:selected").val());
		});
	})
	
</script>
{% endblock %}

{% block body_title %}
<div class="ss_header">
<div class="container">
	<div class="title"><span>จัดการระบบ</span> ผู้ใช้ระบบ</div>
</div>
</div>
<div class="ss_tab_navi">
	<div class="tabs">
		<ul>
			<li><a href="{% url view_administer_organization %}">โครงสร้างองค์กร</a></li>
			<li class="selected">ผู้ใช้ระบบ</li>
			<li><a href="{% url view_administer_kpi %}">ตัวชี้วัด</a></li>
		</ul>
		<div class="clear"></div>
	</div>
</div>
{% endblock %}

{% block body_content %}
{% ifequal mode 'create' %}<div class="ss_child_page_header">เพิ่มผู้ใช้ <a href="{% url view_administer_users %}">กลับไปหน้ารายการผู้ใช้ &#187;</a></div>{% endifequal %}
{% ifequal mode 'edit' %}<div class="ss_child_page_header">แก้ไขผู้ใช้ <a href="{% url view_administer_users %}">กลับไปหน้ารายการผู้ใช้ &#187;</a></div>{% endifequal %}

<div class="admin_user_modify">
	<form action='.' method='POST' class="ss_form">
		<ul>
			<li>
				<label for="id_username">{{form.username.label}}:</label>
				<div class="input LONG">{{form.username}}</div>
				{{form.username.errors}}
			</li>
			<li>
				<label for="id_email">{{form.email.label}}:</label>
				<div class="input LONG">{{form.email}}</div>
				{{form.email.errors}}
			</li>
			<li>
				<label for="id_first_name">{{form.first_name.label}}:</label>
				<div class="input LONG">{{form.first_name}}</div>
				{{form.first_name.errors}}
			</li>
			<li>
				<label for="id_last_name">{{form.last_name.label}}:</label>
				<div class="input LONG">{{form.last_name}}</div>
				{{form.last_name.errors}}
			</li>
			<li>
				<label for="id_sector">{{form.sector.label}}:</label>
				<div class="input">{{form.sector}}</div>
				{{form.sector.errors}}
			</li>
			<li>
				<label for="id_role">{{form.role.label}}:</label>
				<div class="input">{{form.role}}</div>
				{{form.role.errors}}
			</li>
			<li class="responsible" {% if not responsible %}style="display:none"{% endif %}>
				<label for="id_responsible">{{form.responsible.label}}:</label>
				<div class="input">
					<div class="master_plan">
						<select id="responsible_master_plan">
						{% for master_plan in master_plans %}
						<option value="{{master_plan.id}}" {% ifequal responsible.master_plan.id master_plan.id %}selected="selected"{% endifequal %}>{{master_plan.ref_no}} {{master_plan.name}}</option>
						{% endfor %}
						</select>
					</div>
					<div class="project">
						<select id="responsible_project">
						{% for project in projects %}
						<option value="{{project.id}}" {% ifequal responsible.id project.id %}selected="selected"{% endifequal %}>{{project.ref_no}} {{project.name}}</option>
						{% endfor %}
						</select>
					</div>
					{{form.responsible}}
				</div>
			</li>
		</ul>
		
		<div class="button_panel"><button>ตกลง</button></div>
	</form>
</div>
{% endblock %}
