{% extends 'base.html' %}
{% load helper_tags %}

{% block html_head %}
{% endblock %}

{% block body_title %}
<div class="ss_header">
<div class="container">
	<div class="title"><span>จัดการระบบ</span> ผู้ใช้ระบบ</div>
</div>
</div>
<div class="ss_tab_navi">
	<div class="tabs">
		<ul>
			<li><a href="{% url view_administer_organization %}">โครงสร้างองค์กร</a></li>
			<li class="selected">ผู้ใช้ระบบ</li>
			<li><a href="{% url view_administer_kpi %}">ตัวชี้วัด</a></li>
		</ul>
		<div class="clear"></div>
	</div>
</div>
{% endblock %}

{% block body_content %}
<div class="ss_control_panel">
	<ul>
		<li><img src="{{MEDIA_URL}}/images/icon_create.png" class="icon"/><a href="{% url view_administer_users_add %}">เพิ่มผู้ใช้</a></li>
	</ul>
	<div class="clear"></div>
</div>

<div class="org_table admin_users_page">
	{% if users %}
	<table>
		<tr>
			<th></th>
			<th class="fullname">ชื่อ-นามสกุล</th>
			<th class="sector">สังกัดสำนัก</th>
			<th class="role">ตำแหน่ง</th>
			<th class="project">หน่วยงานที่ดูแล</th>
			<th class="status">สถานะผู้ใช้</th>
		</tr>
		{% for user_account in users %}
	    <tr>
			<td class="controls">
				<a href="{% url view_administer_users_edit user_account.user.id %}" title="แก้ไขข้อมูลผู้ใช้"><img src="{{MEDIA_URL}}/images/icon_edit.png" class="icon" /></a>
			</td>
			<td class="fullname">{{user_account.first_name}} {{user_account.last_name}}</td>
			<td class="sector">{{user_account.sector.ref_no}}</td>
			<td class="role">{{user_account.role}}</td>
			<td class="project">{% for project in user_account.projects %}{% ifnotequal forloop.counter 1 %}, {% endifnotequal %}<span title="{{project.name}}">แผนงาน {{project.ref_no}}</span>{% endfor %}</td>
			<td class="status">
				{% if user_account.random_password %}
					ยังไม่เข้าใช้งาน (<a href="{% url view_administer_users_password user_account.user.id %}">รหัสผ่าน</a>)
				{% else %}
					{% if user_account.user.is_active %}
					ปกติ
					{% else %}
					ระงับการใช้งาน
					{% endif %}
				{% endif %}
			</td>
		</tr>
		{% endfor %}
	</table>
	{% else %}
	<div class="ss_no_information">ไม่มีผู้ใช้</div>
	{% endif %}
</div>
{% endblock %}
