{% extends 'base.html' %}
{% load helper_tags %}

{% block html_head %}

{% endblock %}

{% block body_title %}
<div class="ss_header">
<div class="container">
	<div class="title"><span>จัดการระบบ</span> โครงสร้างองค์กร</div>
</div>
</div>
<div class="ss_tab_navi">
	<div class="tabs">
		<ul>
			<li class="selected">โครงสร้างองค์กร</li>
			<li><a href="{% url view_administer_users %}">ผู้ใช้ระบบ</a></li>
			<li><a href="{% url view_administer_kpi %}">ตัวชี้วัด</a></li>
		</ul>
		<div class="clear"></div>
	</div>
</div>
{% endblock %}

{% block body_content %}
<div class="ss_child_page_header">{% if master_plan %}แก้ไขแผนหลัก{% else %}เพิ่มแผนหลัก{% endif %} <a href="{% url view_administer_organization %}">กลับไปหน้าโครงสร้างองค์กร &#187;</a></div>

<form action="." method="post" class="ss_form">
	{% if has_sectors %}
	<ul>
		<li>
			<label for="id_ref_no">{{form.ref_no.label}}{% display_required %}</label>
			<div class="input SHORT">{{form.ref_no}}</div>
			<div class="comment">{{form.ref_no.label}}ต้องประกอบด้วยตัวเลขเท่านั้น</div>
			{{form.ref_no.errors}}
			
		</li>
		<li>
			<label for="id_name">{{form.name.label}}{% display_required %}</label>
			<div class="input LONG">{{form.name}}</div>
			{{form.name.errors}}
		</li>
		<li>
			<label for="id_sector">{{form.sector.label}}{% display_required %}</label>
			<div class="input">{{form.sector}}</div>
			{{form.sector.errors}}
		</li>
	</ul>
	{{form.master_plan_id}}
	<div class="button_panel"><button>{% if master_plan %}แก้ไขแผนหลัก{% else %}เพิ่มแผนหลัก{% endif %}</button></div>
	{% else %}
	<div class="prerequisute">ยังไม่มีข้อมูลสำนัก กรุณาสร้างสำนักก่อนที่หน้า <a href="{% url view_administer_organization_add_sector %}">สร้างสำนัก</a></div>
	{% endif %}
</form>
{% endblock %}
