{% extends 'base.html' %}
{% load helper_tags %}

{% block html_head %}
{% endblock %}

{% block body_title %}
<div class="ss_header">
<div class="container">
	<div class="title"><span>จัดการระบบ</span> ตัวชี้วัด</div>
</div>
</div>
<div class="ss_tab_navi">
	<div class="tabs">
		<ul>
			<li><a href="{% url view_administer_organization %}">โครงสร้างองค์กร</a></li>
			<li><a href="{% url view_administer_users %}">ผู้ใช้ระบบ</a></li>
			<li class="selected">ตัวชี้วัด</li>
		</ul>
		<div class="clear"></div>
	</div>
</div>
<div class="ss_sub_tab_navi">
	<ul>
		<li><a href="{% url view_administer_kpi %}">ตัวชี้วัดระดับแผนงาน</a></li>
		<li class="selected">ประเภทตัวชี้วัด</li>
	</ul>
	<div class="clear"></div>
</div>
{% endblock %}

{% block body_content %}
<div class="ss_child_page_header">{% if kpi_category %}แก้ไขประเภทตัวชี้วัด{% else %}สร้างประเภทตัวชี้วัด{% endif %} <a href="{% url view_administer_kpi_category %}">กลับไปหน้าประเภทตัวชี้วัด &#187;</a></div>

<form action="" method="POST" class="ss_form">
	<ul>
		<li>
			<label for="id_name">{{form.name.label}}{% display_required %}</label>
			<div class="input LONG">{{form.name}}</div>
			{{form.name.errors}}
		</li>
	</ul>
	
	<div class="button_panel"><button type="submit">ตกลง</button></div>
</form>
{% endblock %}
