{% extends 'page_base.html' %}
{% load helper_tags page_tags core_tags humanize %}

{% block html_head %}
{% access user 'program budget remark edit' schedule.program %}
<script type="text/javascript">
$(document).ready(function() {
    $(".modify-remark").click(function(e) {
        e.preventDefault();
        $(this).closest(".remark").hide();
        $("#remarkForm").show();
    });
    
    $(".cancel-remark-button").click(function(e) {
        e.preventDefault();
        var remarkPanel = $(this).closest(".remark_panel");
        remarkPanel.find(".remark").show();
        $("#remarkForm").hide();
    });
});
</script>
{% endaccess %}
{% endblock %}

{% block body_title %}{% display_budget_header user schedule %}{% endblock %}
{% block body_tabs %}{% tabs_for_budget page user schedule %}{% endblock %}

{% block body_content %}
<div class="budget_page">
	<div class="budget_status">
		<div class="caption">สถานะการเบิกจ่าย:</div>
		<div class="status">{% display_full_budget_schedule_status schedule %}</div>
	</div>
	
	<div class="budget_value">
		<div><span>วันที่เบิกจ่าย:</span> {{schedule.schedule_on|full_date}}</div>
		<div><span>คาดการณ์:</span> {{schedule.grant_budget|intcomma}} บาท</div>
		<div><span>เบิกจ่ายจริง:</span> {{schedule.claim_budget|intcomma}} บาท</div>
	</div>
	
    <h2 class="h2">หมายเหตุ</h2>
    <div class="remark_panel">
    	<div class="remark">
    		{% if schedule.remark %}
            <p>{{schedule.remark}}</p>
			{% else %}
			<div class="ss_no_information">ไม่มีหมายเหตุ</div>
			{% endif %}
			
			{% access user 'program budget remark edit' schedule.program %}
	        <a href="#" class="modify-remark">แก้ไขหมายเหตุ</a>
	        {% endaccess %}
        </div>
    	
		<form action="." method="post" id="remarkForm">
            {% csrf_token %}
            {{form.remark}}
            <div class="button_panel"><button class="save-remark-button" type="submit">บันทึก</button><button class="cancel-remark-button">ยกเลิก</button></div>
        </form>
    </div>
	
	<div class="reference_section">
	<h2 class="h2">ข้อมูลประกอบ</h2>
	
	{% access user 'program budget reference edit' schedule.program %}
	<div class="ss_sub_control_panel">
		<ul>
	        <li><img src="{{MEDIA_URL}}/images/toolbar/edit_reference.png" class="icon"/><a href="{% url view_budget_overview_edit_reference schedule.id %}">แก้ไขข้อมูลประกอบ</a></li>
	    </ul>
	</div>
	{% endaccess %}
	
	{% if ref_projects or ref_report_submissions %}
	<ul class="ss_reference_list">
		{% for reference in ref_projects %}
        <li>
        	<div class="project_name"><a href="{% url view_project_overview reference.project.id %}">{{reference.project.name}}</a></div>
			{% if reference.description %}<div class="description">{{reference.description}}</div>{% endif %}
        </li>
        {% endfor %}
		
		{% for reference in ref_report_submissions %}
		<li>
            <div>
            	<div class="report_name"><a href="{% url view_report_overview reference.report_submission.program.id reference.report_submission.report.id reference.report_submission.schedule_date|dateid %}">{{reference.report_submission.report.name}}</a></div>
				<div class="report_date">ฉบับวันที่ {{reference.report_submission.schedule_date|abbr_date}}</div>
			</div>
            {% if reference.description %}<div class="description">{{reference.description}}</div>{% endif %}
        </li>
		{% endfor %}
	</ul>
	{% else %}
	<div class="ss_no_information">ไม่มีข้อมูลประกอบ</div>
	{% endif %}
	</div>
	
    <h2 class="h2">ประวัติการแก้ไข</h2>
	<table class="revisions">
		<tr>
            <th></th>
			<th>วันที่เบิกจ่าย</th>
            <th>ตัวเลขคาดการณ์</th>
            <th>เบิกจ่ายจริง</th>
        </tr>
		{% for revision in revisions %}
		    {% if forloop.last %}
			<tr>
	            <td class="revised_on">สร้างเมื่อ {{revision.revised|full_datetime}}</td>
	            <td>{{revision.schedule_on|full_date}}</td>
	            <td>{{revision.grant_budget|intcomma}} บาท</td>
	            <td>{{revision.claim_budget|intcomma}} บาท</td>
	        </tr>
			{% else %}
			<tr>
	            <td class="revised_on">แก้ไขเมื่อ {{revision.revised|full_datetime}}</td>
	            <td>{{revision.schedule_on|full_date}}</td>
	            <td>{{revision.grant_budget|intcomma}} บาท</td>
	            <td>{{revision.claim_budget|intcomma}} บาท</td>
	        </tr>
			{% endif %}
		{% endfor %}
		
	</table>
</div>
{% endblock %}