{% load helper_tags page_tags %}
<form action="." method="post" class="ss_form">
    {% csrf_token %}
	<ul>
        <li>
            <label for="id_ref_no" class="caption">{{form.ref_no.label}}</label>
            <div class="input MEDIUM">{{form.ref_no}}</div>
            <div class="comment">ประกอบด้วยตัวเลขหรือตัวหนังสือ ความยาวไม่เกิน 64 ตัวอักษร</div>
            {{form.ref_no.errors}}
        </li>
        <li>
            <label for="id_contract_no" class="caption">{{form.contract_no.label}}</label>
            <div class="input MEDIUM">{{form.contract_no}}</div>
            {{form.contract_no.errors}}
        </li>
        <li>
            <label for="id_name" class="caption">{{form.name.label}}{% display_required %}</label>
            <div class="input LONG">{{form.name}}</div>
            {{form.name.errors}}
        </li>
		<li>
            <label for="id_abbr_name" class="caption">{{form.abbr_name.label}}</label>
            <div class="input LONG">{{form.abbr_name}}</div>
            {{form.abbr_name.errors}}
        </li>
        <li class="date_period">
            <label class="caption">{{form.start_date.label}}</label>
            <div class="input">{{form.start_date}} <span class="to">{{form.end_date.label}}</span> {{form.end_date}}</div>
            {{form.start_date.errors}}
            {{form.end_date.errors}}
        </li>
		<li>
            <label for="id_description" class="caption">{{form.description.label}}</label>
            <div class="input AREA_MEDIUM">{{form.description}}</div>
            {{form.description.errors}}
        </li>
    </ul>
    {{form.program_id}}
    {{form.project_id}}
    <div class="button_panel"><button type="submit">ตกลง</button></div>
	
	{% if project %}
	{% access user 'program project delete' project.program %}
	<div class="delete_link">
		<img src="{{MEDIA_URL}}/images/icons/delete.png" class="icon"/>
		
		{% if project.removable %}
        <a href="{% url view_project_delete_project project.id %}" title="ลบโครงการ" class="delete-project">ลบโครงการ</a>
        {% else %}
		<span>ลบโครงการ</span>
		<div class="note">* ไม่สามารถลบโครงการที่มีกิจกรรมได้ ลบกิจกรรมออกให้หมดก่อนลบโครงการ</div>
        {% endif %}
	</div>
	{% endaccess %}
	{% endif %}
</form>