{% extends 'page_base.html' %}
{% load helper_tags core_tags %}

{% block html_head %}
<script type="text/javascript">
    $(document).ready(function() {
		$("#id_role").change(function() {
			var role_name = $(this).find("option:selected").val();
			
			if(role_name) {
				$.getJSON('{% url ajax_get_group_level %}', {role_name:role_name}, function(result) {
	                if(result == '0') {
	                    $("li.responsible").hide();
	                    
	                } else if(result == '1') {
	                    $("li.responsible").show();
	                    $("li.responsible .sectors").show();
	                    $("#responsible_sector option:first").attr("selected", "selected");
	                    $("li.responsible .programs").hide();
	                    
	                } else if(result == '2') {
	                    $("li.responsible").show();
	                    $("li.responsible .sectors").hide();
	                    $("li.responsible .programs").show();
	                    $("#responsible_master_plan option:first").attr("selected", "selected");
	                    
	                    $("#responsible_selected_programs").html("");
	                    $("#responsible_programs").hide();
	                }
	            });
			} else {
				$("li.responsible").hide();
			}
		});
		
		$("#responsible_master_plan").change(function() {
			var master_plan_id = $(this).find("option:selected").val();
			
			if(master_plan_id) {
				$.getJSON("{% url ajax_get_master_plan_programs %}", {master_plan_id:master_plan_id}, function(data) {
	                var options = "";
					
					if(data.length == 0) {
						$("#responsible_programs").html("<option>ไม่มีแผนงาน</option>");
						$("#responsible_programs").attr("disabled", "disabled");
					} else {
						for(var i=0; i<data.length; i++) {
	                        options = options + '<option value="' + data[i].id + '">' + data[i].ref_no + ' ' + data[i].name + '</option>';
	                    }
	                    
	                    $("#responsible_programs").html("<option></option>" + options);
						$("#responsible_programs").attr("disabled", "");
					}
	                
	                $("#responsible_programs").show();
	            });
			}
		});
		
		$("#responsible_programs").change(function() {
			var program_id = $(this).find("option:selected").val();
			
			if (program_id) {
				// Check Duplicated
				var duplicated = false;
				
				$("#responsible_selected_programs li").each(function() {
					var split = $(this).attr("class").split("-");
					if(split[1] == program_id) duplicated = true;
				});
				
				if(!duplicated) {
					// Add to list
	                var program_name = $(this).find("option:selected").text();
	                
	                var new_program = $('<li class="program-' + program_id + '"><a href="#" class="remove-program"><img src="{{MEDIA_URL}}/images/icons/delete_row.png" class="icon"/></a>แผนงาน ' + program_name + '</li>');
	                new_program.find(".remove-program").click(function(e) {
	                    e.preventDefault();
	                    $(this).closest("li").remove();
	                });
	                
	                new_program.appendTo("#responsible_selected_programs");
				}
				
				// Clear Input
				$("#responsible_master_plan option:first").attr("selected", "selected");
				$("#responsible_programs").html("");
				$("#responsible_programs").hide();
			}
		});
		
		$("#responsible_selected_programs .remove-program").click(function(e) {
			e.preventDefault();
            $(this).closest("li").remove();
		});
		
		$(".button_panel button").click(function() {
            if($("li.responsible .sectors").is(":visible")) {
				var sector_id = $("#responsible_sector option:selected").val();
				$("#responsible_input").html('<input type="hidden" name="responsible_sector" value="' + sector_id + '" />');
			}
			
			if($("li.responsible .programs").is(":visible")) {
                var input_html = "";
				$("#responsible_selected_programs li").each(function() {
					var split = $(this).attr("class").split("-");
					var program_id = split[1];
					input_html = input_html + '<input type="hidden" name="responsible_program" value="' + program_id + '" />';
				});
				$("#responsible_input").html(input_html);
            }
			
			return true;
        });
	});
</script>
{% endblock %}

{% block body_title %}<h1>จัดการระบบ</h1>{% endblock %}

{% block body_tabs %}{% tabs_for_administration page %}{% endblock %}

{% block body_content %}
<div class="ss_breadcrumbs">
    <div class="breadcrumbs"><a href="{% url view_administration_users %}">รายชื่อผู้ใช้ระบบ</a> &#187;</div>
    <h2>{% if not editing_user %}เพิ่มผู้ใช้{% else %}แก้ไขผู้ใช้{% endif %}</h2>
</div>

<div class="admin_users_page">
<form action='.' method='POST' class="ss_form">
	{% csrf_token %}
	
    <ul>
        <li>
            <label for="id_username" class="caption">{{form.username.label}}{% display_required %}</label>
            <div class="input MEDIUM">{{form.username}}</div>
            <div class="comment">ชื่อที่ใช้ในการเข้าสู่ระบบ</div>
            {{form.username.errors}}
        </li>
        <li>
            <label for="id_email" class="caption">{{form.email.label}}{% display_required %}</label>
            <div class="input MEDIUM">{{form.email}}</div>
            {{form.email.errors}}
        </li>
        <li>
            <label for="id_firstname" class="caption">{{form.firstname.label}}{% display_required %}</label>
            <div class="input MEDIUM">{{form.firstname}}</div>
            {{form.firstname.errors}}
        </li>
        <li>
            <label for="id_lastname" class="caption">{{form.lastname.label}}{% display_required %}</label>
            <div class="input MEDIUM">{{form.lastname}}</div>
            {{form.lastname.errors}}
        </li>
        <li>
            <label for="id_role" class="caption">{{form.role.label}}{% display_required %}</label>
            <div class="input">{{form.role}}</div>
            {{form.role.errors}}
        </li>
		
		<li class="responsible" {% if responsible_input_mode == 0 %}style="display:none"{% endif %}>
			<label for="id_responsible" class="caption">หน่วยงานที่รับผิดชอบ:</label>
			<div class="input">
				<div class="sectors" {% if responsible_input_mode != 1 %}style="display:none"{% endif %}>
					<div class="list"><select id="responsible_sector">{% for sector in sectors %}<option value="{{sector.id}}" {% ifequal sector.id responsible_sector.id %}selected="selected"{% endifequal %}>สำนัก {{sector.ref_no}} - {{sector.name}}</option>{% endfor %}</select></div>
				</div>
				<div class="programs" {% if responsible_input_mode != 2 %}style="display:none"{% endif %}>
					<div><ul id="responsible_selected_programs">{% for responsible_program in responsible_programs %}<li class="program-{{responsible_program.id}}"><a href="#" class="remove-program"><img src="{{MEDIA_URL}}/images/icons/delete_row.png" class="icon"/></a>แผนงาน {{responsible_program.ref_no}} - {{responsible_program.name}}</li>{% endfor %}</ul></div>
					<div class="list"><select id="responsible_master_plan"><option></option>{% for master_plan in master_plans %}<option value="{{master_plan.id}}" {% if responsible_master_plan == master_plan.id %}selected="selected"{% endif %}>แผน {{master_plan.ref_no}}</option>{% endfor %}</select> <span class="list_comment">* เลือกแผนหลัก จากนั้นเลือกแผนงาน</span></div>
					<div class="list"><select id="responsible_programs" style="display:none"></select></div>
				</div>
				
				<div id="responsible_input"></div>
			</div>
		</li>
    </ul>
    
	{{form.user_id}}
    <div class="button_panel"><button>ตกลง</button></div>
</form>
</div>

{% endblock %}