{% extends 'page_base.html' %}
{% load helper_tags core_tags %}

{% block html_head %}
{% endblock %}

{% block body_title %}<h1>จัดการระบบ</h1>{% endblock %}

{% block body_tabs %}{% tabs_for_administration page %}{% endblock %}

{% block body_content %}
<div class="ss_breadcrumbs">
    <div class="breadcrumbs"><a href="{% url view_administration_users %}">รายชื่อผู้ใช้ระบบ</a> &#187;</div>
    <h2>ตั้งรหัสผ่านใหม่</h2>
</div>

<div class="admin_users_page">
	{% if editing_user.get_profile.random_password %}
		<div class="ss_no_information">ผู้ใช้นี้ยังไม่มีการเข้าใช้งาน ให้ใช้รหัสผ่านด้านล่างในการเข้าสู่ระบบ</div>
		<div class="random_password_panel"><span class="label">รหัสผ่าน:</span> {{editing_user.get_profile.random_password}}</div>
		<div><a href="{% url view_administration_users %}">กลับไปหน้ารายชื่อผู้ใช้ &#187;</a></div>
	{% else %}
		<form action='.' method='POST' class="ss_form">
			{% csrf_token %}
			
	        <ul>
	            <li>
	                <label for="id_password1" class="caption">{{form.password1.label}}{% display_required %}</label>
	                <div class="input MEDIUM">{{form.password1}}</div>
	                {{form.password1.errors}}
	            </li>
	            <li>
	                <label for="id_password2" class="caption">{{form.password2.label}}{% display_required %}</label>
	                <div class="input MEDIUM">{{form.password2}}</div>
	                {{form.password2.errors}}
	            </li>
	        </ul>
	        <div class="button_panel"><button>ตกลง</button></div>
	    </form>
	{% endif %}
</div>
{% endblock %}