{% extends 'page_base.html' %}
{% load helper_tags core_tags %}

{% block html_head %}
{% endblock %}

{% block body_title %}<h1>จัดการระบบ</h1>{% endblock %}

{% block body_tabs %}{% tabs_for_administration page %}{% endblock %}

{% block body_content %}
<div class="ss_breadcrumbs">
    <div class="breadcrumbs"><a href="{% url view_administration_organization %}">หน้าโครงสร้างองค์กร</a> &#187;</div>
    <h2>{% if sector %}แก้ไขสำนัก{% else %}เพิ่มสำนัก{% endif %}</h2>
</div>

<form action="." method="post" class="ss_form">
	{% csrf_token %}
	
    <ul>
        <li>
            <label for="id_ref_no" class="caption">{{form.ref_no.label}}{% display_required %}</label>
            <div class="input SHORT">{{form.ref_no}}</div>
            <div class="comment">{{form.ref_no.label}}ต้องประกอบด้วยตัวเลขเท่านั้น</div>
            {{form.ref_no.errors}}
        </li>
        <li>
            <label for="id_name" class="caption">{{form.name.label}}{% display_required %}</label>
            <div class="input LONG">{{form.name}}</div>
            {{form.name.errors}}
        </li>
    </ul>
    {{form.sector_id}}
    <div class="button_panel"><button>{% if sector %}แก้ไขสำนัก{% else %}เพิ่มสำนัก{% endif %}</button></div>
</form>
{% endblock %}
