{% extends 'base.html' %}
{% load helper_tags i18n interface_tags %}

{% block html_head %}
<script type="text/javascript">
	$(document).ready(function() {
		$('#activity-delete').click(function(e) {
			if (window.confirm("Confirm?")) {
				return true;
			}
			else {
				return false;
			}
		});

		bindCommentBox($(".post-activity-comment"));
	});
</script>
{% endblock %}

{% block body_title %}
<div class="ss_header">
<div class="container">
	{% print_activity_header user activity %}
</div>
</div>
<div class="ss_tab_navi">
	{% display_activity_comment_button user activity %}
	<div class="tabs">
		<ul>
			<li class="selected">ภาพรวม</li>
			{% responsible user 'project_manager,project_manager_assistant' activity.project.parent_project %}
			<li><img src="{{MEDIA_URL}}/images/pencil.png" /><a href="{% url view_activity_edit activity.id %}">แก้ไขกิจกรรม</a></li>
			{% endresponsible %}
			<li><img src="{{MEDIA_URL}}/images/icon_comments.png" /><a href="{% url view_activity_comments activity.id %}">ความคิดเห็น</a></li>
		</ul>
		<div class="clear"></div>
	</div>
</div>
{% endblock %}

{% block body_content %}
<div class="activity_page">
	<div class="headline">
		<div><em>ช่วงเวลา:</em> {% if activity.start_date and activity.end_date %}{{activity.start_date|abbr_date}} - {{activity.end_date|abbr_date}}{% else %}<span class="no_information">ยังไม่ได้กำหนดช่วงเวลา</span>{% endif %}</div>
		<div><em>สถานที่:</em> {% if activity.location %}{{activity.location}}{% else %}<span class="no_information">ไม่มีข้อมูล</span>{% endif %}</div>
	</div>
	
	<div class="content">
		<div class="description">{% if activity.description %}{{activity.description}}{% else %}<span class="no_information">ไม่มีข้อมูล</span>{% endif %}</div>
		<h3>ผลลัพธ์ที่ตั้งเป้าไว้</h3>
		<div class="description">{% if activity.result_goal %}{{activity.result_goal}}{% else %}<span class="no_information">ไม่มีข้อมูล</span>{% endif %}</div>
		<h3>ผลลัพธ์ที่เกิดขึ้น</h3>
		<div class="description">{% if activity.result_real %}{{activity.result_real}}{% else %}<span class="no_information">ไม่มีข้อมูล</span>{% endif %}</div>
	</div>
</div>
{% endblock %}
