{% extends 'base.html' %}
{% load interface_tags i18n helper %}

{% block post_comment_ajax_callback %}
window.location.reload();
{% endblock %}

{% block html_head %}
<script type="text/javascript">
$(document).ready(function() {
	bindCommentBox($(".post-activity-comment"));

	$("#reply-comment-dialog button").click(function(e) {
		e.preventDefault();
		var message = $("#reply-comment-dialog textarea").val();
		var comment_id = $("#reply-comment-dialog #comment-id").val();
		
		if(message != "") {
			$("#reply-comment-dialog .loading").show();
			$.post("/reply-comment/" + comment_id + "/", {'message': message}, function(data) {
				$("#reply-comment-dialog .loading").hide();
				$.fn.colorbox.close();
				
				if($("#comment-box-" + comment_id + " .reply_comments").size() == 0) {
					$("#comment-box-" + comment_id).append('<ul class="reply_comments"></ul>');
				}
				
				$("#comment-box-" + comment_id + " .reply_comments").append('<li class="read"><div class="sender">' + data.first_name + ' ' + data.last_name + '<div class="metadata">ส่งเมื่อ ' + data.date_timestamp + ' เวลา ' + data.time_timestamp + ' น.</div></div><p>' + message + '</p></li>');
			}, "json");
		}
	});

	$(".reply-comment").colorbox({width:"50%", scrolling:false, opacity:0.4, inline:true, href:"#reply-comment-dialog", 
		onOpen:function(){
			$("#reply-comment-dialog").css("display", "block");
			$("#reply-comment-dialog textarea").val("");
			$("#reply-comment-dialog #comment-id").val($(this).attr("id").substring(8));
			$("#reply-comment-dialog .loading").hide();
			
			$("#reply-comment-receivers_feed").css("width", "auto");
		},
		onComplete:function(){ $("#reply-comment-dialog textarea").focus(); },
		onCleanup:function() {
			$("#reply-comment-dialog").css("display", "none");
		}
	});
});
</script>
{% endblock %}

{% block body_title %}
<div class="ss_header">
<div class="container">
	{% print_activity_header activity %}
</div>
</div>
<div class="ss_tab_navi">
	<div class="tabs">
		<ul>
			<li><a href="{% url view_activity_overview activity.id %}">{% trans 'Overview' %}</a></li>
			<li class="right_item selected"><img src="{{MEDIA_URL}}/images/icon_comments.png" />{% trans 'Comments' %}</li>
		</ul>
		<div class="clear"></div>
	</div>
</div>
{% endblock %}

{% block body_content %}
<div class="comments_page">
	{% if comments %}
	<ul class="comments">
		{% for comment in comments %}
			<li {% if comment.is_read %}class="read"{% else %}class="unread"{% endif %}>
				<div class="sender">{{comment.sent_by.first_name}} {{comment.sent_by.last_name}}
					<div class="metadata">
					{% blocktrans with comment.sent_on|thai_date as c_date and comment.sent_on|date:'H:i' as c_time %}Send at {{ c_date }} Time {{ c_time }} o'clock{% endblocktrans %}
					</div>
				</div>
				<p>{{comment.message}}</p>
				<div id="reply-comment-box" class="reply_comment_panel"><img src="{{MEDIA_URL}}/images/comment_reply.png" class="icon"/> <a href="#" id="comment-{{ comment.id }}" class="reply-comment" title="ตอบกลับความคิดเห็น">{% trans 'Reply' %}</a></div>
				<div class="receivers">
					<h4>{% trans 'Receivers' %}:</h4>
					<ul>
						{% for receiver in comment.receivers.all %}
							{% ifnotequal receiver.id comment.sent_by.id %}
							<li>{{receiver.first_name}} {{receiver.last_name}}</li>
							{% endifnotequal %}
						{% endfor %}
					</ul>
				</div>
				{% if comment.replies %}
				<ul class="reply_comments">
					{% for reply in comment.replies %}
					<li {% if reply.is_read %}class="read"{% else %}class="unread"{% endif %}>
						<div class="sender">
							{{reply.sent_by.first_name}} {{reply.sent_by.last_name}}
							<div class="metadata">
							{% blocktrans with reply.sent_on|thai_date as c_date and reply.sent_on|date:'H:i' as c_time %}Send at {{ c_date }} Time {{ c_time }} o'clock{% endblocktrans %}
							</div>
						</div>
						<p>{{reply.content}}</p>
					</li>
					{% endfor %}
				</ul>
				{% endif %}
			</li>
		{% endfor %}
	</ul>
	{% else %}
	<div class="ss_no_information">{% trans 'There are no related comment.' %}</div>
	{% endif %}
</div>

<div id="reply-comment-dialog" class="comment_dialog">
<label>{% trans 'Comment' %}</label>
<textarea id="reply-comment-textarea"></textarea>
<input type="hidden" id="comment-id"/>
<input type="hidden" name="comment_target"/>
<div class="button-panel"><button>{% trans 'Send a Comment' %}</button><span class="loading"><img src="{{MEDIA_URL}}/images/loading.gif" /> {% trans 'Sending...' %}</span></div>
</div>
{% endblock %}
