{% extends 'base.html' %}
{% load interface_tags i18n helper %}

{% block post_comment_ajax_callback %}{% endblock %}

{% block html_head %}
<script type="text/javascript">
$(document).ready(function() {
	bindCommentBox($(".post-activity-comment"));

	$("#reply-comment-dialog button").click(function(e) {
		e.preventDefault();
		var message = $("#reply-comment-dialog textarea").val();
		var comment_id = $("#reply-comment-dialog #comment-id").val();
		
		if(message != "") {
			$("#reply-comment-dialog .loading").show();
			$.post("/reply-comment/" + comment_id + "/", {'message': message}, function(data) {
				$("#reply-comment-dialog .loading").hide();
				$.fn.colorbox.close();
			}, "json");
		}
	});

	$(".reply-comment").colorbox({width:"50%", scrolling:false, opacity:0.4, inline:true, href:"#reply-comment-dialog", 
		onOpen:function(){
			$("#reply-comment-dialog").css("display", "block");
			$("#reply-comment-dialog textarea").val("");
			$("#reply-comment-dialog #comment-id").val($(this).attr("id").substring(8));
			$("#reply-comment-dialog .loading").hide();
			
			$("#reply-comment-receivers_feed").css("width", "auto");
		},
		onComplete:function(){ $("#reply-comment-dialog textarea").focus(); },
		onCleanup:function() {
			$("#reply-comment-dialog").css("display", "none");
		}
	});
});
</script>
{% endblock %}

{% block body_title %}
<div class="ss_header">
<div class="container">
	{% print_activity_header activity %}
</div>
</div>
<div class="ss_tab_navi">
	<div class="tabs">
		<ul>
			<li><a href="{% url view_activity_overview activity.id %}">{% trans 'Overview' %}</a></li>
			<li class="right_item selected"><img src="{{MEDIA_URL}}/images/icon_comments.png" />{% trans 'Comments' %}</li>
		</ul>
		<div class="clear"></div>
	</div>
</div>
{% endblock %}

{% block body_content %}
<div class="comments_page">
	{% if comments %}
	<ul class="comments">
		{% for cr in comments %}
		<li {% if cr.already_read %}class="read"{% endif %}>
			<div class="sender">{{cr.comment.sent_by.first_name}} {{cr.comment.sent_by.last_name}}
			  <div class="metadata">
			    {% blocktrans with cr.sent_on|thai_date as c_date and cr.sent_on|date:'H:i' as c_time %}Send at {{ c_date }} Time {{ c_time }} o'clock{% endblocktrans %}
			  </div>
			</div>
			<p>{{cr.comment.message}}</p>
			<div id="reply-comment-box"><a href="#" id="comment-{{ cr.comment.id }}" class="reply-comment">{% trans 'Reply' %}</a></div>
			<div class="receivers">
				<h4>{% trans 'Receivers' %}:</h4>
				<ul>
					{% for receiver in cr.receivers %}
						<li>{{receiver.receiver.first_name}} {{receiver.receiver.last_name}}</li>
					{% endfor %}
				</ul>
			</div>
		</li>
			{% if cr.comment.commentreply_set.all %}
				<div class="indented">
				{% for c in cr.comment.commentreply_set.all %}
					<li class="read">
						<div class="sender">{{ c.sent_by.first_name }} {{ c.sent_by.last_name }}
							<div class="metadata">
							  {% blocktrans with c.sent_on|thai_date as c_date and c.sent_on|date:'H:i' as c_time %}Send at {{ c_date }} Time {{ c_time }} o'clock{% endblocktrans %}
							</div>
						</div>
						<p>{{ c.content }}</p>
					</li>
				{% endfor %}
				</div>
			{% endif %}
		{% endfor %}
	</ul>
	{% else %}
	<div class="ss_no_information">{% trans 'There are no related comment.' %}</div>
	{% endif %}
</div>

<div id="reply-comment-dialog">
<label>{% trans 'Comment' %}</label>
<textarea id="reply-comment-textarea"></textarea>
<input type="hidden" id="comment-id"/>
<input type="hidden" name="comment_target"/>
<div class="button-panel"><button>{% trans 'Send a Comment' %}</button><span class="loading"><img src="{{MEDIA_URL}}/images/loading.gif" />{% trans 'Sending...' %}</span></div>
</div>
{% endblock %}
