{% extends 'base.html' %}
{% load helper %}

{% block html_head %}

{% endblock %}

{% block body_title %}
<div class="ss_header">
<div class="container">
	<div class="title"><span>จัดการระบบ</span> โครงสร้างองค์กร</div>
</div>
</div>
<div class="ss_tab_navi">
	<div class="tabs">
		<ul>
			<li class="selected">โครงสร้างองค์กร</li>
			<li><a href="{% url view_administer_users %}">ผู้ใช้ระบบ</a></li>
		</ul>
		<div class="clear"></div>
	</div>

	<div class="tabs sub-tabs">
		<ul>
			<li><a href="sector">สำนัก</a></li>
			<li><a href="masterplan">แผนหลัก</a></li>
		</ul>
	</div>
</div>
{% endblock %}

{% block body_content %}
<div class="sector-list">
<p><a href="{% url view_administer_organization_add_sector %}">เพิ่มสำนัก</a></p>
<ul>
	{% for sector in sectors %}
	<li>{{ sector.name }}</li>
	{% endfor %}
</ul>
</div>
{% endblock %}
