{% extends 'base.html' %}
{% load helper %}

{% block html_head %}
{% endblock %}

{% block body_title %}
<div class="ss_header">
<div class="container">
	<div class="title"><span>จัดการระบบ</span> ผู้ใช้ระบบ</div>
</div>
</div>
<div class="ss_tab_navi">
	<div class="tabs">
		<ul>
			<li><a href="{% url view_administer_organization %}">โครงสร้างองค์กร</a></li>
			<li class="selected">ผู้ใช้ระบบ</li>
		</ul>
		<div class="clear"></div>
	</div>
</div>
{% endblock %}

{% block body_content %}
<div class="ss_child_page_header">รหัสผ่านผู้ใช้ <a href="{% url view_administer_users %}">กลับไปหน้ารายการผู้ใช้ &#187;</a></div>

<div class="administer_users_password">
	{% if user_account.random_password %}
		<div class="name">{{user_account.first_name}} {{user_account.last_name}}</div>
		<div class="name">ชื่อผู้ใช้: {{user_account.user.username}}</div>
		<div class="password">รหัสผ่าน: {{user_account.random_password}}</div>
		<div class="note">* รหัสผ่านนี้ใช้สำหรับการเข้าสู่ระบบครั้งแรกเท่านั้น</div>
	{% else %}
		<div class="warning">ผู้ใช้นี้เปลี่ยนรหัสผ่านเป็นของตัวเองแล้ว คุณไม่สามารถดูรหัสผ่านได้</div>
	{% endif %}
</div>

{% endblock %}
