{% load interface_tags i18n helper %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title>Strategy Management System</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
	
	<script type="text/javascript" src="{{MEDIA_URL}}/scripts/jquery.min.js"></script>
	<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}/yui/reset-fonts/reset-fonts.css">
	
	<link type="text/css" media="screen" rel="stylesheet" href="{{MEDIA_URL}}/colorbox/colorbox.css" /> 
	<script type="text/javascript" src="{{MEDIA_URL}}/colorbox/jquery.colorbox-min.js"></script>
	
	<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}/css/styles.css">
	<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}/css/styles.page.css">
	
	<script type="text/javascript" src="{{MEDIA_URL}}/scripts/scripts.js"></script>
	<script type="text/javascript">var MEDIA_URL = '{{MEDIA_URL}}';</script>
	
<script type="text/javascript">
$(document).ready(function() {
	/*$("#post-comment-dialog textarea").keypress(function(e) {
		if(e.which == 13) {
			$(this).blur();
			$("#post-comment-dialog button").focus().click();
		}
	});*/
	
	$("#post-comment-dialog button").click(function(e) {
		e.preventDefault();
		postComment();
	});
});

function postComment() {
	var message = $("#post-comment-dialog textarea").val();
	
	if(message != "") {
		var comment_url = $("#post-comment-dialog input[name='comment_target']").val();
		$("#post-comment-dialog .loading").show();
		$.post("/post-comment/" + comment_url + "/", {'message': message}, function(data) {
			$("#post-comment-dialog .loading").hide();
			$.fn.colorbox.close();
			if(data.id == 0) {
				alert("ไม่สามารถส่งความคิดเห็นได้ เนื่องจากไม่มีข้อมูลผู้รับผิดชอบ");
			} else {
				{% block post_comment_ajax_callback %}{% endblock %}
			}
		}, "json");
	}
}

function bindCommentBox(jqueryObject) {
	jqueryObject.colorbox({width:"50%", scrolling:false, opacity:0.4, inline:true, href:"#post-comment-dialog", 
		onOpen:function(){
			$("#post-comment-dialog").css("display", "block");
			$("#post-comment-dialog textarea").val("");
			$("#post-comment-dialog .loading").hide();
			
			$("#post-comment-dialog input[name='comment_target']").val($.fn.colorbox.element().attr("rel"));
			
			$("#post-comment-receivers_feed").css("width", "auto");
		},
		onComplete:function(){ $("#post-comment-dialog textarea").focus(); },
		onCleanup:function() {
			$("#post-comment-dialog").css("display", "none");
		}
	});
}

</script>

{% block html_head %}{% endblock %}

</head>
<body class="yui-skin-sam">
	<div class="body_header">
		<div class="account_panel">
			<span class="username">{{user_account.first_name}} {{user_account.last_name}}</span>
			
			{% ifadmin user %}
				{% role user 'sector_admin' %}
				{% else %}
				<a href="/administer/">{% trans 'Administer' %}</a> |
				{% endrole %}
			{% else %}
				<span class="unread_comments">[ <a href="/dashboard/comments/"><img src="{{MEDIA_URL}}/images/icon_unread_comments.png"/> {% get_unread_comments user.get_profile.id %}</a> ]</span>
				{% role user 'sector_manager' %}<a href="/">หน้าสำนัก</a> |{% endrole %}
				{% role user 'sector_manager_assistant' %}<a href="/dashboard/">หน้าผู้ใช้</a> |{% endrole %}
				{% role user 'project_manager,project_manager_assistant' %}<a href="/">หน้าแผนงาน</a> |{% endrole %}
			{% endifadmin %}
			<a href="/accounts/logout/" class="logout-link">{% trans 'Sign out' %}</a>
		</div>
		<div class="logo_panel"><a href="/"><img src="{{MEDIA_URL}}/images/logo.png" /></a></div>
	</div>
	<div class="body_body">
		<div class="body_title">{% block body_title %}{% endblock %}</div>
		<div class="body_content">{% if messages %}<div class="body_content_message">{{messages|safe}}</div>{% endif %}{% block body_content %}{% endblock %}</div>
	</div>
	<div class="body_footer">
		<div>สำนักงานกองทุนสนับสนุนการสร้างเสริมสุขภาพ (สสส.)</div>
		<div>979 อาคารเอส เอ็ม ทาวเวอร์ ชั้น 34 ถนนพหลโยธิน แขวงสามเสนใน เขตพญาไท กรุงเทพฯ 10400</div>
	</div>

<div id="post-comment-dialog" class="comment_dialog">
<label>{% trans 'Comment' %}</label>
<textarea id="post-comment-textarea"></textarea>
<input type="hidden" name="comment_target"/>
<div class="button-panel"><button>{% trans 'Send a Comment' %}</button><span class="loading"><img src="{{MEDIA_URL}}/images/loading.gif" /> {% trans 'Sending...' %}</span></div>
</div>
</body>
</html>
