{% extends 'base.html' %}
{% load helper i18n %}

{% block html_head %}

{% endblock %}

{% block body_title %}
<div class="ss_header">
<div class="container">
	<div class="title"><span>{% trans 'User Page' %}</span> {{user.get_profile.first_name}} {{user.get_profile.last_name}}</div>
</div>
</div>
<div class="ss_tab_navi">
	<div class="tabs">
		<ul>
			{% role user 'sector_manager_assistant' %}<li><a href="{% url view_frontpage %}">{% trans 'Frontpage' %}</a></li>{% endrole %}
			<li class="selected">{% trans 'Comment Box' %}</li>
		</ul>
		<div class="clear"></div>
	</div>
</div>
<div class="ss_sub_tab_navi">
	<ul>
		<li><a href="{% url view_dashboard_comments %}">กล่องขาเข้า</a></li>
		<li class="selected">กล่องขาออก</li>
	</ul>
	<div class="clear"></div>
</div>
{% endblock %}

{% block body_content %}
<div class="comment_outbox_page">
	
</div>
{% endblock %}
