{% extends 'base.html' %}
{% load helper i18n %}

{% block html_head %}

{% endblock %}

{% block body_title %}
<div class="ss_header">
<div class="container">
	<div class="title"><span>{% trans 'User Page' %}</span> {{user.get_profile.first_name}} {{user.get_profile.last_name}}</div>
</div>
</div>
<div class="ss_tab_navi">
	<div class="tabs">
		<ul>
			{% role user 'sector_manager_assistant' %}<li><a href="{% url view_frontpage %}">{% trans 'Frontpage' %}</a></li>{% endrole %}
			<li class="selected">{% trans 'Comment Box' %}</li>
		</ul>
		<div class="clear"></div>
	</div>
</div>
{% endblock %}

{% block body_content %}
<div class="comment_inbox_page">
	{% if objects %}
	<ul class="objects">
		{% for object in objects %}
		<li>
			<h3>{{object.object.name}}</h3>
			
			{% ifequal object.comment.object_name 'activity' %}<div class="links"><a href="/activity/{{object.object.id}}/comments/">{% trans 'Read All Comments' %}</a></div>{% endifequal %}
			{% ifequal object.comment.object_name 'program' %}<div class="links"><a href="/program/{{object.object.id}}/comments/">{% trans 'Read All Comments' %}</a></div>{% endifequal %}
			{% ifequal object.comment.object_name 'project' %}<div class="links"><a href="/project/{{object.object.id}}/comments/">{% trans 'Read All Comments' %}</a></div>{% endifequal %}
			{% ifequal object.comment.object_name 'report' %}<div class="links"><a href="/report/{{object.object.id}}/comments/">{% trans 'Read All Comments' %}</a></div>{% endifequal %}
			
			<ul class="comments">
				{% for comment in object.comments %}
				<li>
					<div class="sender">{{comment.comment.sent_by.first_name}} {{comment.comment.sent_by.last_name}}
					  <div class="metadata">
						{% blocktrans with comment.sent_on|thai_date as c_date and comment.sent_on|date:'H:i' as c_time %}Send at {{ c_date }} Time {{ c_time }} o'clock{% endblocktrans %}
					  </div>
					</div>
					<p>{{comment.comment.message}}</p>
				</li>
				{% endfor %}
			</ul>
		</li>
		{% endfor %}
	</ul>
	{% else %}
	<div class="ss_no_information">{% trans 'No New Comment' %}</div>
	{% endif %}
</div>
{% endblock %}
