{% extends 'base.html' %}
{% load helper interface_tags %}

{% block post_comment_ajax_callback %}
$("#report-" + data.object_id + " .comment_count").html(data.count + " ความคิดเห็น")
{% endblock %}


{% block html_head %}
<script type="text/javascript">
$(document).ready(function() {
	$(".approve-report").click(function(e) {
		var liObject = $(this).closest("li");
		$.post("{% url ajax_approve_report_schedule %}", {id:liObject.attr("rel")}, function(data) {
			liObject.hide('slow');
		});
	});
	
	$(".reject-report").click(function(e) {
		var liObject = $(this).closest("li");
		$.post("{% url ajax_reject_report_schedule %}", {id:liObject.attr("rel")}, function(data) {
			liObject.hide('slow');
		});
	});
	
	bindCommentBox($(".post-report-comment"));
});
</script>
{% endblock %}

{% block body_title %}
<div class="ss_header">
<div class="container">
	<div class="title"><span>หน้าผู้ใช้</span> {{user.get_profile.first_name}} {{user.get_profile.last_name}}</div>
</div>
</div>
<div class="ss_tab_navi">
	<div class="tabs">
		<ul>
			<li class="selected">หน้าแรก</li>
			<li><a href="{% url view_dashboard_comments %}">กล่องความคิดเห็น</a></li>
		</ul>
		<div class="clear"></div>
	</div>
</div>
{% endblock %}

{% block body_content %}
<div class="dashboard_page">
	<div class="right_panel">
		<div class="sector_link"><a href="{% url view_sector_overview user_account.sector.id %}">สำนัก {{user_account.sector.ref_no}}</a></div>
		<h2>แผนงาน/โครงการที่รับผิดชอบ</h2>
		{% if projects %}
		<ul>
			{% for project in projects %}
				<li><a href="{% url view_project_overview project.id %}">{% project_prefix_name project %} {{project.ref_no}}</a></li>
			{% endfor %}
		</ul>
		{% else %}
		<div class="ss_no_information">ไม่มีแผนงาน/โครงการที่รับผิดชอบ</div>
		{% endif %}
		<div class="manage_projects"><a href="{% url view_dashboard_my_projects %}">แก้ไขแผนงาน/โครงการที่รับผิดชอบ</a></div>
	</div>
	
	<div class="left_panel">
		<h2>ตรวจสอบการส่งรายงาน</h2>
		{% if projects %}
		<div class="report_checkup">
			<ul>
				{% for project in projects %}
				<li>
					<h3>{{project.ref_no}} {{project.name}}</h3>
					{% if project.reports %}
						{% for report in project.reports %}
							{% if report.schedules %}
								<h4>{{report.report.name}}</h4>
								<ul class="reports">
									{% for report_schedule in report.schedules %}
										<li id="report-{{report_schedule.id}}" rel="{{report_schedule.id}}">
											<div class="schedule">{{report_schedule.due_date|thai_abbr_date}} <span class="permalink"><a href="{% url view_report_overview report_schedule.id %}">หน้ารายงาน</a></span></div>
											<div class="report_approval">
												{% if report_schedule.need_approval %}<button class="approve-report">รับรองรายงาน</button><button class="reject-report">ตีกลับรายงาน</button>{% endif %}
												{% ifequal report_schedule.state 3 %}<div><span class="rejected_on">ตีกลับเมื่อวันที่ {{report_schedule.approval_on|thai_display_datetime}}</span></div>{% endifequal %}
											</div>
											<div class="report_details">
												{% if report_schedule.overdue %}<span class="due_date overdue_date">เลยกำหนดมาแล้ว {{report_schedule.due_date|elapse}}</span>{% endif %}
												{% if report_schedule.submitted_on %}<span class="due_date">ส่งรายงานเมื่อวันที่ {{report_schedule.submitted_on|thai_display_datetime}}</span>{% endif %}
												<span class="comment">[ <a href="{% url view_report_comments report_schedule.id %}" class="comment_count">{% if report_schedule.comment_count %}{{report_schedule.comment_count}}{% else %}0{% endif %} ความคิดเห็น</a> ] <a href="#" class="post-report-comment" rel="report/{{report_schedule.id}}" title="เขียนความคิดเห็น"><img src="{{MEDIA_URL}}/images/icon_comments.png" class="icon"/></a></span>
											</div>
										</li>
									{% endfor %}
								</ul>
							{% endif %}
						{% endfor %}
					{% else %}
						<div class="ss_no_information">ไม่มีข้อมูลรายงาน</div>
					{% endif %}
				</li>
				{% endfor %}
			</ul>
		</div>
		{% else %}
		<div class="ss_no_information">ไม่มีข้อมูลรายงาน</div>
		{% endif %}
	</div>
	<div class="clear"></div>
</div>
{% endblock %}