{% extends 'base.html' %}
{% load interface_tags %}
{% load helper %}

{% block html_head %}
{{form.media}}
{% endblock %}

{% block body_title %}
<div class="ss_header">
<div class="container">
	{% print_master_plan_header master_plan %}
</div>
</div>
<div class="ss_tab_navi">
	<div class="tabs">
		<ul>
			<li><a href="{% url view_master_plan_overview master_plan.id %}">ภาพรวม</a></li>
			<li class="selected">แผนงาน/โครงการ</li>
		</ul>
		<div class="clear"></div>
	</div>
</div>
{% endblock %}

{% block body_content %}

<div class="master_plan_add_plan_page">
<div class="ss_child_page_header">เพิ่มแผนงาน/โครงการ <a href="{% url view_master_plan_organization master_plan.id %}">กลับไปหน้าจัดโครงสร้างแผนหลัก &#187;</a></div>
<form action="" method="POST" class="ss_form">
	<ul>
		<li><label for="id_plan">{{form.plan.label}}</label><div class="input">{{form.plan}}</div>{{form.plan.errors}}</li>
		<li><label for="id_ref_no">{{form.ref_no.label}}</label><div class="input SHORT">{{form.ref_no}}</div>{{form.ref_no.errors}}</li>
		<li><label for="id_name">{{form.name.label}}</label><div class="input SHORT">{{form.name}}</div>{{form.ref_no.errors}}</li>
		<li><label for="id_description">{{form.description.label}}</label><div class="input">{{form.description}}</div></li>
		<li><input type="submit" value="บันทึกแผนงาน" /></li>
	</ul>
</form>
</div>
</div>

{% endblock %}
