{% extends 'base.html' %}
{% load interface_tags %}
{% load helper %}

{% block html_head %}

{% endblock %}

{% block body_title %}
<div class="ss_header">
<div class="container">
	{% print_master_plan_header master_plan %}
</div>
</div>
<div class="ss_tab_navi">
	<div class="tabs">
		<ul>
			<li><a href="{% url view_master_plan_overview master_plan.id %}">ภาพรวม</a></li>
			<li class="selected">แผนงาน/โครงการที่รับผิดชอบ</li>
		</ul>
		<div class="clear"></div>
	</div>
</div>
{% endblock %}

{% block body_content %}
<div class="ss_control_panel">
	<ul>
		<li><img src="{{MEDIA_URL}}/images/icon_organization.png" class="icon"/><a href="{% url view_master_plan_organization master_plan.id %}">จัดการโครงสร้างแผนหลัก</a></li>
	</ul>
</div>

<div class="hierarchy_page hierarchy_master_plan_page">
	{% for plan in plans %}
		<h2>{{plan.ref_no}} {{plan.name}}</h2>
		{% if not plan.projects %}
			<div class="ss_no_information">ไม่มีแผนงาน/โครงการ</div>
		{% else %}
			<ul>
				{% for project in plan.projects %}
				<li>
					<a href="{% url view_project_overview project.id %}">{{project.ref_no}} {{project.name}}</a>
					<div class="item_overview"><span>ระยะเวลา {% if project.start_date and project.end_date %}<em>{{project.start_date|thai_date}} - {{project.end_date|thai_date}}</em>{% else %}<em>ยังไม่กำหนดระยะเวลา</em>{% endif %}</span> <span>ผู้รับผิดชอบ <em>{% who_responsible project %}</em></span></div>
				</li>
				{% endfor %}
			</ul>
		{% endif %}
	{% endfor %}
</div>
{% endblock %}