{% extends 'base.html' %}
{% load helper %}
{% load interface_tags %}

{% block post_comment_ajax_url %}/post-comment/object/program/{{project.id}}/{% endblock %}
{% block post_comment_ajax_callback %}{% endblock %}

{% block html_head %}
<script type="text/javascript">
$(document).ready(function() {
	{% role_dept user 'sector_manager_assistant' project %}
	$(".update-finance").click(function(e) {
		e.preventDefault();
		
		var schedule_id = $(this).attr("rel");
		var trObject = $(this).closest("tr");
		var used = trObject.find("input[name='used_budget']").val();
		var expected = trObject.find("input[name='expected_budget']").val();
		
		$.post("/ajax/update-finance-schedule/", {'schedule': schedule_id, 'used':used, 'expected':expected}, function(data) {
			trObject.after('<tr class="revision"><td class="head"></td><td class="input">' + data.expected + ' หน่วย</td><td class="input">' + data.used + ' หน่วย</td><td colspan="2">ข้อมูลเมื่อวันที่ ' + data.revised_on + '</td></tr>');
		}, "json");
	});
	{% endrole_dept %}
});
</script>

{% endblock %}

{% block body_title %}
<div class="ss_header">
<div class="container">
	{% print_project_header project %}
</div>
</div>
<div class="ss_tab_navi">
	<div class="tabs">
		<ul>
			<li><a href="{% url view_program_overview project.id %}">ภาพรวม</a></li>
			<li><a href="{% url view_program_projects project.id %}">โครงการ</a></li>
			<li><a href="{% url view_program_reports project.id %}">รายงานแผนงาน</a></li>
			<li><a href="{% url view_program_kpi project.id %}">ตัวชี้วัดแผนงาน</a></li>
			<li class="selected">แผนการเงิน</li>
			<li class="right_item"><img src="{{MEDIA_URL}}/images/icon_comments.png" /><a href="{% url view_program_comments project.id %}">ความคิดเห็น</a></li>
		</ul>
		<div class="clear"></div>
	</div>
</div>
{% endblock %}

{% block body_content %}
<div class="program_finance_page">
{% if finance_years %}
<table class="finance_years">
	<tr>
		<th></th>
		<th>คาดการณ์</th>
		<th>เบิกจ่ายจริง</th>
		<th></th>
	</tr>
	{% for year in finance_years %}
		<tr>
			<td colspan="4"><h3>ปี {{year.number}}</h3></td>
		</tr>
		{% for schedule in year.schedules %}
			<tr>
				<td class="head">{{schedule.scheduled_on|thai_abbr_date}}</td>
				<td class="input">
				{% role_dept user 'sector_manager_assistant' project %}
					<input type="text" name="expected_budget" value="{{schedule.expected_budget}}"/>
				{% else %}
					{{schedule.expected_budget}}
				{% endrole_dept %}
				หน่วย
				</td>
				<td class="input">
				{% role_dept user 'sector_manager_assistant' project %}
					<input type="text" name="used_budget" value="{{schedule.used_budget}}"/>
				{% else %}
					{{schedule.used_budget}}
				{% endrole_dept %}
				หน่วย
				</td>
				<td>
					{% role_dept user 'sector_manager_assistant' project %}
					<button class="update-finance" rel="{{schedule.id}}">แก้ไขข้อมูล</button>
					{% endrole_dept %}
				</td>
			</tr>
			{% for revision in schedule.revisions %}
				<tr class="revision">
					<td class="head">แก้ไข</td>
					<td class="input">{{revision.expected_budget}} หน่วย</td>
					<td class="input">{{revision.used_budget}} หน่วย</td>
					<td>ข้อมูลเมื่อวันที่ {{revision.revised_on|thai_display_datetime}}</td>
				</tr>
			{% endfor %}
		{% endfor %}
	{% endfor %}
</table>
{% else %}
<div class="ss_no_information">ไม่มีข้อมูลแผนการเงิน</div>
{% endif %}
</div>
{% endblock %}