{% extends 'base.html' %}
{% load helper %}
{% load interface_tags %}

{% block post_comment_ajax_url %}{% if not project.parent_project %}/post-comment/object/program/{{project.id}}/{% else %}/post-comment/object/project/{{project.id}}/{% endif %}{% endblock %}
{% block post_comment_ajax_callback %}{% endblock %}

{% block html_head %}
{% endblock %}

{% block body_title %}
<div class="ss_header">
<div class="container">
	{% print_project_header user project %}
</div>
</div>
<div class="ss_tab_navi">
	<div class="tabs">
		<ul>
			<li><a href="{% url view_project_overview project.id %}">ภาพรวม</a></li>
			{% if not project.parent_project %}
			<li><a href="{% url view_project_projects project.id %}">โครงการ</a></li>
			<li class="selected">รายงาน</li>
			<li class="right_item"><img src="{{MEDIA_URL}}/images/icon_comments.png" /><a href="{% url view_project_comments project.id %}">ความคิดเห็น</a></li>
			{% else %}
			<li><a href="{% url view_project_activities project.id %}">กิจกรรม</a></li>
			<li class="right_item"><img src="{{MEDIA_URL}}/images/icon_comments.png" /><a href="{% url view_project_comments project.id %}">ความคิดเห็น</a></li>
			{% responsible user 'project_manager,project_manager_assistant' project.parent_project %}
			<li class="right_item"><a href="{% url view_project_edit project.id %}">แก้ไขโครงการ</a></li>
			{% endresponsible %}
			{% endif %}
		</ul>
		<div class="clear"></div>
	</div>
</div>
{% endblock %}

{% block body_content %}
<div class="ss_child_page_header">ประเภทรายงาน <a href="{% url view_project_reports project.id %}">กลับไปหน้ารายงาน &#187;</a></div>

<div class="ss_control_panel">
	<ul>
		<li><img src="{{MEDIA_URL}}/images/icon_create.png" class="icon"/><a href="{% url view_project_reports_add project.id %}">สร้างรายงานของแผนงาน</a></li>
	</ul>
</div>

<div class="project_report_list">	
	<h2>รายงานจากสำนัก</h2>
	{% if sector_reports %}
	<table>
		<tr>
			<th class="name">ชื่อรายงาน</th>
		</tr>
		{% for report in sector_reports %}
		<tr>
			<td class="name">{{report.name}}</td>
		</tr>
		{% endfor %}
	</table>
	{% else %}
	<div class="ss_no_information">ไม่มีรายงาน</div>
	{% endif %}
	
	<h2>รายงานของแผนงาน</h2>
	{% if project_reports %}
	<table>
		<tr>
			<th class="controls"></th>
			<th class="name">ชื่อรายงาน</th>
		</tr>
		{% for report in project_reports %}
		<tr>
			<td class="controls">
				<a href="{% url view_project_report_edit project.id report.id %}" title="แก้ไขรายงาน"><img src="{{MEDIA_URL}}/images/icon_edit.png" class="icon" /></a>
			</td>
			<td class="name">{{report.name}}</td>
		</tr>
		{% endfor %}
	</table>
	{% else %}
	<div class="ss_no_information">ไม่มีรายงาน</div>
	{% endif %}
	
</div>
{% endblock %}