{% extends 'base.html' %}
{% load interface_tags i18n helper %}

{% block post_comment_ajax_callback %}{% endblock %}

{% block html_head %}
<script type="text/javascript">
$(document).ready(function() {
	bindCommentBox($(".post-project-comment"));
});
</script>
{% endblock %}

{% block body_title %}
<div class="ss_header">
<div class="container">
	{% print_project_header user project %}
</div>
</div>
<div class="ss_tab_navi">
	<div class="tabs">
		<ul>
			<li class="selected">{% trans 'Overview' %}</li>
			{% if not project.parent_project %}
			<li><a href="{% url view_project_projects project.id %}">{% trans 'Projects' %}</a></li>
			<li><a href="{% url view_project_reports project.id %}">{% trans 'Reports' %}</a></li>
			<li class="right_item"><img src="{{MEDIA_URL}}/images/icon_comments.png" /><a href="{% url view_project_comments project.id %}">{% trans 'Comments' %}</a></li>
			{% else %}
			<li><a href="{% url view_project_activities project.id %}">{% trans 'Activities' %}</a></li>
			<li class="right_item"><img src="{{MEDIA_URL}}/images/icon_comments.png" /><a href="{% url view_project_comments project.id %}">{% trans 'Comments' %}</a></li>
			{% responsible user 'project_manager,project_manager_assistant' project.parent_project %}
			<li class="right_item"><a href="{% url view_project_edit project.id %}">แก้ไขโครงการ</a></li>
			{% endresponsible %}
			{% endif %}
		</ul>
		<div class="clear"></div>
	</div>
</div>
{% endblock %}

{% block body_content %}
<div class="overview_page">
	<h2>{% trans 'Recent Reports' %}</h2>
	<div class="reports_section">
		{% if report_schedules %}
		<ul>
			{% for report_schedule in report_schedules %}
			<li><a href="{% url view_report_overview report_schedule.id %}">{{report_schedule.report_project.report.name}} งวดวันที่ {{report_schedule.due_date|thai_date}}</a></li>
			{% endfor %}
		</ul>
		{% else %}
		<div class="ss_no_information">ไม่มีรายงาน</div>
		{% endif %}
	</div>
	
	{% if not project.parent_project %}
		<h2>โครงการที่ดำเนินอยู่</h2>
		{% if current_projects %}
		<div class="hierarchy_section project_hierarchy_section">
			<ul>
				{% for project in current_projects %}
					<li>
						<h3><a href="{% url view_project_overview project.id %}">{{project.ref_no}} {{project.name}}</a></h3>
						<div class="item_overview"><span>ระยะเวลา <em>{{project.start_date|thai_date}} - {{project.end_date|thai_date}}</em></span></div>
					</li>
				{% endfor %}
			</ul>
		</div>
		{% else %}
		<div class="ss_no_information">ไม่มีโครงการที่ดำเนินอยู่</div>
		{% endif %}
	{% else %}
		<h2>กิจกรรมที่ดำเนินอยู่</h2>
		{% if current_activities %}
		<div class="hierarchy_section project_hierarchy_section">
			<ul>
				{% for activity in current_activities %}
				<li>
					<h3><a href="{% url view_activity_overview activity.id %}">{{activity.name}}</a></h3>
					<div class="item_overview"><span>ระยะเวลา <em>{{activity.start_date|thai_date}} - {{activity.end_date|thai_date}}</em></span></div>
				</li>
				{% endfor %}
			</ul>
		</div>
		{% else %}
		<div class="ss_no_information">ไม่มีกิจกรรมที่ดำเนินอยู่</div>
		{% endif %}
	{% endif %}
</div>
{% endblock %}
