{% extends 'base.html' %}
{% load interface_tags i18n helper %}

{% block post_comment_ajax_url %}/post-comment/object/activity/{{activity.id}}/{% endblock %}
{% block post_comment_ajax_callback %}{% endblock %}

{% block html_head %}
{{form.media}}

<script type="text/javascript">
$(document).ready(function() {
	$("#activity-delete").click(function(e) {
		if(!window.confirm("ยืนยันการลบกิจกรรม?")) {
			e.preventDefault();
		}
	});
});
</script>
{% endblock %}

{% block body_title %}
<div class="ss_header">
<div class="container">
	{% print_activity_header user activity %}
</div>
</div>
<div class="ss_tab_navi">
	<div class="tabs">
		<ul>
			<li><a href="{% url view_activity_overview activity.id %}">{% trans 'Overview' %}</a></li>
			<li class="right_item"><img src="{{MEDIA_URL}}/images/icon_comments.png" /><a href="{% url view_activity_comments activity.id %}">{% trans 'Comments' %}</a></li>
			<li class="selected right_item">แก้ไขกิจกรรม</li>
		</ul>
		<div class="clear"></div>
	</div>
</div>
{% endblock %}

{% block body_content %}
<div class="ss_child_page_header">แก้ไขกิจกรรม <a href="{% url view_activity_overview activity.id %}">กลับไปหน้ากิจกรรม &#187;</a></div>

<div class="ss_control_panel">
	<ul>
		<li><img src="{{MEDIA_URL}}/images/icon_delete.png" class="icon"/><a id="activity-delete" href="{% url view_activity_delete activity.id %}">ลบกิจกรรม</a></li>
	</ul>
	<div class="clear"></div>
</div>

<div>
	<form method="post" action="." class="ss_form">
		<ul>
			<li><label for="id_name">{{form.name.label}}:</label><div class="input MAX">{{form.name}}</div>{{form.name.errors}}</li>
			<li><label for="id_location">{{form.location.label}}:</label><div class="input LONG">{{form.location}}</div></li>
			<li class="date_period">
				<label>{{form.start_date.label}}:</label>
				<div class="input">{{form.start_date}} <span class="to">{{form.end_date.label}}</span> {{form.end_date}}</div>
				{{form.start_date.errors}}
				{{form.end_date.errors}}
			</li>
			
			<li><label for="id_description">{{form.description.label}}:</label><div class="input MAX_MEDIUM">{{form.description}}</div></li>
			<li><label for="id_result_goal">{{form.result_goal.label}}:</label><div class="input MAX_MEDIUM">{{form.result_goal}}</div></li>
			<li><label for="id_result_real">{{form.result_real.label}}:</label><div class="input MAX_MEDIUM">{{form.result_real}}</div></li>
		</ul>
		<div class="button_panel"><button>แก้ไขข้อมูล</button></div>
	</form>
</div>
{% endblock %}