{% extends 'base.html' %}
{% load interface_tags %}

{% block post_comment_ajax_url %}/post-comment/object/project/{{project.id}}/{% endblock %}
{% block post_comment_ajax_callback %}{% endblock %}

{% block html_head %}
{{form.media}}

{% endblock %}

{% block body_title %}
<div class="ss_header">
<div class="container">
	{% print_project_header project %}
</div>
</div>
<div class="ss_tab_navi">
	<div class="tabs">
		<ul>
			<li><a href="{% url view_project_overview project.id %}">ภาพรวม</a></li>
			<li class="selected">กิจกรรม</li>
			<li class="right_item"><img src="{{MEDIA_URL}}/images/icon_comments.png" /><a href="{% url view_project_comments project.id %}">ความคิดเห็น</a></li>
			{% responsible user 'project_manager,project_manager_assistant' project %}
			{% ifequal project.prefix_name project.PROJECT_IS_PROGRAM %}
			<li class="right_item"><a href="{% url view_project_edit project.id %}">แก้ไขแผนงาน</a></li>
			{% else %}
			<li class="right_item"><a href="{% url view_project_edit project.id %}">แก้ไขโครงการ</a></li>
			{% endifequal %}
			{% endresponsible %}
		</ul>
		<div class="clear"></div>
	</div>
</div>
{% endblock %}

{% block body_content %}
<div class="ss_child_page_header">เพิ่มกิจกรรม <a href="{% url view_project_activities project.id %}">กลับไปหน้ารายการกิจกรรม &#187;</a></div>

<div>
	<form method="post" action="." class="ss_form">
		<ul>
			<li><label for="id_name">{{form.name.label}}:</label><div class="input MAX">{{form.name}}</div>{{form.name.errors}}</li>
			<li><label for="id_location">{{form.location.label}}:</label><div class="input LONG">{{form.location}}</div></li>
			<li class="date_period">
				<label>{{form.start_date.label}}:</label>
				<div class="input">{{form.start_date}} <span class="to">{{form.end_date.label}}</span> {{form.end_date}}</div>
				{{form.start_date.errors}}
				{{form.end_date.errors}}
			</li>
			
			<li><label for="id_description">{{form.description.label}}:</label><div class="input MAX_MEDIUM">{{form.description}}</div></li>
			<li><label for="id_result_goal">{{form.result_goal.label}}:</label><div class="input MAX_MEDIUM">{{form.result_goal}}</div></li>
			<li><label for="id_result_real">{{form.result_real.label}}:</label><div class="input MAX_MEDIUM">{{form.result_real}}</div></li>
		</ul>
		<div class="button_panel"><button>เพิ่มข้อมูล</button></div>
	</form>
</div>
{% endblock %}