{% extends 'base.html' %}
{% load helper i18n %}
{% load interface_tags %}

{% block post_comment_ajax_url %}{% if not project.parent_project %}/post-comment/object/program/{{project.id}}/{% else %}/post-comment/object/project/{{project.id}}/{% endif %}{% endblock %}
{% block post_comment_ajax_callback %}{% endblock %}

{% block html_head %}
{% endblock %}

{% block body_title %}
<div class="ss_header">
<div class="container">
	{% print_project_header project %}
</div>
</div>
<div class="ss_tab_navi">
	<div class="tabs">
		<ul>
			{% if not project.parent_project %}
			<li><a href="{% url view_program_overview project.id %}">{% trans 'Overview' %}</a></li>
			<li><a href="{% url view_program_projects project.id %}">{% trans 'Projects' %}</a></li>
			<li><a href="{% url view_program_reports project.id %}">{% trans 'Project Reports' %}</a></li>
			<li class="right_item selected"><img src="{{MEDIA_URL}}/images/icon_comments.png" />{% trans 'Comments' %}</li>
			{% else %}
			<li><a href="{% url view_project_overview project.id %}">{% trans 'Overview' %}</a></li>
			<li><a href="{% url view_project_activities project.id %}">{% trans 'Activities' %}</a></li>
			<li><a href="{% url view_project_reports project.id %}">{% trans 'Project Reports' %}</a></li>
			<li class="right_item selected"><img src="{{MEDIA_URL}}/images/icon_comments.png" />{% trans 'Comments' %}</li>
			{% endif %}
		</ul>
		<div class="clear"></div>
	</div>
</div>
{% endblock %}

{% block body_content %}
<div class="comments_page">
	{% if comments %}
	<ul class="comments">
		{% for comment in comments %}
		<li {% if comment.already_read %}class="read"{% endif %}>
			<div class="sender">{{comment.comment.sent_by.first_name}} {{comment.comment.sent_by.last_name}}
			  <div class="metadata">
			    {% blocktrans with comment.sent_on|thai_date as c_date and comment.sent_on|date:'H:i' as c_time %}Send at {{ c_date }} Time {{ c_time }} o'clock{% endblocktrans %}
			  </div>
			</div>
			<p>{{comment.comment.message}}</p>
			<div class="receivers">
				<h4>{% trans 'Receivers' %}:</h4>
				<ul>
					{% for receiver in comment.receivers %}
					<li>{{receiver.receiver.first_name}} {{receiver.receiver.last_name}}</li>
					{% endfor %}
				</ul>
			</div>
		</li>
		{% endfor %}
	</ul>
	{% else %}
	<div class="ss_no_information">{% trans 'No Related Comments' %}</div>
	{% endif %}
</div>
{% endblock %}
