{% extends 'base.html' %}
{% load helper %}
{% load interface_tags %}

{% block post_comment_ajax_url %}{% if not project.parent_project %}/post-comment/object/program/{{project.id}}/{% else %}/post-comment/object/project/{{project.id}}/{% endif %}{% endblock %}
{% block post_comment_ajax_callback %}{% endblock %}

{% block html_head %}
{{form.media}}

{% endblock %}

{% block body_title %}
<div class="ss_header">
<div class="container">
	{% print_project_header user project %}
</div>
</div>
<div class="ss_tab_navi">
	<div class="tabs">
		<ul>
			<li><a href="{% url view_project_overview project.id %}">ภาพรวม</a></li>
			{% if not project.parent_project %}
			<li><a href="{% url view_project_projects project.id %}">โครงการ</a></li>
			<li class="selected">รายงาน</li>
			<li class="right_item"><img src="{{MEDIA_URL}}/images/icon_comments.png" /><a href="{% url view_project_comments project.id %}">ความคิดเห็น</a></li>
			{% else %}
			<li><a href="{% url view_project_activities project.id %}">กิจกรรม</a></li>
			<li class="right_item"><img src="{{MEDIA_URL}}/images/icon_comments.png" /><a href="{% url view_project_comments project.id %}">ความคิดเห็น</a></li>
			{% responsible user 'project_manager,project_manager_assistant' project.parent_project %}
			<li class="right_item"><a href="{% url view_project_edit project.id %}">แก้ไขโครงการ</a></li>
			{% endresponsible %}
			{% endif %}
		</ul>
		<div class="clear"></div>
	</div>
</div>
{% endblock %}

{% block body_content %}
<div class="ss_child_page_header">สร้างรายงานของแผนงาน <a href="{% url view_project_reports_list project.id %}">กลับไปหน้ารูปแบบรายงาน &#187;</a></div>

<div class="project_report_modify">	
	<form method="post" action="." class="ss_form">
		<div class="instruction">รายงานที่สร้างจากภายในหน้านี้ ใช้สำหรับภายในแผนงานเดียวเท่านั้น หากต้องการสร้างรายงานสำหรับหลายแผนงาน ติดต่อผู้ช่วยผู้อำนวยการสำนัก เพื่อสร้างรายงานจากภายในหน้าของสำนัก</div>
		<ul>
			<li>
				<label for="id_name">{{form.name.label}}:</label>
				<div class="input LONG">{{form.name}}</div>
			</li>
			<li class="inline">
				{{form.need_checkup}}
				<label for="id_need_checkup">{{form.need_checkup.label}}</label>
			</li>
			<li class="inline">
				{{form.need_approval}}
				<label for="id_need_approval">{{form.need_approval.label}}</label>
			</li>
			<li class="single_line">
				<label for="id_schedule_cycle_length">ส่งรายงานทุกๆ:</label>
				<span class="SHORT">{{form.schedule_cycle_length}}</span>
				<label>เดือน</label>
			</li>
			<li class="single_line">
				<label for="id_schedule_monthly_date">ในวันที่:</label>
				<span class="SHORT">{{form.schedule_monthly_date}}</span>
			</li>
			<li class="date_period">
				<label>{{form.start_date.label}}:</label>
				<div class="input">{{form.start_date}}<span class="to">{{form.end_date.label}}</span> {{form.end_date}}</div>
			</li>
		</ul>
		<div class="button_panel"><button>เพิ่มรายงาน</button></div>
	</form>
	
</div>
{% endblock %}