{% extends 'base.html' %}
{% load helper %}
{% load interface_tags %}

{% block html_head %}
<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}/scripts/yui/calendar/assets/skins/sam/calendar.css">
{% endblock %}

{% block post_comment_ajax_url %}/post-comment/object/project/{{project.id}}/{% endblock %}
{% block post_comment_ajax_callback %}{% endblock %}

{% block body_title %}
<div class="ss_header">
<div class="container">
	{% print_project_header project %}
</div>
</div>
<div class="ss_tab_navi">
	<div class="tabs">
		<ul>
			<li><a href="{% url view_project_overview project.id %}">ภาพรวม</a></li>
			<li class="selected">กิจกรรม</li>
			<li><a href="{% url view_project_reports project.id %}">รายงานโครงการ</a></li>
			<li class="right_item"><img src="{{MEDIA_URL}}/images/icon_comments.png" /><a href="{% url view_project_comments project.id %}">ความคิดเห็น</a></li>
		</ul>
		<div class="clear"></div>
	</div>
</div>
{% endblock %}

{% block body_content %}
<div class="ss_control_panel">
	<ul>
		<li><img src="{{MEDIA_URL}}/images/icon_create.png" class="icon"/><a href="{% url view_activity_add project.id %}">เพิ่มกิจกรรม</a></li>
	</ul>
	<div class="clear"></div>
</div>

<div class="yui-skin-sam">
	<div id="activity-calendar" class="html-calendar activity three-month"></div>
</div>

<div class="hierarchy_page hierarchy_activity_page">
	<h2>กิจกรรมในอนาคต</h2>
	{% if future_activities %}
	<ul>
	{% for activity in future_activities %}
		<li>
			<h3><a href="{% url view_activity_overview activity.id %}">{{activity.name}}</a></h3>
			<div class="item_overview"><span>ช่วงเวลา <em>{{activity.start_date|thai_date}} - {{project.end_date|thai_date}}</em></span></div>
		</li>
	{% endfor %}
	</ul>
	{% else %}
	<div class="ss_no_information">ไม่มีกิจกรรมในอนาคต</div>
	{% endif %}

	<h2>กิจกรรมที่ดำเนินอยู่</h2>
	{% if current_activities %}
	<ul>
		{% for activity in current_activities %}
		<li>
			<h3><a href="{% url view_activity_overview activity.id %}">{{activity.name}}</a></h3>
			<div class="item_overview"><span>ช่วงเวลา <em>{{activity.start_date|thai_date}} - {{activity.end_date|thai_date}}</em></span></div>
		</li>
		{% endfor %}
	</ul>
	{% else %}
	<div class="ss_no_information">ไม่มีกิจกรรมที่ดำเนินอยู่</div>
	{% endif %}

	<h2>กิจกรรมที่ผ่านมา</h2>
	{% if past_activities %}
	<ul>
		{% for activity in past_activities %}
		<li>
			<h3><a href="{% url view_activity_overview activity.id %}">{{activity.name}}</a></h3>
			<div class="item_overview"><span>ช่วงเวลา <em>{{activity.start_date|thai_date}} - {{activity.end_date|thai_date}}</em></span></div>
		</li>
		{% endfor %}
	</ul>
	{% else %}
	<div class="ss_no_information">ไม่มีกิจกรรมที่ผ่านมา</div>
	{% endif %}
</div>

<!-- scripts -->
<script type="text/javascript" src="{{MEDIA_URL}}/scripts/jquery.qtip.min.js"></script>

<script type="text/javascript" src="{{MEDIA_URL}}/scripts/yui/yahoo/yahoo-min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}/scripts/yui/event/event-min.js" ></script>
<script type="text/javascript" src="{{MEDIA_URL}}/scripts/yui/dom/dom-min.js" ></script>
<script type="text/javascript" src="{{MEDIA_URL}}/scripts/yui/calendar/calendar-min.js"></script>

<script type="text/javascript">
  var acts = [
    {% for activity in all_activities %}
	{name:"{{activity.name}}",
	 start:new Date(Date.parse("{{activity.start_date|date:"Y/m/d"}}")),
	 end:new Date(Date.parse("{{activity.end_date|date:"Y/m/d"}}")),
	 link:'/activity/' + {{activity.id}}
	},
    {% endfor %}
    null // prevent IE's bug
  ];

  YAHOO.namespace("activity.calendar");
  YAHOO.activity.calendar.init = function () {
    YAHOO.activity.calendar.cal1 = new YAHOO.widget.CalendarGroup("cal1", "activity-calendar", {pages:3, year_offset:543});

    // Center current month
    YAHOO.activity.calendar.cal1.previousMonth();

    // Locale
    YAHOO.activity.calendar.cal1.cfg.setProperty("MONTHS_SHORT", ["ม.ค.", "ก.พ.", "มี.ค.", "เม.ย.", "พ.ค.", "มิ.ย.", "ก.ค.", "ส.ค.", "ก.ย.", "ต.ค.", "พ.ย.", "ธ.ค."]);
    YAHOO.activity.calendar.cal1.cfg.setProperty("MONTHS_LONG", ["มกราคม", "กุมภาพันธ์", "มีนาคม", "เมษายน", "พฤษภาคม", "มิถุนายน", "กรกฎาคม", "สิงหาคม", "กันยายน", "ตุลาคม", "พฤศจิกายน", "ธันวาคม"]);
    YAHOO.activity.calendar.cal1.cfg.setProperty("WEEKDAYS_1CHAR", ["อ", "จ", "อ", "พ", "พ", "ศ", "ส"]);
    YAHOO.activity.calendar.cal1.cfg.setProperty("WEEKDAYS_SHORT", ["อา.", "จ.", "อัง.", "พ.", "พฤ.", "ศ.", "ส."]);
    YAHOO.activity.calendar.cal1.cfg.setProperty("WEEKDAYS_MEDIUM", ["อาทิตย์", "จันทร์", "อังคาร", "พุธ", "พฤหัส", "ศุกร์", "เสาร์"]);
    YAHOO.activity.calendar.cal1.cfg.setProperty("WEEKDAYS_LONG", ["อาทิตย์", "จันทร์", "อังคาร", "พุธ", "พฤหัสบดี", "ศุกร์", "เสาร์"]);

    // Render stack

    var myCustomRenderer = function(workingDate, cell) {
      YAHOO.util.Dom.addClass(cell, "has-event");
      YAHOO.util.Dom.setAttribute(cell, 'time', workingDate.getTime());

      return YAHOO.widget.Calendar.STYLE;
    }


    for (i in acts) {
      act = acts[i];
      if (act == null) {
        continue;
      }

      s_date = act.start.getDate();
      s_month = act.start.getMonth() + 1;
      s_year = act.start.getFullYear() + 543;
      s_str = [s_month, s_date, s_year].join('/');
      e_date = act.end.getDate();
      e_month = act.end.getMonth() + 1;
      e_year = act.end.getFullYear() + 543;
      e_str = [e_month, e_date, e_year].join('/');
      YAHOO.activity.calendar.cal1.addRenderer(s_str + '-' + e_str, myCustomRenderer);
    }

    YAHOO.activity.calendar.cal1.renderEvent.subscribe(init_qtip);
    YAHOO.activity.calendar.cal1.render();
  }

  function render_act_list(workingDate) {
    var output = '<ul>';
    for (i in acts) {
      act = acts[i];
      if (act == null) {
        continue;
      }

      if (act.start <= workingDate & workingDate <= act.end) {
        output += '<li><a href="' + act.link + '">' + act.name + '</a></li>';
      }
    }
    output += '</ul>';

    return output;
  }

  function init_qtip() {
  	$('.has-event').each(function (e) {
		$(this).qtip({
		    content: {
		    	prerender: false,
		    	text: render_act_list(new Date(parseInt($(this).attr('time'))))
		    },
		    show: {
		    	solo: true,
		    	when: 'click'
		    },
		    hide: {
		    	delay: 250,
		    	fixed: true
		    },
		    style: 'dark'
    	});
	});
  }

  YAHOO.util.Event.onDOMReady(YAHOO.activity.calendar.init);

</script>
<!-- /scripts -->
{% endblock %}
