{% extends 'base.html' %}
{% load interface_tags i18n helper %}

{% block post_comment_ajax_callback %}{% endblock %}

{% block html_head %}
<script type="text/javascript">
$(document).ready(function() {
	bindCommentBox($(".post-project-comment"));
});
</script>
{% endblock %}

{% block body_title %}
<div class="ss_header">
<div class="container">
	{% print_project_header project %}
</div>
</div>
<div class="ss_tab_navi">
	<div class="tabs">
		<ul>
			<li><a href="{% url view_project_overview project.id %}">{% trans 'Overview' %}</a></li>
			<li><a href="{% url view_project_projects project.id %}">{% trans 'Projects' %}</a></li>
			<li class="selected">{% trans 'Reports' %}</li>
			<li class="right_item"><img src="{{MEDIA_URL}}/images/icon_comments.png" /><a href="{% url view_project_comments project.id %}">{% trans 'Comments' %}</a></li>
			{% responsible user 'project_manager,project_manager_assistant' project %}
			{% ifequal project.prefix_name project.PROJECT_IS_PROGRAM %}
			<li class="right_item"><a href="{% url view_project_edit project.id %}">แก้ไขแผนงาน</a></li>
			{% else %}
			<li class="right_item"><a href="{% url view_project_edit project.id %}">แก้ไขโครงการ</a></li>
			{% endifequal %}
			{% endresponsible %}
		</ul>
		<div class="clear"></div>
	</div>
</div>
{% endblock %}

{% block body_content %}
{% responsible user 'project_manager,project_manager_assistant' project %}
<div class="ss_control_panel">
	<ul>
		<li><img src="{{MEDIA_URL}}/images/icon_report_send.png" class="icon"/><a href="{% url view_project_reports_send project.id %}">ส่งรายงาน</a></li>
		<li><img src="{{MEDIA_URL}}/images/icon_list.png" class="icon"/><a href="{% url view_project_reports_list project.id %}">ประเภทรายงาน</a></li>
	</ul>
</div>
{% endresponsible %}

<div class="report_project_list_page">
	{% for report_project in report_projects %}
		<h2>{{report_project.report.name}}</h2>
		
		{% if report_project.schedules %}
			{% for year in report_project.year_list %}
				<h3>ปี {{year|add:'543'}}</h3>
				<ul class="schedules">
					{% for schedule in report_project.schedules %}
						{% ifequal schedule.due_date.year year %}<li><a href="{% url view_report_overview schedule.id %}">งวดวันที่ {{schedule.due_date|thai_abbr_date}}</a></li>{% endifequal %}
					{% endfor %}
				</ul>
			{% endfor %}
		{% else %}
		<div class="ss_no_information">ไม่มีรายงาน</div>
		{% endif %}
	{% endfor %}
</div>

{% endblock %}
