{% extends 'base.html' %}
{% load interface_tags i18n helper %}

{% block post_comment_ajax_callback %}{% endblock %}

{% block html_head %}
<script type="text/javascript">
$(document).ready(function() {
	bindCommentBox($(".post-project-comment"));
});
</script>
{% endblock %}

{% block body_title %}
<div class="ss_header">
<div class="container">
	{% print_project_header project %}
</div>
</div>
<div class="ss_tab_navi">
	<div class="tabs">
		<ul>
			<li><a href="{% url view_project_overview project.id %}">{% trans 'Overview' %}</a></li>
			<li class="selected">{% trans 'Projects' %}</li>
			<li><a href="{% url view_project_reports project.id %}">{% trans 'Reports' %}</a></li>
			<li class="right_item"><img src="{{MEDIA_URL}}/images/icon_comments.png" /><a href="{% url view_project_comments project.id %}">{% trans 'Comments' %}</a></li>
			{% responsible user 'project_manager,project_manager_assistant' project %}
			{% ifequal project.prefix_name project.PROJECT_IS_PROGRAM %}
			<li class="right_item"><a href="{% url view_project_edit project.id %}">แก้ไขแผนงาน</a></li>
			{% else %}
			<li class="right_item"><a href="{% url view_project_edit project.id %}">แก้ไขโครงการ</a></li>
			{% endifequal %}
			{% endresponsible %}
		</ul>
		<div class="clear"></div>
	</div>
</div>
{% endblock %}

{% block body_content %}
<div class="projects_table_page">
	{% ifequal project.prefix_name project.PROJECT_IS_PROGRAM %}
	<div class="ss_control_panel">
		<ul>
			<li><img src="{{MEDIA_URL}}/images/icon_create.png" class="icon"/><a href="{% url view_project_add project.id %}">เพิ่มโครงการ</a></li>
		</ul>
	</div>
	{% endifequal %}
	
	{% if projects %}
	<table>
		<tr>
			<th class="ref_no">{% trans 'Project Code' %}</th>
			<th class="name">{% trans 'Project Name' %}</th>
			<th class="start_date">{% trans 'Start Date' %}</th>
			<th class="end_date">{% trans 'End Date' %}</th>
		</tr>
		{% for project in projects %}
		<tr>
			<td class="ref_no">{{project.ref_no}}</td>
			<td class="name"><a href="{% url view_project_overview project.id %}">{{project.name}}</a></td>
			<td class="start_date">{{project.start_date|thai_abbr_date}}</td>
			<td class="end_date">{{project.end_date|thai_abbr_date}}</td>
		</tr>
		{% endfor %}
	</table>
	{% else %}
	<div class="ss_no_information">{% trans 'There are no project.' %}</div>
	{% endif %}
</div>
{% endblock %}
