{% extends 'base.html' %}
{% load helper %}
{% load interface_tags %}

{% block post_comment_ajax_url %}{% if not project.parent_project %}/post-comment/object/program/{{project.id}}/{% else %}/post-comment/object/project/{{project.id}}/{% endif %}{% endblock %}
{% block post_comment_ajax_callback %}{% endblock %}

{% block html_head %}
{% endblock %}

{% block body_title %}
<div class="ss_header">
<div class="container">
	{% print_project_header project %}
</div>
</div>
<div class="ss_tab_navi">
	<div class="tabs">
		<ul>
			{% if not project.parent_project %}
			<li><a href="{% url view_program_overview project.id %}">ภาพรวม</a></li>
			<li><a href="{% url view_program_projects project.id %}">โครงการ</a></li>
			<li class="selected">รายงานแผนงาน</li>
			<li><a href="{% url view_program_kpi project.id %}">ตัวชี้วัดแผนงาน</a></li>
			<li><a href="{% url view_program_finance project.id %}">แผนการเงิน</a></li>
			<li class="right_item"><img src="{{MEDIA_URL}}/images/icon_comments.png" /><a href="{% url view_program_comments project.id %}">ความคิดเห็น</a></li>
			{% else %}
			<li><a href="{% url view_project_overview project.id %}">ภาพรวม</a></li>
			<li><a href="{% url view_project_activities project.id %}">กิจกรรม</a></li>
			<li class="selected">รายงานโครงการ</li>
			<li class="right_item"><img src="{{MEDIA_URL}}/images/icon_comments.png" /><a href="{% url view_project_comments project.id %}">ความคิดเห็น</a></li>
			{% endif %}
		</ul>
		<div class="clear"></div>
	</div>
</div>
<div class="ss_sub_tab_navi">
	<ul>
		{% if not project.parent_project %}
		<li><a href="{% url view_program_reports project.id %}">รายงานแผนงาน</a></li>
		{% else %}
		<li><a href="{% url view_project_reports project.id %}">รายงานโครงการ</a></li>
		{% endif %}
		<li class="selected">ส่งรายงาน</li>
	</ul>
	<div class="clear"></div>
</div>
{% endblock %}

{% block body_content %}
{% if reports %}
<ul class="send_reports_page">
	{% for report in reports %}
	<li>
		<h2>{{report.report.name}}</h2>
		<ul class="schedules">
			{% for schedule in report.schedules %}
			<li {% ifnotequal forloop.counter 1 %}class="overdue"{% endifnotequal %}>
				<div class="head">
					<h3>งวดวันที่ {{schedule.due_date|thai_date}}</h3>
					
					{% if schedule.is_submitted %}
					<span>ส่งรายงานเมื่อวันที่ {{schedule.submitted|thai_date}} เวลา {{schedule.submitted|time:"H:i"}} น.</span>
					{% else %}
					<form method="post" action=".">
						<input type="hidden" name="schedule_id" value="{{schedule.id}}" />
						<input type="hidden" name="due_date" value="{{schedule.due_date|date:"Ymd"}}" />
						<button type="submit" name="submit" value="schedule_submit">ส่งรายงาน</button>
					</form>
					{% endif %}
					
					{% ifnotequal forloop.counter 1 %}เลยกำหนดส่งมาแล้ว {{schedule.due_date|timesince}}{% endifnotequal %}
				</div>
				
				<div class="content">
					<ul class="files">
						{% for file in schedule.files %}
						<li>
							<div class="filename"><a href="{{REPORT_SUBMIT_FILE_URL}}{{schedule.report.id}}/{{schedule.id}}/{{file.filename}}">{{file.filename}}</a></div>
							<div class="metadata">จัดเก็บวันที่ {{file.uploaded|thai_date}} เวลา {{file.uploaded|time:"H:i"}} น.</div>
						</li>
						{% endfor %}
					</ul>
					<div class="upload">
						<form method="post" action="." enctype="multipart/form-data">
							<input type="hidden" name="schedule_id" value="{{schedule.id}}" />
							<input type="hidden" name="due_date" value="{{schedule.due_date|date:"Ymd"}}" />
							<label>แนบไฟล์รายงาน <input type="file" name="uploading_file"/></label><button type="submit" name="submit" value="schedule_upload">จัดเก็บไฟล์</button>
						</form>
					</div>
				</div>
				
				<div class="submit">
					
				</div>
			</li>
			{% endfor %}
		</ul>
	</li>
	{% endfor %}
</ul>
{% else %}
<div class="ss_no_information">ไม่มีรายงานที่ต้องส่ง</div>
{% endif %}
{% endblock %}