{% extends 'base.html' %}
{% load interface_tags i18n helper %}

{% block post_comment_ajax_url %}{% if not project.parent_project %}/post-comment/object/program/{{project.id}}/{% else %}/post-comment/object/project/{{project.id}}/{% endif %}{% endblock %}
{% block post_comment_ajax_callback %}{% endblock %}

{% block html_head %}
{{form.media}}

<script type="text/javascript">
$(document).ready(function() {
	bindCommentBox($(".post-project-comment"));
	
	$("#project-delete").click(function(e) {
		if(!window.confirm("ยืนยันการลบโครงการ?")) {
			e.preventDefault();
		}
	});
});
</script>
{% endblock %}

{% block body_title %}
<div class="ss_header">
<div class="container">
	{% print_project_header project %}
</div>
</div>
<div class="ss_tab_navi">
	<div class="tabs">
		<ul>
			<li><a href="{% url view_project_overview project.id %}">{% trans 'Overview' %}</a></li>
			{% if not project.parent_project %}
			<li><a href="{% url view_project_projects project.id %}">{% trans 'Projects' %}</a></li>
			<li><a href="{% url view_project_reports project.id %}">{% trans 'Reports' %}</a></li>
			{% else %}
			<li><a href="{% url view_project_activities project.id %}">{% trans 'Activities' %}</a></li>
			{% endif %}
			<li class="right_item"><img src="{{MEDIA_URL}}/images/icon_comments.png" /><a href="{% url view_project_comments project.id %}">{% trans 'Comments' %}</a></li>
			<li class="selected right_item">แก้ไขโครงการ</li>
		</ul>
		<div class="clear"></div>
	</div>
</div>
{% endblock %}

{% block body_content %}
<div class="ss_child_page_header">แก้ไขโครงการ <a href="{% url view_project_overview project.id %}">กลับไปหน้าโครงการ &#187;</a></div>

<div class="ss_control_panel">
	<ul>
		<li><img src="{{MEDIA_URL}}/images/icon_delete.png" class="icon"/><a id="project-delete" href="{% url view_project_delete project.id %}">ลบโครงการ</a></li>
	</ul>
	<div class="clear"></div>
</div>

<div class="projects_form">
	<form method="post" action="." class="ss_form">
		<ul>
			<li>
				<label for="id_ref_no">{{form.ref_no.label}}:</label>
				<div class="input MEDIUM">{{form.ref_no}}</div>
				{{form.ref_no.errors}}
			</li>
			<li>
				<label for="id_name">{{form.name.label}}:</label>
				<div class="input LONG">{{form.name}}</div>
				{{form.name.errors}}
			</li>
			<li class="date_period">
				<label>{{form.start_date.label}}:</label>
				<div class="input">{{form.start_date}} <span class="to">{{form.end_date.label}}</span> {{form.end_date}}</div>
				{{form.start_date.errors}}
				{{form.end_date.errors}}
			</li>
		</ul>
		<div class="button_panel"><button>แก้ไขโครงการ</button></div>
	</form>
</div>
{% endblock %}
