{% extends 'base.html' %}
{% load interface_tags i18n helper %}

{% block post_comment_ajax_callback %}{% endblock %}

{% block html_head %}
<script type="text/javascript" src="{{MEDIA_URL}}/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}/ckeditor/adapters/jquery.js"></script>

<script type="text/javascript">
var initializedTextarea = false;

$(document).ready(function() {
	bindCommentBox($(".post-report-comment"));
	
	$(".upload-file").colorbox({width:"50%", scrolling:false, opacity:0.4, inline:true, href:"#upload-file-dialog", 
		onOpen:function(){
			$("#upload-file-dialog").css("display", "block");
			$("#post-comment-dialog textarea").val("");
			$("#post-comment-dialog .loading").hide();
			
			$("#post-comment-dialog input[name='comment_target']").val($.fn.colorbox.element().attr("rel"));
			
			$("#post-comment-receivers_feed").css("width", "auto");
		},
		onComplete:function(){ $("#post-comment-dialog textarea").focus(); },
		onCleanup:function() {
			$("#upload-file-dialog").css("display", "none");
		}
	});
	
	$(".edit-report").click(function(e) {
		e.preventDefault();
		if(initializedTextarea == false) {
			var config = {
				toolbar:[['Bold', 'Italic', 'Underline', '-', 'NumberedList', 'BulletedList'],],
				language:'th'
			};
			$('.edit_content textarea').ckeditor(config);
			
			CKEDITOR.on( 'instanceReady', function( ev ) {
				ev.editor.dataProcessor.writer.setRules( 'p', {
					indent : false,
					breakBeforeOpen : true,
					breakAfterOpen : false,
					breakBeforeClose : false,
					breakAfterClose : true
				});
			});
			
			$('.cancel-text-edit').click(function(e) {
				e.preventDefault();
				$('.edit_content').hide();
			});
		}
		
		$('.edit_content').show();
	});
	
	$('.delete-report-file').click(function(e) {
		e.preventDefault();
		if(window.confirm('ยืนยันการลบไฟล์?')) {
			var liObject = $(this).closest('li');
			var file_id = $(this).attr('rel');
			$.post('{% url ajax_delete_report_file %}', {id:file_id}, function(data) {
				liObject.hide('slow', function() {
					if(liObject.parent().find('li:visible').size() == 0) {
						liObject.closest('.files_panel').hide();
					}
				});
			});
		}
	});
	
});
</script>
{% endblock %}

{% block body_title %}
<div class="ss_header">
<div class="container">
	{% print_report_header user report_schedule %}
</div>
</div>
<div class="ss_tab_navi">
	<div class="tabs">
		<ul>
			<li class="selected">{% trans 'Reports' %}</li>
			<li class="right_item"><img src="{{MEDIA_URL}}/images/icon_comments.png" /><a href="{% url view_report_comments report_schedule.id %}">{% trans "Comments" %}</a></li>
		</ul>
		<div class="clear"></div>
	</div>
</div>
{% endblock %}

{% block body_content %}
<div class="report_page">
	<div class="report_status">
		<div>
			สถานะรายงาน:
			{% ifequal report_schedule.status_code 'overdue' %}
				<span class="overdue">รายงานยังไม่ถูกส่ง และเลยกำหนดส่งมาแล้ว {{report_schedule.due_date|elapse}}</span>
				<form method="post" action=".">
					<input type="hidden" name="schedule_id" value="{{report_schedule.id}}" />
					<div class="buttons"><button {% if not report_schedule.files and not report_schedule.text_response.text %}disabled="disabled"{% endif %} name="submit" value="submit-report">ส่งรายงาน</button>{% if not report_schedule.files and not report_schedule.text_response.text %}<span>ยังไม่มีไฟล์หรือเนื้อหาอยู่ในรายงาน</span>{% endif %}</div>
				</form>
			{% endifequal %}
			{% ifequal report_schedule.status_code 'not_submitted' %}
				<span class="not_submitted">รายงานยังไม่ถูกส่ง</span>
				<form method="post" action=".">
					<input type="hidden" name="schedule_id" value="{{report_schedule.id}}" />
					<div class="buttons"><button {% if not report_schedule.files and not report_schedule.text_response %}disabled="disabled"{% endif %} name="submit" value="submit-report">ส่งรายงาน</button></div>
				</form>
			{% endifequal %}
			{% ifequal report_schedule.status_code 'submitted' %}<span class="submitted">ส่งเมื่อวันที่ {{report_schedule.submitted_on|thai_display_datetime}}</span>{% endifequal %}
			{% ifequal report_schedule.status_code 'waiting' %}<span class="waiting">ส่งเมื่อวันที่ {{report_schedule.submitted_on|thai_display_datetime}}  และกำลังรอการตรวจสอบ</span>{% endifequal %}
			{% ifequal report_schedule.status_code 'approved' %}<span class="approved">ส่งเมื่อวันที่ {{report_schedule.submitted_on|thai_display_datetime}} และได้รับการรับรองเมื่อวันที่ {{report_schedule.approval_on|thai_display_datetime}}</span>{% endifequal %}
			{% ifequal report_schedule.status_code 'rejected' %}
				<span class="rejected">ส่งเมื่อวันที่ {{report_schedule.submitted_on|thai_display_datetime}} และถูกตีกลับเมื่อวันที่ {{report_schedule.approval_on|thai_display_datetime}}</span>
				<form method="post" action=".">
					<input type="hidden" name="schedule_id" value="{{report_schedule.id}}" />
					<div class="buttons"><button {% if not report_schedule.files and not report_schedule.text_response %}disabled="disabled"{% endif %} name="submit" value="submit-report">ส่งรายงานอีกครั้ง</button></div>
				</form>
			{% endifequal %}
		</div>
	</div>
	
	{% responsible user 'project_manager,project_manager_assistant' report_schedule.report_project.project %}
	{% if report_schedule.allow_modifying %}
	<div class="ss_control_panel">
		<ul>
			<li><img src="{{MEDIA_URL}}/images/icon_attach.png" class="icon"/><a href="#" class="upload-file">แนบไฟล์รายงาน</a></li>
			<li><img src="{{MEDIA_URL}}/images/icon_edit.png" class="icon"/><a href="#" class="edit-report">เขียนเนื้อหารายงาน</a></li>
		</ul>
	</div>
	
	<div class="edit_content">
		<form method="post" action=".">
			<input type="hidden" name="schedule_id" value="{{report_schedule.id}}" />
			<textarea name="text">{{report_schedule.text_response.text|safe}}</textarea>
			<div class="button_panel"><button class="save-text-edit" type="submit" name="submit" value="submit-text">จัดเก็บ</button><button class="cancel-text-edit">ยกเลิก</button></div>
		</form>
	</div>
	{% endif %}
	{% endresponsible %}
	
	<div class="content">
		{% if not report_schedule.files and not report_schedule.text_response.text %}
			<div class="ss_no_information">ไม่มีไฟล์และเนื้อหาในรายงาน</div>
		{% else %}
			{% if report_schedule.text_response.text %}
				<div class="text_panel">
					<h3>เนื้อหารายงาน</h3>
					<div class="text_content">
					{{report_schedule.text_response.text|safe}}
					</div>
				</div>
			{% endif %}
			
			{% if report_schedule.files %}
				<div class="files_panel">
					<h3>ไฟล์รายงาน</h3>
					<ul class="files">
						{% for file in report_schedule.files %}
						<li>
							<div class="filename"><a href="{{REPORT_SUBMIT_FILE_URL}}{{report_schedule.report_project.report.id}}/{{report_schedule.id}}/{{file.filename}}">{{file.filename}}</a></div>
							<div class="metadata">จัดเก็บเมื่อวันที่ {{file.uploaded|thai_display_datetime}} โดย {{file.uploaded_by.first_name}} {{file.uploaded_by.last_name}}
							{% responsible user 'project_manager,project_manager_assistant' report_schedule.report_project.project %}
							{% if report_schedule.allow_modifying %}
							<span class="actions">| <a href="#" rel="{{file.id}}" class="delete-report-file">ลบไฟล์</a></span></div>
							{% endif %}
							{% endresponsible %}
						</li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}
		{% endif %}
	</div>
</div>
<div id="upload-file-dialog">
	<form method="post" action="." enctype="multipart/form-data">
		<div><label for="uploading_file">ไฟล์รายงาน</label></div>
		<div><input type="file" name="uploading_file"/></div>
		<div><button type="submit" name="submit" value="submit-file">ตกลง</button></div>
		<input type="hidden" name="schedule_id" value="{{report_schedule.id}}" />
	</form>
</div>

{% endblock %}
