{% extends 'base.html' %}
{% load helper %}
{% load interface_tags i18n %}

{% block post_comment_ajax_url %}/post-comment/object/report/{{report_schedule.id}}/{% endblock %}
{% block post_comment_ajax_callback %}{% endblock %}

{% block html_head %}
{% endblock %}

{% block body_title %}
<div class="ss_header">
<div class="container">
	{% print_report_header report_schedule %}
</div>
</div>
<div class="ss_tab_navi">
	<div class="tabs">
		<ul>
			<li class="selected">{% trans "Overview" %}</li>
			<li class="right_item"><img src="{{MEDIA_URL}}/images/icon_comments.png" /><a href="{% url view_report_comments report_schedule.id %}">{% trans "Comment" %}</a></li>
		</ul>
		<div class="clear"></div>
	</div>
</div>
{% endblock %}

{% block body_content %}
<div class="report_page">
	<div class="headline">
		<div>
			<em>สถานะการส่งรายงาน:</em>
			{% if report_schedule.is_submitted %}
				ส่งเมื่อวันที่ {{report_schedule.last_submitted|thai_date}} เวลา {{report_schedule.last_submitted|time:"H:i"}} น.
			{% else %}
				รายงานยังไม่ถูกส่ง
			{% endif %}
		</div>
	</div>
	
	<div class="content">
		<h3>ไฟล์รายงาน</h3>
		<ul class="files">
			{% for file in report_schedule.files %}
			<li>
				<div class="filename"><a href="{{REPORT_SUBMIT_FILE_URL}}{{report_schedule.report.id}}/{{report_schedule.id}}/{{file.filename}}">{{file.filename}}</a></div>
				<div class="metadata">จัดเก็บเมื่อวันที่ {{file.uploaded|thai_date}} เวลา {{file.uploaded|time:"H:i"}} น. โดย {{file.uploaded_by.first_name}} {{file.uploaded_by.last_name}}</div>
			</li>
			{% endfor %}
		</ul>
		<div class="upload">
			<form method="post" action="." enctype="multipart/form-data">
				<input type="hidden" name="schedule_id" value="{{schedule.id}}" />
				<input type="hidden" name="due_date" value="{{schedule.due_date|date:"Ymd"}}" />
				<label>แนบไฟล์รายงาน <input type="file" name="uploading_file"/></label><button type="submit" name="submit" value="schedule_upload">จัดเก็บไฟล์</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}
