{% extends 'base.html' %}
{% load helper %}

{% block html_head %}

{% endblock %}

{% block body_title %}
<div class="ss_header">
<div class="container">
	<div class="title"><span>สำนัก {{sector.ref_no}}</span> {{sector.name}}</div>
	<div class="info">รับผิดชอบโดย {{sector.manager.first_name}} {{sector.manager.last_name}}</div>
</div>
</div>
<div class="ss_tab_navi">
	<div class="tabs">
		<ul>
			<li><a href="{% url view_sector_overview sector.id %}">ภาพรวม</a></li>
			<li class="selected">แผนหลักที่รับผิดชอบ</li>
			<li class="right_item"><a href="{% url view_sectors_overview %}">สำนักทั้งหมด</a></li>
		</ul>
		<div class="clear"></div>
	</div>
</div>
{% endblock %}

{% block body_content %}
<div class="hierarchy_page hierarchy_sector_page">
{% for master_plan in master_plans %}
	<h2><a href="{% url view_master_plan_overview master_plan.id %}">แผนหลัก {{master_plan.ref_no}} {{master_plan.name}}</a></h2>
	<ul>
		{% for plan in master_plan.plans %}
		<li>
			<h3>{{plan.ref_no}} {{plan.name}}</h3>
			{% if not plan.current_projects and not plan.future_projects and not plan.past_projects %}
				<div class="ss_no_information">ไม่มีแผนงาน/โครงการ</div>
			{% else %}
				{% if plan.current_projects %}
				<h4 class="em">แผนงาน/โครงการในปัจจุบัน</h4>
				<ul>
					{% for project in plan.current_projects %}
					<li>
						<a href="{% url view_program_overview project.id %}">{{project.ref_no}} {{project.name}}</a>
						<div class="item_overview"><span>ระยะเวลา <em>{{project.start_date|thai_date}} - {{project.end_date|thai_date}}</em></span> <span>ผู้รับผิดชอบ <em>{{project.manager.first_name}} {{project.manager.last_name}}</em></span></div>
					</li>
					{% endfor %}
				</ul>
				{% endif %}
				{% if plan.future_projects %}
				<h4>แผนงาน/โครงการในอนาคต</h4>
				<ul>
					{% for project in plan.future_projects %}
					<li>
						<a href="{% url view_program_overview project.id %}">{{project.ref_no}} {{project.name}}</a>
						<div class="item_overview"><span>ระยะเวลา <em>{{project.start_date|thai_date}} - {{project.end_date|thai_date}}</em></span> <span>ผู้รับผิดชอบ <em>{{project.manager.first_name}} {{project.manager.last_name}}</em></span></div>
					</li>
					{% endfor %}
				</ul>
				{% endif %}
				{% if plan.past_projects %}
				<h4>แผนงาน/โครงการที่ผ่านมาแล้ว</h4>
				<ul>
					{% for project in plan.past_projects %}
					<li>
						<a href="{% url view_program_overview project.id %}">{{project.ref_no}} {{project.name}}</a>
						<div class="item_overview"><span>ระยะเวลา <em>{{project.start_date|thai_date}} - {{project.end_date|thai_date}}</em></span> <span>ผู้รับผิดชอบ <em>{{project.manager.first_name}} {{project.manager.last_name}}</em></span></div>
					</li>
					{% endfor %}
				</ul>
				{% endif %}
			{% endif %}
		</li>
		{% endfor %}
	</ul>
{% endfor %}
</div>
{% endblock %}