{% extends 'base.html' %}
{% load interface_tags %}
{% load helper %}

{% block html_head %}

{% endblock %}

{% block body_title %}
<div class="ss_header">
<div class="container">
	{% print_sector_header sector %}
</div>
</div>
<div class="ss_tab_navi">
	<div class="tabs">
		<ul>
			<li class="selected">ภาพรวม</li>
			<li class="right_item"><a href="{% url view_sectors %}">สำนักอื่นๆ</a></li>
			<li class="right_item"><a href="{% url view_sectors %}">รูปแบบรายงาน</a></li>
		</ul>
		<div class="clear"></div>
	</div>
</div>
{% endblock %}

{% block body_content %}
<div class="overview_page">
	<h2>แผนหลักที่รับผิดชอบ</h2>
	<ul class="master_plans">
		{% for master_plan in master_plans %}
		<li><h3><a href="/master_plan/{{master_plan.id}}/">แผนหลัก {{master_plan.ref_no}} {{master_plan.name}}</a></h3></li>
		{% endfor %}
	</ul>
</div>
{% endblock %}