{% extends 'base.html' %}
{% load interface_tags %}

{% block html_head %}

{% endblock %}

{% block body_title %}
<div class="ss_header">
<div class="container">
	{% print_sector_header sector %}
</div>
</div>
<div class="ss_tab_navi">
	<div class="tabs">
		<ul>
			<li><a href="{% url view_sector_overview sector.id %}">ภาพรวม</a></li>
			<li class="selected">ตัวชี้วัดองค์กร</li>
			<li class="right_item"><a href="{% url view_sectors_overview %}">สำนักทั้งหมด</a></li>
		</ul>
		<div class="clear"></div>
	</div>
</div>
{% endblock %}

{% block body_content %}
<div class="sector_kpi_page">
{% for master_plan in master_plans %}
	<h3><a href="{% url view_master_plan_overview master_plan.id %}">แผนหลัก {{master_plan.ref_no}} {{master_plan.name}}</a></h3>
	<table>
		{% if master_plan.finance_kpi or master_plan.operation_kpi or master_plan.teamwork_kpi or master_plan.partner_kpi %}
		<tr>
			{% for year in master_plan.years %}
			<th class="year_header">{{year|add:'543'}}</th>
			{% endfor %}
			<th class="year_header">{{master_plan.years|first|add:'543'}} - {{master_plan.years|last|add:'543'}}</th>
		</tr>
		{% endif %}
		
		<tr>
			<td colspan="{{master_plan.years|length|add:'1'}}"><h4>ตัวชี้วัดการเงิน</h4></td>
		</tr>
		{% if master_plan.finance_kpi %}
		<tr>
			{% for years_kpi in master_plan.finance_kpi.years_kpi %}
			{% if years_kpi.percentage %}
			<td class="graph_cell">
				<div class="percentage kpi-{% kpi_range_name years_kpi.percentage %}-percentage">{{years_kpi.percentage}}%</div>
				<div class="kpi-graph-container">
					<div class="kpi-graph kpi-{% kpi_range_name years_kpi.percentage %}-bar-graph" style="width:{{years_kpi.percentage}}%;"></div>
				</div>
				{% if years_kpi.projects %}
				<ul class="marked_projects">
					{% for marked_project in years_kpi.projects %}
					<li><a href="/program/{{marked_project.project.id}}/">แผนงาน {{marked_project.project.ref_no}}</a> &#187; <span><span>ยังไม่มีการเบิก</span><div class="bottom_note">เลยกำหนดมาแล้ว {{marked_project.schedule.scheduled_on|timesince|truncatewords:2|cut:'.'|cut:','}}</div></li>
					{% endfor %}
				</ul>
				{% endif %}
			</td>
			{% else %}
			<td class="graph_cell">
				{% ifequal years_kpi.percentage 0 %}
				<div class="percentage kpi-{% kpi_range_name years_kpi.percentage %}-percentage">0%</div>
				{% else %}
				<div class="percentage no_percentage">---%</div>
				{% endifequal %}
				<div class="kpi-graph-container">
					<div class="kpi-graph" style="width:0%;"></div>
				</div>
			</td>
			{% endif %}
			{% endfor %}
			{% if master_plan.finance_kpi.total_percentage %}
			<td class="graph_cell">
				<div class="percentage kpi-{% kpi_range_name master_plan.finance_kpi.total_percentage %}-percentage">{{master_plan.finance_kpi.total_percentage}}%</div>
				<div class="kpi-graph-container">
					<div class="kpi-graph kpi-{% kpi_range_name master_plan.finance_kpi.total_percentage %}-bar-graph" style="width:{{master_plan.finance_kpi.total_percentage}}%;"></div>
				</div>
			</td>
			{% else %}
			<td class="graph_cell">
				{% ifequal master_plan.finance_kpi.total_percentage 0 %}
				<div class="percentage kpi-{% kpi_range_name master_plan.finance_kpi.total_percentage %}-percentage">0%</div>
				{% else %}
				<div class="percentage no_percentage">---%</div>
				{% endifequal %}
				<div class="kpi-graph-container">
					<div class="kpi-graph" style="width:0%;"></div>
				</div>
			</td>
			{% endif %}
		</tr>
		{% else %}
		<tr>
			<td colspan="{{master_plan.years|length|add:'1'}}" class="no_information">ไม่มีข้อมูลตัวชี้วัด</td>
		</tr>
		{% endif %}
		
		<tr>
			<td colspan="{{master_plan.years|length|add:'1'}}"><h4>ตัวชี้วัดการดำเนินงาน</h4></td>
		</tr>
		{% if master_plan.operation_kpi %}
		{% for kpi in master_plan.operation_kpi %}
		<tr>
			<td colspan="{{master_plan.years|length|add:'1'}}" class="kpi_name">{{kpi.ref_no}} {{kpi.name}}</td>
		</tr>
		<tr>
			{% for years_kpi in kpi.years_kpi %}
			{% if years_kpi.percentage %}
			<td class="graph_cell">
				<div class="percentage kpi-{% kpi_range_name years_kpi.percentage %}-percentage">{{years_kpi.percentage}}%</div>
				<div class="kpi-graph-container">
					<div class="kpi-graph kpi-{% kpi_range_name years_kpi.percentage %}-bar-graph" style="width:{{years_kpi.percentage}}%;"></div>
				</div>
				{% if years_kpi.projects %}
				<ul class="marked_projects">
					{% for marked_project in years_kpi.projects %}
					<li><a href="/program/{{marked_project.project.id}}/">แผนงาน {{marked_project.project.ref_no}}</a> &#187; <span class="kpi-{% kpi_range_name marked_project.percentage %}-percentage">{{marked_project.percentage}}%</span></li>
					{% endfor %}
				</ul>
				{% endif %}
			</td>
			{% else %}
			<td class="graph_cell">
				{% ifequal years_kpi.percentage 0 %}
				<div class="percentage kpi-{% kpi_range_name years_kpi.percentage %}-percentage">0%</div>
				{% else %}
				<div class="percentage no_percentage">---%</div>
				{% endifequal %}
				<div class="kpi-graph-container">
					<div class="kpi-graph" style="width:0%;"></div>
				</div>
			</td>
			{% endif %}
			{% endfor %}
			{% if kpi.total_percentage %}
			<td class="graph_cell">
				<div class="percentage kpi-{% kpi_range_name kpi.total_percentage %}-percentage">{{kpi.total_percentage}}%</div>
				<div class="kpi-graph-container">
					<div class="kpi-graph kpi-{% kpi_range_name kpi.total_percentage %}-bar-graph" style="width:{{kpi.total_percentage}}%;"></div>
				</div>
			</td>
			{% else %}
			<td class="graph_cell">
				{% ifequal kpi.total_percentage 0 %}
				<div class="percentage kpi-{% kpi_range_name kpi.total_percentage %}-percentage">0%</div>
				{% else %}
				<div class="percentage no_percentage">---%</div>
				{% endifequal %}
				<div class="kpi-graph-container">
					<div class="kpi-graph" style="width:0%;"></div>
				</div>
			</td>
			{% endif %}
		</tr>
		{% endfor %}
		{% else %}
		<tr>
			<td colspan="{{master_plan.years|length|add:'1'}}" class="no_information">ไม่มีข้อมูลตัวชี้วัด</td>
		</tr>
		{% endif %}
		
		<tr>
			<td colspan="{{master_plan.years|length|add:'1'}}"><h4>ตัวชี้วัดทีมงาน</h4></td>
		</tr>
		{% if master_plan.teamwork_kpi %}
		{% for kpi in master_plan.teamwork_kpi %}
		<tr>
			<td colspan="{{master_plan.years|length|add:'1'}}" class="kpi_name">{{kpi.ref_no}} {{kpi.name}}</td>
		</tr>
		<tr>
			{% for years_kpi in kpi.years_kpi %}
			{% if years_kpi.percentage %}
			<td class="graph_cell">
				<div class="percentage kpi-{% kpi_range_name years_kpi.percentage %}-percentage">{{years_kpi.percentage}}%</div>
				<div class="kpi-graph-container">
					<div class="kpi-graph kpi-{% kpi_range_name years_kpi.percentage %}-bar-graph" style="width:{{years_kpi.percentage}}%;"></div>
				</div>
				{% if years_kpi.projects %}
				<ul class="marked_projects">
					{% for marked_project in years_kpi.projects %}
					<li><a href="/program/{{marked_project.project.id}}/">แผนงาน {{marked_project.project.ref_no}}</a> &#187; <span class="kpi-{% kpi_range_name marked_project.percentage %}-percentage">{{marked_project.percentage}}%</span></li>
					{% endfor %}
				</ul>
				{% endif %}
			</td>
			{% else %}
			<td class="graph_cell">
				{% ifequal years_kpi.percentage 0 %}
				<div class="percentage kpi-{% kpi_range_name years_kpi.percentage %}-percentage">0%</div>
				{% else %}
				<div class="percentage no_percentage">---%</div>
				{% endifequal %}
				<div class="kpi-graph-container">
					<div class="kpi-graph" style="width:0%;"></div>
				</div>
			</td>
			{% endif %}
			{% endfor %}
			{% if kpi.total_percentage %}
			<td class="graph_cell">
				<div class="percentage kpi-{% kpi_range_name kpi.total_percentage %}-percentage">{{kpi.total_percentage}}%</div>
				<div class="kpi-graph-container">
					<div class="kpi-graph kpi-{% kpi_range_name kpi.total_percentage %}-bar-graph" style="width:{{kpi.total_percentage}}%;"></div>
				</div>
			</td>
			{% else %}
			<td class="graph_cell">
				{% ifequal kpi.total_percentage 0 %}
				<div class="percentage kpi-{% kpi_range_name kpi.total_percentage %}-percentage">0%</div>
				{% else %}
				<div class="percentage no_percentage">---%</div>
				{% endifequal %}
				<div class="kpi-graph-container">
					<div class="kpi-graph" style="width:0%;"></div>
				</div>
			</td>
			{% endif %}
		</tr>
		{% endfor %}
		{% else %}
		<tr>
			<td colspan="{{master_plan.years|length|add:'1'}}" class="no_information">ไม่มีข้อมูลตัวชี้วัด</td>
		</tr>
		{% endif %}
		
		<tr>
			<td colspan="{{master_plan.years|length|add:'1'}}"><h4>ตัวชี้วัดภาคี</h4></td>
		</tr>
		{% if master_plan.partner_kpi %}
		{% for kpi in master_plan.partner_kpi %}
		<tr>
			<td colspan="{{master_plan.years|length|add:'1'}}" class="kpi_name">{{kpi.ref_no}} {{kpi.name}}</td>
		</tr>
		<tr>
			{% for years_kpi in kpi.years_kpi %}
			{% if years_kpi.percentage %}
			<td class="graph_cell">
				<div class="percentage kpi-{% kpi_range_name years_kpi.percentage %}-percentage">{{years_kpi.percentage}}%</div>
				<div class="kpi-graph-container">
					<div class="kpi-graph kpi-{% kpi_range_name years_kpi.percentage %}-bar-graph" style="width:{{years_kpi.percentage}}%;"></div>
				</div>
				{% if years_kpi.projects %}
				<ul class="marked_projects">
					{% for marked_project in years_kpi.projects %}
					<li><a href="/program/{{marked_project.project.id}}/">แผนงาน {{marked_project.project.ref_no}}</a> &#187; <span class="kpi-{% kpi_range_name marked_project.percentage %}-percentage">{{marked_project.percentage}}%</span></li>
					{% endfor %}
				</ul>
				{% endif %}
			</td>
			{% else %}
			<td class="graph_cell">
				{% ifequal years_kpi.percentage 0 %}
				<div class="percentage kpi-{% kpi_range_name years_kpi.percentage %}-percentage">0%</div>
				{% else %}
				<div class="percentage no_percentage">---%</div>
				{% endifequal %}
				<div class="kpi-graph-container">
					<div class="kpi-graph" style="width:0%;"></div>
				</div>
			</td>
			{% endif %}
			{% endfor %}
			{% if kpi.total_percentage %}
			<td class="graph_cell">
				<div class="percentage kpi-{% kpi_range_name kpi.total_percentage %}-percentage">{{kpi.total_percentage}}%</div>
				<div class="kpi-graph-container">
					<div class="kpi-graph kpi-{% kpi_range_name kpi.total_percentage %}-bar-graph" style="width:{{kpi.total_percentage}}%;"></div>
				</div>
			</td>
			{% else %}
			<td class="graph_cell">
				{% ifequal kpi.total_percentage 0 %}
				<div class="percentage kpi-{% kpi_range_name kpi.total_percentage %}-percentage">0%</div>
				{% else %}
				<div class="percentage no_percentage">---%</div>
				{% endifequal %}
				<div class="kpi-graph-container">
					<div class="kpi-graph" style="width:0%;"></div>
				</div>
			</td>
			{% endif %}
		</tr>
		{% endfor %}
		{% else %}
		<tr>
			<td colspan="{{master_plan.years|length|add:'1'}}" class="no_information">ไม่มีข้อมูลตัวชี้วัด</td>
		</tr>
		{% endif %}
	</table>
{% endfor %}
</div>
{% endblock %}