{% extends 'base.html' %}
{% load interface_tags %}

{% block html_head %}

{% endblock %}

{% block body_title %}
<div class="ss_header">
<div class="container">
	{% print_sector_header sector %}
</div>
</div>
<div class="ss_tab_navi">
	<div class="tabs">
		<ul>
			<li class="selected">ภาพรวม</li>
			<li><a href="{% url view_sector_kpi sector.id %}">ตัวชี้วัดองค์กร</a></li>
			<li class="right_item"><a href="{% url view_sectors_overview %}">สำนักทั้งหมด</a></li>
		</ul>
		<div class="clear"></div>
	</div>
</div>
{% endblock %}

{% block body_content %}
<div class="overview_page">
	<h2>แผนหลักที่รับผิดชอบ</h2>
	<ul class="master_plans">
		{% for master_plan in master_plans %}
		<li><h3><a href="/master_plan/{{master_plan.id}}/">แผนหลัก {{master_plan.ref_no}} {{master_plan.name}}</a></h3></li>
		{% endfor %}
	</ul>
	
	<h2>ตัวชี้วัดองค์กร</h2>
	<div class="kpi_section">
		{% for master_plan in master_plans %}
		<h3>แผนหลัก {{master_plan.ref_no}} {{master_plan.name}}</h3>
		<ul>
			<li>
				<h4>การเงิน</h4>
				{% if master_plan.finance_kpi %}
				<div class="kpi-graph-container">
					<div class="kpi-graph kpi-{% kpi_range_name master_plan.finance_kpi %}-bar-graph" style="width:{{master_plan.finance_kpi}}%;"></div>
				</div>
				<div class="percentage kpi-{% kpi_range_name master_plan.finance_kpi %}-percentage">{{master_plan.finance_kpi}}%</div>
				{% else %}
				<div class="kpi-graph-container">
					<div class="kpi-graph" style="width:0%;"></div>
				</div>
				{% ifequal master_plan.finance_kpi 0 %}
				<div class="percentage kpi-{% kpi_range_name master_plan.finance_kpi %}-percentage">{{master_plan.finance_kpi}}%</div>
				{% else %}
				<div class="percentage no_percentage">ไม่มีข้อมูลชี้วัด</div>
				{% endifequal %}
				{% endif %}
				{% if master_plan.finance_projects %}
				<ul class="marked_projects">
					{% for project in master_plan.finance_projects %}
					<li><a href="/program/{{project.project.id}}/">แผนงาน {{project.project.ref_no}}</a> &#187; <span class="finance_note">ยังไม่มีการเบิก</span><div class="bottom_note">เลยกำหนดมาแล้ว {{project.schedule.scheduled_on|timesince|truncatewords:2|cut:'.'|cut:','}}</div></li>
					{% endfor %}
				</ul>
				{% endif %}
			</li>
			<li>
				<h4>การดำเนินงาน</h4>
				{% if master_plan.operation_kpi %}
				<div class="kpi-graph-container">
					<div class="kpi-graph kpi-{% kpi_range_name master_plan.operation_kpi %}-bar-graph" style="width:{{master_plan.operation_kpi}}%;"></div>
				</div>
				<div class="percentage kpi-{% kpi_range_name master_plan.operation_kpi %}-percentage">{{master_plan.operation_kpi}}%</div>
				{% else %}
				<div class="kpi-graph-container">
					<div class="kpi-graph" style="width:0%;"></div>
				</div>
				{% ifequal master_plan.operation_kpi 0 %}
				<div class="percentage kpi-{% kpi_range_name master_plan.operation_kpi %}-percentage">{{master_plan.operation_kpi}}%</div>
				{% else %}
				<div class="percentage no_percentage">ไม่มีข้อมูลชี้วัด</div>
				{% endifequal %}
				{% endif %}
				{% if master_plan.operation_projects %}
				<ul class="marked_projects">
					{% for project in master_plan.operation_projects %}
					<li><a href="/program/{{project.project.id}}/">แผนงาน {{project.project.ref_no}}</a> &#187; <span class="kpi-{% kpi_range_name project.percentage %}-percentage">{{project.percentage}}%</span></li>
					{% endfor %}
				</ul>
				{% endif %}
			</li>
			<li>
				<h4>ทีมงาน</h4>
				{% if master_plan.teamwork_kpi %}
				<div class="kpi-graph-container">
					<div class="kpi-graph kpi-{% kpi_range_name master_plan.teamwork_kpi %}-bar-graph" style="width:{{master_plan.teamwork_kpi}}%;"></div>
				</div>
				<div class="percentage kpi-{% kpi_range_name master_plan.teamwork_kpi %}-percentage">{{master_plan.teamwork_kpi}}%</div>
				{% else %}
				<div class="kpi-graph-container">
					<div class="kpi-graph" style="width:0%;"></div>
				</div>
				{% ifequal master_plan.teamwork_kpi 0 %}
				<div class="percentage kpi-{% kpi_range_name master_plan.teamwork_kpi %}-percentage">{{master_plan.teamwork_kpi}}%</div>
				{% else %}
				<div class="percentage no_percentage">ไม่มีข้อมูลชี้วัด</div>
				{% endifequal %}
				{% endif %}
				{% if master_plan.teamwork_projects %}
				<ul class="marked_projects">
					{% for project in master_plan.teamwork_projects %}
					<li><a href="/program/{{project.project.id}}/">แผนงาน {{project.project.ref_no}}</a> &#187; <span class="kpi-{% kpi_range_name project.percentage %}-percentage">{{project.percentage}}%</span></li>
					{% endfor %}
				</ul>
				{% endif %}
			</li>
			<li>
				<h4>ภาคี</h4>
				{% if master_plan.partner_kpi %}
				<div class="kpi-graph-container">
					<div class="kpi-graph kpi-{% kpi_range_name master_plan.partner_kpi %}-bar-graph" style="width:{{master_plan.partner_kpi}}%;"></div>
				</div>
				<div class="percentage kpi-{% kpi_range_name master_plan.partner_kpi %}-percentage">{{master_plan.partner_kpi}}%</div>
				{% else %}
				<div class="kpi-graph-container">
					<div class="kpi-graph" style="width:0%;"></div>
				</div>
				{% ifequal master_plan.partner_kpi 0 %}
				<div class="percentage kpi-{% kpi_range_name master_plan.partner_kpi %}-percentage">{{master_plan.partner_kpi}}%</div>
				{% else %}
				<div class="percentage no_percentage">ไม่มีข้อมูลชี้วัด</div>
				{% endifequal %}
				{% endif %}
				{% if master_plan.partner_projects %}
				<ul class="marked_projects">
					{% for project in master_plan.partner_projects %}
					<li><a href="/program/{{project.project.id}}/">แผนงาน {{project.project.ref_no}}</a> &#187; <span class="kpi-{% kpi_range_name project.percentage %}-percentage">{{project.percentage}}%</span></li>
					{% endfor %}
				</ul>
				{% endif %}
			</li>
		</ul>
		<div class="clear"></div>
		{% endfor %}
	</div>
</div>
{% endblock %}