{% extends 'base.html' %}
{% load interface_tags %}

{% block html_head %}

{% endblock %}

{% block body_title %}
<div class="ss_header">
<div class="container">
	<div class="title"><span>สำนัก {{sector.ref_no}}</span> {{sector.name}}</div>
	<div class="info">รับผิดชอบโดย {{sector.manager.first_name}} {{sector.manager.last_name}}</div>
</div>
</div>
<div class="ss_tab_navi">
	<div class="tabs">
		<ul>
			<li class="selected">ภาพรวม</li>
			<li><a href="{% url view_sector_master_plans sector.id %}">แผนหลักที่รับผิดชอบ</a></li>
			<li class="right_item"><a href="{% url view_sectors_overview %}">สำนักทั้งหมด</a></li>
		</ul>
		<div class="clear"></div>
	</div>
</div>
{% endblock %}

{% block body_content %}
<div class="overview_page">
	<h2>ตัวชี้วัด</h2>
	<div class="kpi_section">
		{% for master_plan in master_plans %}
			<h3><a href="{% url view_master_plan_overview master_plan.id %}">แผนหลัก {{master_plan.ref_no}} {{master_plan.name}}</a></h3>
			<ul>
				<li>
					<h4>การเงิน</h4>
					<div class="percentage {% kpi_range_name master_plan.finance_percentage %}-percentage">{{master_plan.finance_percentage}}%</div>
					<div class="bar-graph-container">
						<div class="bar-graph {% kpi_range_name master_plan.finance_percentage %}-bar-graph" style="width:{{master_plan.finance_percentage}}%;"></div>
					</div>
				</li>
				<li>
					<h4>การดำเนินงาน</h4>
					<div class="percentage {% kpi_range_name master_plan.operation_percentage %}-percentage">{{master_plan.operation_percentage}}%</div>
					<div class="bar-graph-container">
						<div class="bar-graph {% kpi_range_name master_plan.operation_percentage %}-bar-graph" style="width:{{master_plan.operation_percentage}}%;"></div>
					</div>
				</li>
				<li>
					<h4>ทีมงาน</h4>
					<div class="percentage {% kpi_range_name master_plan.teamwork_percentage %}-percentage">{{master_plan.teamwork_percentage}}%</div>
					<div class="bar-graph-container">
						<div class="bar-graph {% kpi_range_name master_plan.teamwork_percentage %}-bar-graph" style="width:{{master_plan.teamwork_percentage}}%;"></div>
					</div>
				</li>
				<li>
					<h4>ภาคี</h4>
					<div class="percentage {% kpi_range_name master_plan.partner_percentage %}-percentage">{{master_plan.partner_percentage}}%</div>
					<div class="bar-graph-container">
						<div class="bar-graph {% kpi_range_name master_plan.partner_percentage %}-bar-graph" style="width:{{master_plan.partner_percentage}}%;"></div>
					</div>
				</li>
			</ul>
			<div class="clear"></div>
		{% endfor %}
	</div>
</div>
{% endblock %}