{% extends 'base.html' %}
{% load helper_tags interface_tags %}

{% block post_comment_ajax_url %}{% if not project.parent_project %}/post-comment/object/program/{{project.id}}/{% else %}/post-comment/object/project/{{project.id}}/{% endif %}{% endblock %}

{% block html_head %}
{% endblock %}

{% block body_title %}
<div class="ss_header">
<div class="container">
	{% print_project_header user project %}
</div>
</div>
<div class="ss_tab_navi">
	<div class="tabs">
		<ul>
			<li><a href="{% url view_project_overview project.id %}">ภาพรวม</a></li>
			<li><a href="{% url view_project_projects project.id %}">โครงการ</a></li>
			<li class="selected">รายงาน</li>
			<li><a href="{% url view_project_kpi project.id %}">ตัวชี้วัด</a></li>
			<li><a href="{% url view_project_finance project.id %}">แผนการเงิน</a></li>
		</ul>
		<div class="clear"></div>
	</div>
</div>
{% endblock %}

{% block body_content %}
<div class="ss_child_page_header">รายงานที่ต้องส่ง <a href="{% url view_project_reports project.id %}">กลับไปหน้ารายงาน &#187;</a></div>

<div class="send_reports_page">
	{% if reports %}
	<ul class="reports">
		{% for report in reports %}
		<li>
			<h2>{{report.report.name}}</h2>
			{% if report.schedules %}
			<ul class="schedules">
				{% for schedule in report.schedules %}
				<li>
					<div class="schedule">
						{{schedule.due_date|abbr_date}}
						{% if schedule.overdue %}<span class="overdue">เลยกำหนดส่งมาแล้ว {{schedule.due_date|elapse}}</span>{% endif %}
						{% if schedule.waiting %}<span class="waiting">กำลังรอการตรวจสอบ</span>{% endif %}
						{% if schedule.rejected %}<span class="rejected">รายงานถูกตีกลับ</span>{% endif %}
					</div>
					<div class="links"><img src="{{MEDIA_URL}}/images/icon_report.png" class="icon"/> <a href="/report/{{schedule.id}}/">เปิดหน้ารายงาน</a> <img src="{{MEDIA_URL}}/images/icon_comments.png" class="icon"/> <a href="/report/{{schedule.id}}/comments/">{{schedule.comment_count}} ความคิดเห็น</a> </div>
				</li>
				{% endfor %}
			</ul>
			{% else %}
			<div class="ss_no_information">ไม่มีรายงานที่ต้องส่ง</div>
			{% endif %}
		</li>
		{% endfor %}
	</ul>
	{% else %}
	<div class="ss_no_information">ไม่มีรายงานที่ต้องส่ง</div>
	{% endif %}
</div>
{% endblock %}