{% extends 'base.html' %}
{% load interface_tags i18n helper_tags %}

{% block html_head %}
<script type="text/javascript">
$(document).ready(function() {
	bindCommentBox($(".post-project-comment"));
});
</script>
{% endblock %}

{% block body_title %}
<div class="ss_header">
<div class="container">
	{% print_project_header user project %}
</div>
</div>
<div class="ss_tab_navi">
	{% if project.parent_project %}{% display_project_comment_button user project %}{% endif %}
	<div class="tabs">
		<ul>
			<li class="selected">{% trans 'Overview' %}</li>
			{% if not project.parent_project %}
				<li><a href="{% url view_project_projects project.id %}">โครงการ</a></li>
				<li><a href="{% url view_project_reports project.id %}">รายงาน</a></li>
				<li><a href="{% url view_project_kpi project.id %}">ตัวชี้วัด</a></li>
				<li><a href="{% url view_project_finance project.id %}">แผนการเงิน</a></li>
			{% else %}
				<li><a href="{% url view_project_activities project.id %}">กิจกรรม</a></li>
				{% responsible user 'project_manager,project_manager_assistant' project.parent_project %}
				<li><img src="{{MEDIA_URL}}/images/pencil.png" /><a href="{% url view_project_edit project.id %}">แก้ไขโครงการ</a></li>
				{% endresponsible %}
				<li><img src="{{MEDIA_URL}}/images/icon_comments.png" /><a href="{% url view_project_comments project.id %}">ความคิดเห็น</a></li>
			{% endif %}
		</ul>
		<div class="clear"></div>
	</div>
</div>
{% endblock %}

{% block body_content %}
<div class="overview_page">
	<h2>{% trans 'Recent Reports' %}</h2>
	<div class="report_overview">
		{% if report_schedules %}
		<ul>
			{% for report_schedule in report_schedules %}
			<li><a href="{% url view_report_overview report_schedule.id %}">{{report_schedule.report_project.report.name}} งวดวันที่ {{report_schedule.schedule_date|abbr_date}}</a></li>
			{% endfor %}
		</ul>
		{% else %}
		<div class="ss_no_information">ไม่มีรายงาน</div>
		{% endif %}
	</div>
	
	{% if not project.parent_project %}
		<h2>โครงการที่ดำเนินอยู่</h2>
		<div class="hierarchy_section project_hierarchy_section">
			{% if current_projects %}
			<ul>
				{% for project in current_projects %}
					<li>
						<h3><a href="{% url view_project_overview project.id %}">{{project.ref_no}} {{project.name}}</a></h3>
						<div class="item_overview"><span>ระยะเวลา <em>{% if project.start_date and project.end_date %}{{project.start_date|abbr_date}} - {{project.end_date|abbr_date}}{% else %}ไม่กำหนด{% endif %}</em></span></div>
					</li>
				{% endfor %}
			</ul>
			{% else %}
			<div class="ss_no_information">ไม่มีโครงการที่ดำเนินอยู่</div>
			{% endif %}
		</div>
	{% else %}
		<h2>กิจกรรมที่ดำเนินอยู่</h2>
		<div class="hierarchy_section project_hierarchy_section">
			{% if current_activities %}
			<ul>
				{% for activity in current_activities %}
				<li>
					<h3><a href="{% url view_activity_overview activity.id %}">{{activity.name}}</a></h3>
					<div class="item_overview"><span>ระยะเวลา <em>{% if activity.start_date and activity.end_date %}{{activity.start_date|abbr_date}} - {{activity.end_date|abbr_date}}{% else %}ไม่กำหนด{% endif %}</em></span></div>
				</li>
				{% endfor %}
			</ul>
			{% else %}
			<div class="ss_no_information">ไม่มีกิจกรรมที่ดำเนินอยู่</div>
			{% endif %}
		</div>
	{% endif %}
	
	{% if not project.parent_project %}
	<h2>ภาพรวมการเบิกจ่าย</h2>
	<div class="finance_overview">
		{% if finances %}
		<ul class="recent">
			{% for finance in finances %}
			<li>
				<span>{{finance.date|abbr_date}}</span>
				
				{% ifequal finance.type 'late' %}
				<a href="{% url view_project_overview finance.data.project.id %}">แผนงาน {{finance.data.project.ref_no}}</a>
				เลยงวดการเบิกจ่ายมาแล้ว {{finance.data.target_on|elapse}}
				{% endifequal %}
				
				{% ifequal finance.type 'postpone' %}
				<a href="{% url view_project_overview finance.data.schedule.project.id %}">แผนงาน {{finance.data.schedule.project.ref_no}}</a>
				เลื่อนงวดการเบิกเงินจากวันที่ {{finance.data.org_target_on|abbr_date}} เป็นวันที่ {{finance.data.new_target_on|abbr_date}}
				{% endifequal %}
			</li>
			{% endfor %}
		</ul>
		{% else %}
		<div class="ss_no_information">การเบิกจ่ายปกติ</div>
		{% endif %}
	</div>
	{% endif %}
</div>
{% endblock %}