{% extends 'base.html' %}
{% load helper_tags %}
{% load interface_tags %}

{% block post_comment_ajax_url %}{% if not project.parent_project %}/post-comment/object/program/{{project.id}}/{% else %}/post-comment/object/project/{{project.id}}/{% endif %}{% endblock %}

{% block html_head %}
{% endblock %}

{% block body_title %}
<div class="ss_header">
<div class="container">
	{% print_project_header user project %}
</div>
</div>
<div class="ss_tab_navi">
	<div class="tabs">
		<ul>
			<li><a href="{% url view_project_overview project.id %}">ภาพรวม</a></li>
			<li><a href="{% url view_project_projects project.id %}">โครงการ</a></li>
			<li class="selected">รายงาน</li>
			<li><a href="{% url view_project_kpi project.id %}">ตัวชี้วัด</a></li>
			<li><a href="{% url view_project_finance project.id %}">แผนการเงิน</a></li>
		</ul>
		<div class="clear"></div>
	</div>
</div>
{% endblock %}

{% block body_content %}
<div class="ss_child_page_header">แก้ไขรายงาน <a href="{% url view_project_reports_manage project.id %}">กลับไปหน้ารูปแบบรายงาน &#187;</a></div>

<div class="project_report_modify">
	<form method="post" action="." class="ss_form">
		<ul>
			<li>
				<label for="id_name">{{form.name.label}}:</label>
				<div class="input LONG">{{form.name}}</div>
			</li>
			<li class="inline">
				{{form.need_checkup}}
				<label for="id_need_checkup">{{form.need_checkup.label}}</label>
			</li>
			<li class="inline">
				{{form.need_approval}}
				<label for="id_need_approval">{{form.need_approval.label}}</label>
			</li>
		</ul>
		<div class="button_panel"><button>บันทึกรายงาน</button></div>
	</form>

</div>
{% endblock %}
