{% extends 'base.html' %}
{% load helper_tags %}
{% load interface_tags %}

{% block html_head %}
<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}/scripts/yui/calendar/assets/skins/sam/calendar.css">

<script type="text/javascript" src="{{MEDIA_URL}}/scripts/jquery.qtip.min.js"></script>

<script type="text/javascript" src="{{MEDIA_URL}}/scripts/yui/yahoo/yahoo-min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}/scripts/yui/event/event-min.js" ></script>
<script type="text/javascript" src="{{MEDIA_URL}}/scripts/yui/dom/dom-min.js" ></script>
<script type="text/javascript" src="{{MEDIA_URL}}/scripts/yui/calendar/calendar-min.js"></script>

<script type="text/javascript">
var calendarRender = 0;
$(document).ready(function() {
	bindCommentBox($(".post-project-comment"));
	
	$.getJSON("/ajax/list/project/activities/", {project_id:'{{project.id}}'}, function(result) {
		$(".activity_calendar .loading").remove();
		$("#activity-calendar").show();
		
		YAHOO.namespace("activity.calendar");
		YAHOO.activity.calendar.cal1 = new YAHOO.widget.CalendarGroup("cal1", "activity-calendar", {pages:3, year_offset:543});
		YAHOO.activity.calendar.cal1.previousMonth(); // Center current month
		
		// Locale
		YAHOO.activity.calendar.cal1.cfg.setProperty("MONTHS_SHORT", ["ม.ค.", "ก.พ.", "มี.ค.", "เม.ย.", "พ.ค.", "มิ.ย.", "ก.ค.", "ส.ค.", "ก.ย.", "ต.ค.", "พ.ย.", "ธ.ค."]);
		YAHOO.activity.calendar.cal1.cfg.setProperty("MONTHS_LONG", ["มกราคม", "กุมภาพันธ์", "มีนาคม", "เมษายน", "พฤษภาคม", "มิถุนายน", "กรกฎาคม", "สิงหาคม", "กันยายน", "ตุลาคม", "พฤศจิกายน", "ธันวาคม"]);
		YAHOO.activity.calendar.cal1.cfg.setProperty("WEEKDAYS_1CHAR", ["อ", "จ", "อ", "พ", "พ", "ศ", "ส"]);
		YAHOO.activity.calendar.cal1.cfg.setProperty("WEEKDAYS_SHORT", ["อา.", "จ.", "อัง.", "พ.", "พฤ.", "ศ.", "ส."]);
		YAHOO.activity.calendar.cal1.cfg.setProperty("WEEKDAYS_MEDIUM", ["อาทิตย์", "จันทร์", "อังคาร", "พุธ", "พฤหัส", "ศุกร์", "เสาร์"]);
		YAHOO.activity.calendar.cal1.cfg.setProperty("WEEKDAYS_LONG", ["อาทิตย์", "จันทร์", "อังคาร", "พุธ", "พฤหัสบดี", "ศุกร์", "เสาร์"]);
		
		YAHOO.activity.calendar.cal1.renderEvent.subscribe(function() {
			calendarRender = calendarRender + 1;
			
			if(calendarRender == 3) {
				calendarRender = 0;
				bind_qtip(result);
			}
		});
		
		YAHOO.activity.calendar.cal1.render();
	});
});

function bind_qtip(result) {
	for(var i=0; i<result.length; i++) {
		if(result[i]['sy'] != 0 && result[i]['sm'] != 0 && result[i]['sd'] != 0 && result[i]['ey'] != 0 && result[i]['em'] != 0 && result[i]['ed'] != 0) {
			var start_date = new Date(result[i]['sy'], result[i]['sm']-1, result[i]['sd']);
			var end_date = new Date(result[i]['ey'], result[i]['em']-1, result[i]['ed']);
			
			while(start_date <= end_date) {
				if($("#activity-calendar .y" + (start_date.getFullYear() + 543)).size() != 0) {
					if($("#activity-calendar .y" + (start_date.getFullYear() + 543) + " .m" + (start_date.getMonth() + 1)).size() != 0) {
						$("#activity-calendar .y" + (start_date.getFullYear() + 543) + " .m" + (start_date.getMonth() + 1) + " .d" + start_date.getDate()).addClass("has_activity").append('<div class="item" style="display:none;"><a href="/activity/' + result[i]['id'] + '/">' + result[i]['name'] +'</a></div>');
						start_date = new Date(start_date.getTime() + 86400000);
					} else {
						if(start_date.getMonth() == 11) {
							start_date.setFullYear(start_date.getYear() + 1, 0, 1);
						} else {
							start_date.setMonth(start_date.getMonth() + 1);
							start_date.setDate(1);
						}
					}
				} else {
					start_date.setFullYear(start_date.getFullYear() + 1, 0, 1);
				}
			}
		}
	}
	
	$("#activity-calendar td.has_activity a").each(function() {
		var html = "<ul>";
		$(this).parent().find("div.item").each(function() {
			html = html + '<li>' + $(this).html() + '</li>';
		});
		html = html + "</ul>";
		
		$(this).qtip({
			content: {prerender: false, text: html},
			show: {solo: true, when: 'click'},
			hide: {delay: 250, fixed: true},
			style: 'dark'
		});
	});
}

</script>
{% endblock %}

{% block post_comment_ajax_url %}/post-comment/object/project/{{project.id}}/{% endblock %}

{% block body_title %}
<div class="ss_header">
<div class="container">
	{% print_project_header user project %}
</div>
</div>
<div class="ss_tab_navi">
	{% display_project_comment_button user project %}
	<div class="tabs">
		<ul>
			<li><a href="{% url view_project_overview project.id %}">ภาพรวม</a></li>
			<li class="selected">กิจกรรม</li>
			{% responsible user 'project_manager,project_manager_assistant' project.parent_project %}
			<li><img src="{{MEDIA_URL}}/images/pencil.png" /><a href="{% url view_project_edit project.id %}">แก้ไขโครงการ</a></li>
			{% endresponsible %}
			<li><img src="{{MEDIA_URL}}/images/icon_comments.png" /><a href="{% url view_project_comments project.id %}">ความคิดเห็น</a></li>
		</ul>
		<div class="clear"></div>
	</div>
</div>
{% endblock %}

{% block body_content %}
{% responsible user 'project_manager,project_manager_assistant' project.parent_project %}
<div class="ss_control_panel">
	<ul>
		<li><img src="{{MEDIA_URL}}/images/icon_create.png" class="icon"/><a href="{% url view_activity_add project.id %}">เพิ่มกิจกรรม</a></li>
	</ul>
</div>
{% endresponsible %}

<div class="org_table project_activities_page">
	{% if activities %}
	<div class="activity_calendar yui-skin-sam">
		<div class="loading"><img src="{{MEDIA_URL}}/images/loading.gif" /> กำลังเรียกข้อมูลเพื่อแสดงปฏิทิน</div>
		<div id="activity-calendar" class="html-calendar activity three-month" style="display:none;"></div>
	</div>
	<div class="clear"></div>
	
	<table>
		<tr>
			<th class="name">ชื่อกิจกรรม</th>
			<th class="start_date">วันที่เริ่ม</th>
			<th class="end_date">วันที่สิ้นสุด</th>
		</tr>
		{% for activity in activities %}
		<tr>
			<td class="name"><a href="{% url view_activity_overview activity.id %}">{{activity.name}}</a></td>
			<td class="start_date">{% if activity.start_date %}{{activity.start_date|abbr_date}}{% else %}ไม่กำหนด{% endif %}</td>
			<td class="end_date">{% if activity.end_date %}{{activity.end_date|abbr_date}}{% else %}ไม่กำหนด{% endif %}</td>
		</tr>
		{% endfor %}
	</table>
	{% else %}
	<div class="ss_no_information">ไม่มีกิจกรรม</div>
	{% endif %}
</div>


{% endblock %}
