{% extends 'page_base.html' %}
{% load helper_tags page_tags core_tags %}

{% block html_head %}
{% endblock %}

{% block body_title %}{% display_program_header user program %}{% endblock %}
{% block body_tabs %}{% tabs_for_program page user program %}{% endblock %}

{% block body_content %}
<div class="program_projects_page">
	<div class="ss_control_panel">
        <ul>
			{% access user 'program project add' program %}<li><img src="{{MEDIA_URL}}/images/toolbar/create.png" class="icon"/><a href="{% url view_program_add_project program.id %}">เพิ่มโครงการ</a></li>{% endaccess %}
			<li><img src="{{MEDIA_URL}}/images/toolbar/calendar.png" class="icon"/><a href="{% url view_program_calendar program.id %}">ปฏิทินกิจกรรม</a></li>
        </ul>
    </div>
	
	{% if projects %}
    <table class="ss_table">
        <tr>
        	{% access user 'program project edit' program %}
			    <th class="controls"></th>
		    {% endaccess %}
            <th class="ref_no">รหัสโครงการ</th>
            <th class="contract_no">เลขที่สัญญา</th>
            <th class="name">ชื่อโครงการ</th>
            <th class="start_date">วันที่เริ่มต้น</th>
            <th class="end_date">วันที่สิ้นสุด</th>
        </tr>
        {% for project in projects %}
        <tr>
        	{% access user 'program project edit' program %}
        	<td class="controls">
        		<a href="{% url view_program_edit_project project.id %}" title="แก้ไขโครงการ"><img src="{{MEDIA_URL}}/images/icons/edit.png" class="icon"/></a>
			</td>
			{% endaccess %}
            <td class="ref_no">{% if project.ref_no %}{{project.ref_no}}{% else %}-{% endif %}</td>
            <td class="contract_no">{% if project.contract_no %}{{project.contract_no}}{% else %}-{% endif %}</td>
            <td class="name"><a href="{% url view_project_overview project.id %}">{{project.name}}</a></td>
            <td class="start_date">{% if project.start_date %}{{project.start_date|abbr_date}}{% else %}ไม่กำหนด{% endif %}</td>
            <td class="end_date">{% if project.end_date %}{{project.end_date|abbr_date}}{% else %}ไม่กำหนด{% endif %}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <div class="ss_no_information">ไม่มีโครงการ</div>
    {% endif %}
</div>
{% endblock %}