{% extends 'page_base.html' %}
{% load helper_tags page_tags core_tags %}

{% block html_head %}
<script type="text/javascript">
$(document).ready(function() {
    $(".delete-report").click(function(e) {
        if(!window.confirm("ยืนยันการลบหัวเรื่องรายงาน?")) {
            e.preventDefault();
        }
    });
});
</script>
{% endblock %}

{% block body_title %}{% display_program_header user program %}{% endblock %}
{% block body_tabs %}{% tabs_for_program page user program %}{% endblock %}

{% block body_content %}
<div class="ss_breadcrumbs">
    <div class="breadcrumbs"><a href="{% url view_program_reports program.id %}">รายงานของแผนงาน</a> &#187;</div>
    <h2>จัดการหัวเรื่องรายงาน</h2>
</div>

{% access user 'program report schedule add' program %}
<div class="ss_control_panel">
    <ul>
        <li><img src="{{MEDIA_URL}}/images/toolbar/create.png" class="icon"/><a href="{% url view_program_reports_manage_report_add_report program.id %}">เพิ่มหัวเรื่องรายงาน</a></li>
    </ul>
</div>
{% endaccess %}

<div class="program_reports_page_manage"> 
    <h3>รายงานภายในแผนงาน</h3>
	{% if reports_from_program %}
	<ul class="ss_report_schedule">
        {% for report in reports_from_program %}
        <li>
            <h4>{{report.name}}</h4>
            <div class="property">
				{% if report.need_checkup %}<span class="active_property">ส่งรายงานถึงแผนหลัก</span>{% else %}<span class="inactive_property">ไม่ส่งรายงานถึงแผนหลัก</span>{% endif %}
                {% if report.need_approval %}<span class="active_property">ต้องมีการรับรองรายงาน</span>{% else %}<span class="inactive_property">ไม่ต้องมีการรับรองรายงาน</span>{% endif %}
            </div>
            <div class="due">
                <span class="caption">กำหนดส่งรายงาน:</span> {% display_report_due report %}
            </div>
			
			{% access user 'program report schedule edit,program report schedule delete' program %}
			<div class="actions">
				{% access user 'program report schedule edit' program %}
                <span><img src="{{MEDIA_URL}}/images/page/report_edit.png" class="icon"/> <a href="{% url view_program_reports_manage_report_edit_report report.id %}" title="แก้ไขรอบการส่งรายงาน">แก้ไข</a></span>
                {% endaccess %}
				
				{% access user 'program report schedule delete' program %}
				{% if report.removable %}
                <span><img src="{{MEDIA_URL}}/images/page/report_delete.png" class="icon"/> <a href="{% url view_program_reports_manage_report_delete_report report.id  %}" title="ลบรอบการส่งรายงาน" class="delete-report">ลบ</a></span>
                {% else %}
                <span title="ไม่สามารถลบรายงานที่มีการส่งรายงานแล้วได้"><img src="{{MEDIA_URL}}/images/page/report_delete.png" class="icon"/> ลบ</span>
                {% endif %}
				{% endaccess %}
            </div>
			{% endaccess %}
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <div class="ss_no_information">ไม่มีรายงาน</div>
    {% endif %}
	
	<h3>รายงานจากแผน {{program.plan.master_plan.ref_no}} ที่ต้องส่ง</h3>
    {% if reports_from_master_plan %}
    <ul class="ss_report_schedule">
        {% for report in reports_from_master_plan %}
        <li>
            <h4>{{report.name}}</h4>
            <div class="property">
                {% if report.need_approval %}<span class="active_property">ต้องมีการรับรองรายงาน</span>{% else %}<span class="inactive_property">ไม่ต้องมีการรับรองรายงาน</span>{% endif %}
            </div>
            <div class="due">
                <span class="caption">กำหนดส่งรายงาน:</span> {% display_report_due report %}
            </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <div class="ss_no_information">ไม่มีรายงานที่ต้องส่ง</div>
    {% endif %}
</div>
{% endblock %}