{% extends 'page_base.html' %}
{% load helper_tags page_tags core_tags %}

{% block html_head %}
<script type="text/javascript">
$(document).ready(function() {
    $(".toggle-notice-panel").click(function(e) {
		e.preventDefault();
		$(this).closest("div.notice_panel").find("ul").slideToggle();
    });
});
</script>
{% endblock %}

{% block body_title %}{% display_program_header user program %}{% endblock %}
{% block body_tabs %}{% tabs_for_program page user program %}{% endblock %}

{% block body_content %}

{% access user 'program report schedule add,program report schedule edit,program report schedule delete,program report submission edit,program report submission submit' program %}
<div class="ss_control_panel">
    <ul>
    	{% access user 'program report submission edit,program report submission submit' program %}
        <li><img src="{{MEDIA_URL}}/images/toolbar/report_send.png" class="icon"/><a href="{% url view_program_reports_send_list program.id %}">ส่งรายงาน</a></li>
        {% endaccess %}
		
		{% access user 'program report schedule add,program report schedule edit,program report schedule delete' program %}
		<li><img src="{{MEDIA_URL}}/images/toolbar/list.png" class="icon"/><a href="{% url view_program_reports_manage_report program.id %}">จัดการหัวเรื่องรายงาน</a></li>
		{% endaccess %}
    </ul>
</div>
{% endaccess %}

<div class="program_reports_page">
	
	{% if late_submissions %}
	<div class="notice_panel">
		<div class="headline">มีรายงานเลยกำหนดส่ง {{late_submissions|length}} รายงาน [ <a href="#" class="toggle-notice-panel">แสดง/ซ่อนรายละเอียด</a> ]</div>
		<ul style="display:none;">
			{% for submission in late_submissions %}
			<li>
				<div class="name"><a href="{% url view_report_overview submission.program.id submission.report.id submission.schedule_date|dateid %}">{{submission.schedule_date|abbr_date}} - {{submission.report.name}}</a></div>
				<div class="date">เลยกำหนดส่งมาแล้ว {{submission.schedule_date|week_elapse}}</div>
			</li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}
	
	{% if rejected_submissions %}
	<div class="notice_panel">
		<div class="headline">มีรายงานถูกตีกลับ {{rejected_submissions|length}} รายงาน [ <a href="#" class="toggle-notice-panel">แสดง/ซ่อนรายละเอียด</a> ]</div>
		<ul style="display:none;">
            {% for submission in rejected_submissions %}
            <li>
                <div class="name"><a href="{% url view_report_overview submission.program.id submission.report.id submission.schedule_date|dateid %}">{{submission.schedule_date|abbr_date}} - {{submission.report.name}}</a></div>
                <div class="date">ถูกตีกลับเมื่อวันที่ {{submission.approval_on|full_date}}</div>
            </li>
            {% endfor %}
        </ul>
	</div>
    {% endif %}
	
	<div class="year_choices">
		<span class="caption">รายงานในปี</span>
		{% for year in year_choices %}
		{% if year_number == year %}<span>{{year|add:543}}</span>{% else %}<a href="{% url view_program_reports_year program.id year|add:543 %}">{{year|add:543}}</a>{% endif %} |
		{% endfor %}
	</div>
	<div class="date_span">รายงานในช่วงวันที่ {{start_date|full_date}} ถึงวันที่ {{end_date|full_date}}</div>
	
    {% if submissions %}
	   <ul class="ss_report_submission">
            {% for submission in submissions %}
            <li>
                <div class="report_name"><a href="{% url view_report_overview program.id submission.report.id submission.schedule_date|dateid %}">{{submission.report.name}}</a></div>
                <div class="date">ฉบับวันที่ {{submission.schedule_date|full_date}}</div>
                <div class="details"><span>ส่งเมื่อวันที่ {{submission.submitted_on|full_datetime}}</span>{% if submission.approval_on %}<span>รับรองรายงานเมื่อวันที่ {{submission.approval_on|abbr_datetime}}</span>{% endif %}</div>
            </li>
            {% endfor %}
        </ul>
    {% else %}
    <div class="ss_no_information">ไม่มีรายงาน</div>
    {% endif %}
    
</div>
{% endblock %}