{% extends 'page_base.html' %}
{% load helper_tags page_tags core_tags %}

{% block html_head %}

{% endblock %}

{% block body_title %}{% display_project_header user project %}{% endblock %}
{% block body_tabs %}{% tabs_for_project page user project %}{% endblock %}

{% block body_content %}
<div class="project_overview_page">
    <div class="activities">
        <h3>กิจกรรมที่ดำเนินอยู่</h3>
        {% if current_activities %}
        <ul>
            {% for activity in current_activities %}
            <li>
            	<h4><a href="{% url view_activity_overview activity.id %}">{{activity.name}}</a></h4>
            	<div class="details">ช่วงวันที่ {% if activity.start_date and activity.end_date %}{{activity.start_date|abbr_date}} - {{activity.end_date|abbr_date}}{% else %}ไม่ระบุ{% endif %}</div>
			</li>
            {% endfor %}
        </ul>
        {% else %}
        <div class="ss_no_information">ไม่มีกิจกรรมที่ดำเนินอยู่</div>
        {% endif %}
    </div>
	<div class="activities">
        <h3>กิจกรรมในอนาคต</h3>
        {% if next_activities %}
        <ul>
            {% for activity in next_activities %}
            <li><a href="{% url view_activity_overview activity.id %}">{{activity.name}}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <div class="ss_no_information">ไม่มีกิจกรรมในอนาคต</div>
        {% endif %}
    </div>
</div>
{% endblock %}